/**
/* Materialize font
*/

$roboto-font-path: "../../fonts/roboto/";

/**
 * Materialize CSS
 * http://materializecss.com/
 */

@import 'materialize/materialize';

/**
 * Basic styles
 * 		variables:				Variables to use later
 * 		base: 					HTML & Body tags
 * 		typography: 			Typography styles
 * 		materialize-overwrite: 	Overwrite styles from Materialize that we don't need
 */
@import 'base/variables';
@import 'base/base';
@import 'base/typography';
@import 'base/materialize-overwrite';
@import 'base/breakpoints';

/**
 * Helpers
 */
@import 'helpers/clearfix';

/**
 * Components
 * 		btn:					Extends the default Materialize behavior with some useful classes
 * 		luya-container:			Size and position of the Sidebar and the Main container (luya-container__sidebar, luya-container__main)
 * 		modal:					Sizes and styling for modals
 * 		navbar:					Some Improvements to the normal materialize navbar
 * 		navbar:					Default styles for submenu (left side)
 *		toolbar:				Defines the .toolbar background and proportions
 */

@import 'components/material-icons';

@import 'components/alert';
@import 'components/angular-datepicker';
@import 'components/aws-gallery';
@import 'components/breadcrumb';
@import 'components/btn';
@import 'components/button-right';
@import 'components/checkbox-column-fix';
@import 'components/chosen';
@import 'components/colorwheel';
@import 'components/crud';
@import 'components/crud-loader-tag';
@import 'components/editlog';
@import 'components/filearray';
@import 'components/filemanager';
@import 'components/flag';
@import 'components/floating-form';
@import 'components/flow';
@import 'components/floating-button-label';
@import 'components/form';
@import 'components/form-group';
@import 'components/help';
@import 'components/help-overlay';
@import 'components/i18n';
@import 'components/icon';
@import 'components/imagearray';
@import 'components/imageupload';
@import 'components/input';
@import 'components/input-offset';
@import 'components/iconbar';
@import 'components/link-selector';
@import 'components/list';
@import 'components/loading-bar';
@import 'components/loading-indicator';
@import 'components/loading-overlay';
@import 'components/log';
@import 'components/luya-container';
@import 'components/menu-dropdown';
@import 'components/modal';
@import 'components/navbar';
@import 'components/ng-wig';
@import 'components/pagination';
@import 'components/search-box';
@import 'components/side-nav';
@import 'components/sidebar';
@import 'components/sortable';
@import 'components/spin';
@import 'components/submenu';
@import 'components/switch';
@import 'components/table';
@import 'components/toolbar';
@import 'components/tooltip';
@import 'components/useronline';
@import 'components/waves';
@import 'components/langswitch';
@import 'components/tabs';
@import 'components/toggler';
@import 'components/toasts';
@import 'components/variations';
@import 'components/debug-container';
@import 'components/zaa-sortrelation';
@import 'components/zaa-table';

// Curently disabled
// @import "components/user-menu";

/**
 * Layouts
 *		luya-container:			Dimensiions and positionng of the luya-container
 */
@import 'layouts/luya-container';
