.submenu__title {
	font-size: 1rem;
	margin-top: 20px;
	color: color("blue", "base");
	border-bottom: 1px solid color("blue", "base");
}

.submenu__item {
	width: 100%;
}

.submenu__link {
	text-align: left;
	width: 100%;
	margin-bottom: 2px;
	padding: 0 10px;

	&.active {
		background-color: rgba(color("blue", "base"), 0.4);
	}
}