.submenu__title {
	font-size: 1rem;
	margin-top: 20px;
	color: color("blue", "base");
	border-bottom: 1px solid color("blue", "base");
}

.submenu__item {
	text-align: left;
	padding: 0 10px;
	width: 100%;
	margin-bottom: 2px;

	&.active {
		background-color: rgba(color("shades", "black"), 0.2);
	}
}