/**
 * Materialize CSS
 * http://materializecss.com/
 */

@import "materialize/materialize";

/**
 * Basic styles
 * 		variables:				Variables to use later
 * 		base: 					HTML & Body tags
 * 		typography: 			Typography styles
 * 		materialize-overwrite: 	Overwrite styles from Materialize that we don't need
 */
@import "base/variables";
@import "base/base";
@import "base/typography";
@import "base/materialize-overwrite";

/**
 * Helpers
 */
@import "helpers/clearfix";

/**
 * Components
 * 		btn:					Extends the default Materialize behavior with some useful classes
 * 		luya-container:			Size and position of the Sidebar and the Main container (luya-container__sidebar, luya-container__main)
 * 		modal:					Sizes and styling for modals
 * 		navbar:					Some Improvements to the normal materialize navbar
 * 		navbar:					Default styles for submenu (left side)
 *		toolbar:				Defines the .toolbar background and proportions
 */
@import "components/alert";
@import "components/breadcrumb";
@import "components/btn";
@import "components/crud";
@import "components/filearray";
@import "components/filemanager";
@import "components/fileupload";
@import "components/flag";
@import "components/floating-form";
@import "components/floating-button-label";
@import "components/form";
@import "components/i18n";
@import "components/imagearray";
@import "components/imageupload";
@import "components/input";
@import "components/list";
@import "components/loading-bar";
@import "components/log";
@import "components/luya-container";
@import "components/modal";
@import "components/navbar";
@import "components/ng-wig";
@import "components/search-box";
@import "components/sidebar";
@import "components/submenu";
@import "components/switch";
@import "components/table";
@import "components/toolbar";
@import "components/useronline";
@import "components/waves";
@import "components/langswitch";
@import "components/tabs";
@import "components/debug-container";
@import "components/zaa-table";

// Curently disabled
// @import "components/user-menu";

/**
 * Layouts
 *		luya-container:			Dimensiions and positionng of the luya-container
 */
@import "layouts/luya-container";