/**
 * Overwrite Materialize.css
 */

/**
 * Rows sould not have a margin-bottom by default
 */
.row {
	margin-bottom: 0;
}

/**
 * In forms, row should have 5px margin-bottom, except the last one
 */
form .row {
	margin-bottom: 10px;

	&:last-of-type {
		margin-bottom: 0;
	}
}

/**
 * Overwrite default floated icon margin
 */
i.left {
	margin-right: 10px;
}
i.right {
	margin-left: 10px;
}

/**
 * Overwrite default table padding
 */
td, th {
	padding: 8px 5px;
	border-radius: 0;
}
tr {
	td {
	    word-break: break-all;
	}
}

/**
 * Overwrite default table hover
 */
table.hoverable {
	box-shadow: none;

	&:hover {
		box-shadow: none;
	}
}
table.hoverable tbody tr:hover {
	background-color: color("blue", "lighten-4");
}