/**
 * #LUYA-CONTAINER
 * Variable for the sidebar width
 */
$luya-container__sidebar--width: 300px;

/**
 * #SEARCH
 * Variables for the global search (navbar)
 */
$navbar__search--position: "left";
$navbar__search--width: 80%;
$navbar__search--width-mobile: 100%;

/**
 * #FILEMANAGER
 * Different variables to modify the filemanager
 */
$filemanager--base-color: "blue";
$filemanager__tree--width: 400px;