### TEMP FILES
*.tmp
*.bak
*.swp
*~.nib
*.launch
.DS_Store
.phpunit*
composer.lock

### ECLIPSE
.metadata
.project
.buildpath
.settings/
.loadpath
.externalToolBuilders/
.target
.texlipse

### PHPSTORM
.idea/
/.tern-project
.phpintel/

### LUYA
phpunit.xml
/vendor/
scripts/.subsplit
/build/

### Compile
scripts/.pid.*
scripts/.sass_log
.sass-cache
/.php_cs.cache
node_modules/
/repos/
/devconfig.json
luya
.php-cs-fixer
.php-cs-fixer.cache