language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  
sudo: false

install:
  - travis_retry composer self-update && composer --version
  - travis_retry composer global require "fxp/composer-asset-plugin:~1.0.3"
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - travis_retry composer install --prefer-dist --no-interaction
  
  script:
  - vendor/bin/phpunit --verbose