.alert {
	margin: 25px 0 10px 0;
	padding: 10px 0;
}

.alert--danger {
	color: color("red", "base");
}

.alert--success {
	color: color("green", "base");
}

.alert--warning {
	color: color("yellow", "darken-3");
}

.alert {

	i, ul, p, span {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
	}

	i {
		font-size: 54px;
		line-height: 54px;
		margin-right: 25px;
	}

}