/**
 * Extends the default Materialize behavior with some useful classes
 **/

.btn,
.btn-floating {
	// Overwrite default color
	background-color: color("green", "base");
	color: color("shades", "white");

	&:hover {
		background-color: color("green", "darken-2");
	}
}

/**
 * #BTN--SMALL
 * Decrease the default padding (left & right) on buttons
 **/
.btn--small {
	padding: 0 1rem;
}

/**
 * #BTN--BOLD
 * Bold button label
 **/
.btn--bold {
	font-weight: 500;
}

.btn:not(.btn-floating) {
    i {
        font-size: 24px; 
        line-height: 1; 
        position: relative;
        top: 6px;
    }
}