.filemanager__files td span,
.filemanager__files td img,
.filemanager__files td i,
.filemanager__files td label{
	vertical-align: middle;
}

.filemanager__tree,
.filemanager__files {
	display: inline-block;
	vertical-align: top;
}

/**
 * #TREE
 */
.filemanager__tree {
	width: $filemanager__tree--width;
}

.filemanager__folders {
	margin: 0;
}

.filemanager__toolbar {
	display: block;
	width: 100%;
	margin-bottom: 15px;
	@include clearfix;
}

.filemanager__main-folder {
	word-break: break-word;
	position: relative;
	padding: 8px 0 8px 25px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	cursor: pointer;
	display: block;

	> i {
		position: absolute;
		left: 0;
	}

	& > .filemanager__folders {
		margin-top: 8px;

		& .filemanager__folder:first-of-type {
			border-top: 1px solid rgba(0, 0, 0, 0.1);
		}
	}
	
	&:hover > .filemanager__folder-icon,
	&.active > .filemanager__folder-icon,
	&:hover > span,
	&.active > span {
		color: color($filemanager--base-color, "base");
	}
}

.filemanager__folder {
	word-break: break-word;
	position: relative;
	padding: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	display: block;

	&:last-of-type {
		border-bottom: 0;
	}

	& > .filemanager__folders {
		padding-left: 25px;
		
		& .filemanager__folder:first-of-type {
			border-top: 1px solid rgba(0, 0, 0, 0.1);
		}
	}
}
.filemanager__folder-name {
	padding-left: 10px,
}

.filemanager__folder-button {
	padding: 8px 0 8px 25px;
	cursor: pointer;
	
	&:hover > .filemanager__folder-icon,
	.filemanager__folder.active > & > .filemanager__folder-icon,
	&:hover >  span,
	.filemanager__folder.active > & > span {
		color: color($filemanager--base-color, "base");
	}
	
	.filemanager__folder-icon {
		position: absolute;
		left: 0;
		top: 6px;
	}

	.filemanager__folder-icon--active {
		display: none;
		// margin-top: -2px;
	}
	&:hover > .filemanager__folder-icon--active,
	.filemanager__folder.active > & > .filemanager__folder-icon--active {
		display: block;
	}
	&:hover > .filemanager__folder-icon--default,
	.filemanager__folder.active > & > .filemanager__folder-icon--default {
		display: none;		
	}
	.filmanager__thumb {
		max-width: 80px;
	}
	.filemanager__edit-icon,
    .filemanager__delete-icon {
		position: absolute;
		right: 0;
		opacity: 0;
		pointer-events: none;
		transition: 0.25s ease opacity;
        font-size: 22px;
        line-height: 28px;
        vertical-align: middle;
        margin: -5px;
	}
	.filemanager__cancel-btn {
		background-color: color("red", "base");
	}
	.filemanager__file-dialog {
		position: relative;
	    border-top: 1px solid #9e9e9e;
	    padding-top: 8px;
		span {
			vertical-align: top;
			margin-right: 20px;
			color: color("shades", "black");
		}

		
	}
	.filemanager__file-dialog__input {
		margin: -15px 0 0 0;
		padding-left: 10px;		
	    border-bottom: none;

	    &:focus:not([readonly]) {
	    	border-bottom: none;
    	    box-shadow: none;
	    }
	}
	.filemanager__file-dialog__icon {
		position: relative;
		top: -10px;
		color: color("teal", "lighten-1");
	}
    .filemanager__cancel-icon {
    	top: -5px;
        transform: rotate(45deg);
        font-size: 32px;
        color: color("red", "base");

    }

    .filemanager__edit-icon {
        right: 40px;
        font-size: 18px;
    }

	&:hover > .filemanager__edit-icon,
    &:hover > .filemanager__delete-icon {
		opacity: 1;
		pointer-events: auto;
	}
}

/**
 * #FILES
 */
.filemanager__files {
	padding-left: 20px;
	width: calc(100% - #{$filemanager__tree--width});
}

.filemanager__file {
	cursor: pointer;
}

.filemanager__checkox-column {
	width: 50px;

	& i {
		font-size: 1.7rem;
	}
	& label {
		margin-top: -4px;
		margin-left: 3px;
		padding-left: 22px;
		height: 19px;
	}
}

.filemanager__icon-column {
	text-align: center;
	width: 150px;
}

.filemanager__upload-overlay {
	  position: fixed;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: rgba(0,0,0,0.8);
	  z-index: 1000;
}

.filemanager__upload-content {
	position: absolute;
	top: 20%;
	width: 100%;
	text-align: center;
}

.filemanager__upload-title {
	text-align: center;
 	line-height: 1.4;
	color: #fff;
}
.filemanager__upload-loader {
	margin-top: 100px;
}

.file__progress {
	transition: 0.5s ease width;
	will-change: width;
}
.file__icon {
	float: right;
	transition: 0.5s ease margin-right;
	will-change: margin-right;
	margin-right: -200px;
	color: color("teal", "base");
	font-size: 2rem;
}
.file--completed {
	@include clearfix;
	
	.file__progress {
		float: left;
		width: calc(100% - 50px);
	}
	.file__icon {
		margin-top: -4px;
		margin-right: 5px;
	}
}