.filearray .col {
    padding: 0;
}

.filearray  label {
    left: 16px;
}

.filearray .filearray__description-input {
    margin-bottom: 0;
    margin-top: 0;
    height: auto;
    padding-top: 13px;
    padding-bottom: 7px;
}

.filearray .input-field {
    margin-top: 15px;
    padding-left: 15px;
}

.filearray .list__delete-button {
    margin-top: 12px;
}