.floating-button-label {
	font-size: inherit; // Overwrite smaller label styles
	cursor: pointer;

	.btn-floating {
		margin-right: 5px;
		vertical-align: middle;
	}
	&:hover .btn-floating {
		@extend .z-depth-1-half;
	}

	.floating-button-label__label {
		color: color("teal", "base");
		vertical-align: middle;
	}
	&.floating-button-label--input-visible .floating-button-label__label {
		display: none;
	}
}