.input-field label {
	font-size: 0.9rem !important;
	transform: translateY(-140%);
}

.input-field textarea + label {
	margin-top: 3px !important;
}

.input-field input[type="checkbox"] + label {
	font-size: 1rem !important;
	transform: translateY(0) !important;
	left: 0 !important;
	top: 0 !important;
}

select {
	max-width: 700px;
}

textarea.materialize-textarea {
	border-top: 1px solid #f0f0f0 !important;
	border-right: 1px solid #f0f0f0 !important;
	border-left: 1px solid #f0f0f0 !important;
	padding: 10px !important;
	margin-top: 10px !important;
	width: calc(100% - 20px) !important; // Subtract the 20px padding from the default 100% width

	& + label {
		margin: 10px 0 0 10px;

		&.active {
			margin-top: 3px;
		}
	}
}

.form__datepicker {
	margin: 15px 0;

	label {
		display: block;
	}
	input {
		display: inline-block;
		width: 80px;
		margin: 0 10px 15px 10px;
		text-align: center;

		&:first-of-type {
			margin-left: 0;
		}
		&:last-of-type {
			margin-right: 0;
		}
	}
}

.form__datetimepicker {
	@extend .form__datepicker;
}