.imageupload__filter,
.imageupload__preview {
	display: block;
	vertical-align: top;
	margin-top: 10px;
	width: 100%;

	@media (min-width: 1500px) {
		display: inline-block;
	}
}

.imageupload__preview {
	position: relative;
	font-size: 0;
	min-height: 100px;
	max-width: 100%;
	text-align: center;

	img {
		max-width: 100%;
		height: auto;
		max-height: 100px;
		opacity: 1;
	}
}

.imageupload__loading {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(color("shades", "black"), 0.5);
}

.imageupload__loading .preloader-wrapper {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -32px;
	margin-left: -32px;
}

@media (min-width: 1500px) {
	.imageupload__filter {
		width: 50%;
		padding-right: 5px;
	}

	.imageupload__preview {
		width: 49%;
		margin-left: 5px;
	}
}