$input-font-size:			1rem;
$input__label-font-size: 	$input-font-size;
$input__input-font-size: 	$input-font-size;

$input--border-color:		rgba(0, 0, 0, 0.1);
$input--label-color:		rgba(0, 0, 0, 0.5);

$input__label-width:		210px;
$input__label-padding:		15px;

$input--date-width:			50px;

.input {
	font-size: 0;
	line-height: 0;
}

.input__label {
	display: inline-block;
	width: $input__label-width;
	color: $input--label-color;
	font-size: $input__label-font-size;
	line-height: $input__label-font-size + 0.1;
	cursor: pointer;
	vertical-align: middle;
	word-wrap: break-word;
	padding-right: $input__label-padding;
	text-align: right;

	.input--vertical & {
		display: block;
		width: 100%;
		text-align: left;
		margin-bottom: 5px;
	}

	.input--single-checkbox & {
		padding: 0 ($input__label-padding + 20px) 0 0;
		width: $input__label-width + 20px;
		height: auto;

		&:before {
			margin-left: $input__label-width;
			border-color: $input--label-color;
			top: 50%;
			margin-top: -9px;
		}
	}

	.input--hide-label & {
		display: none;
	}

	.input--multiple-checkboxes &,
	.input--radios &,
	.input--image-upload &,
	.input--image-array &,
	.input--file-upload &,
	.input--file-array &,
	.input--list & {
		vertical-align: top;
	}

	.input--multiple-checkboxes &,
	.input--radios & {
		margin-top: 5px;
	}
}
.input__searchfield {
    border: 1px solid #FAFAFA;
    background-color: #fff;
    transition: 0.25s ease background-color;
    &:focus {
    	outline: none;
    	background-color: rgba(0,0,0,0.1);
    }
}

input[type="checkbox"]:checked + .input__label:before {
	top: 50%;
	margin-top: -13px;
}

.filearray > .input__field-wrapper,
.imagearray > .input__field-wrapper {
	border: 1px solid $input--border-color;
	border-radius: 3px;
}	

.input__field-wrapper {
	padding: 5px;
	position: relative;
	display: inline-block;
	width: calc(100% - #{$input__label-width});
	vertical-align: middle;
	font-size: $input-font-size;
	line-height: $input-font-size;

	.input--vertical & {
		display: block;
		width: 100%;
		text-align: left;
	}

	.input--hide-label & {
		width: 100%;
	}
}

.input .input__field {
	position: relative;
	z-index: 10;
	margin: 0;
	height: auto;
	font-size: $input__input-font-size;
	line-height: $input__input-font-size + 0.1;
	padding: 10px 10px 7px 10px;
	outline: none;
	vertical-align: middle;
	width: 100%;
	background-color: #fff;
	transition: 0.25s ease background-color;
	border: 1px solid $input--border-color;

	&:focus {
		background-color: $input--border-color;
	}
}

.input__divider {
	display: inline-block;
	color: color("shades", "black");
	vertical-align: bottom;
	margin: 0 10px;

	&.input__divider--centered {
		vertical-align: middle;
	}

	&.input__divider--icon {
		margin-bottom: -4px;
	}
}

// Custom styling for inputs without label
.input--hide-label .input__field {
	width: 100%;
}

// Custom date styling
.input--date .input__field {
	display: inline-block;
	width: $input--date-width;
	border: 1px solid $input--border-color !important;
	text-align: center;
}

// Custom behavior for select boxes
.input--select .input__field {
    margin-left: 5px;
	display: inline-block;
	width: calc(100% - (#{$input__label-width} + 5px));
	border: 1px solid $input--border-color !important;
}

// Custom behavior for textareas
.input--textarea .input__field {
	resize: vertical;
	padding: 15px 10px;
	height: 100px;
}

[type="checkbox"] + label,
[type="radio"] + label {
	padding-left: 30px !important;
}

.input__button {
	margin-left: 15px;
}