.list {
	margin-bottom: 20px;
}

.list__item {
	display: block;
	position: relative;
	width: 100%;
	margin-bottom: 10px;
}

.list__left,
.list__right {
	display: inline-block;
	vertical-align: top;
}

.list__left {
	width: calc(100% - 50px);

	input {
		width: 100%;
		max-width: 100%;
		margin-bottom: 0;
		margin-top: -6px;
	}
}

.list__right {
	width: 40px;
	margin-left: 10px;
}

.list__add-button {
	margin-top: 5px;
}