.loading-overlay {
	  position: fixed;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: rgba(0,0,0,0.8);
	  z-index: 1000;
}

.loading-overlay__content {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	transform: translateY(-50%);
}

.loading-overlay__title {
	text-align: center;
 	line-height: 1.4;
	color: #fff;
}
.filemanager__loader {
	margin-top: 100px;
}