/**
 * Set height of the sidebar and main containers
 */
.luya-container__sidebar,
.luya-container__main {

	// Display & Dimensions
	display: inline-block;

}

/**
 * Width of the main container
 */
.luya-container__main {

	// Positioning
	padding-left: $luya-container__sidebar--width;

	// Dimensions
	width: 100%;
	min-height: 100%;

	// Look & Feel
	background-color: color("grey", "lighten-4");

    z-index: 5;

	&.luya-container__main--liveedit-active {
		width: 60%;
        padding-left: $luya-container__sidebar--width + $luya-container__sidebar--liveedit-active-margin; // Cause the margin value is negative, "add" the value
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	}
}

/**
 * Width of the sidebar container
 */
.luya-container__sidebar {

	// Positioning
	position: fixed;
	top: $navbar-height;
	bottom: 0;
	left: 0;

	// Dimensions
	width: $luya-container__sidebar--width;

	// Look & Feel
	background-color: color('shades', 'white');
	overflow: auto;

    z-index: 15;

    transition: 0.25s ease margin-left;

    &.luya-container__sidebar--liveedit-active {
        margin-left: $luya-container__sidebar--liveedit-active-margin;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

        &:hover {
            margin-left: 0;
        }
    }

	@media #{$small-and-down} {
		top: $navbar-height-mobile;
	}
}

.luya-container__liveedit {
    position: fixed;
    right: 0;
    top: $navbar-height;
	bottom: 0;
	display: none;
	width: 40%;
	height: auto;

	&.luya-container__liveedit--active {
		display: block;
	}
}