.modal__wrapper {
	display: none;
}

.modal {
	display: block;
	overflow: auto;
	position: fixed;
	left: 2.5%;
	top: 10% !important;
	right: 2.5%;
	max-height: 95%;
	width: 90%;
	z-index: 1010;
}

.modal__background {
	background-color: rgba(#000, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
}

.modal__close {
	position: absolute;
	right: 5px;
	top: 5px;
}

.modal--bottom-sheet {
  	top: auto !important;
	bottom: 0 !important;
	margin: 0;
	width: 100%;
	border-radius: 0;
	max-height: 45%;
	will-change: transform;
	overflow: auto;
	transition: 0.25s ease transform;
	transform: translateY(100%);
	left: 0 !important;
	right: 0 !important;
	
	&.modal--active {
		transform: translateY(0%);
	}	 
}

.modal__header {

	// Look & feel
	background-color: color("blue", "base");
	color: #fff;

		// Spacing
	// The Materialize columns will give the content hotizontal padding
	padding: 10px 0;

	// Custom override for modal__header
	h5 {
		margin: 0;
		padding-top: 4px;
	}

	// Custom overwrite for icons in modal__header h5
	h5 i {
		vertical-align: text-top;
	}

	// Custom pointer style for close icon in modal__header
	.mdi-navigation-close {
		cursor: pointer;
	}

}

.modal__content {
	padding: 20px 0;
}

.modal__footer {
	border-top: 1px solid color("grey", "lighten-2");
	padding: 20px 0;
}

.modal__overlay {
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: rgba(0,0,0,0.8);
	  z-index: 1000;
}