.search-box {
	background-color: color("shades", "white");
	position: fixed;
	top: 55px;
	transition: 0.25s ease height;

	width: $navbar__search--width-mobile;
	@media (min-width: 600px) {
		top: 64px;
		width: $navbar__search--width;
	}

	z-index: 800;
	overflow: auto;
	height: 0;
	#{$navbar__search--position}: 0;

	@extend .z-depth-1;

	&.search-box--open {
		padding: 10px;
		height: calc(100% - 64px);
	}
}

.search-box__group-title {
	display: block;
	margin: 10px 0 15px 5px;
	padding-top: 10px;
	color: color("teal", "base");
	font-size: 1rem;
	border-top: 2px solid color("teal", "base");

	i {
		margin-top: -2px;
	}
}

.search-box th:first-letter,
.search-box td:first-letter {
	text-transform: uppercase;
}

.search-box tr:hover td {
	background-color: map_get($teal, "lighten-2");
	color: #fff;
	user-select: none;
	cursor: pointer;
}