.search-box {
	background-color: color("shades", "white");
	position: fixed;
	top: 55px;
	transition: 0.25s ease height;

	width: $navbar__search--width-mobile;
	@media (min-width: 600px) {
		top: 64px;
		width: $navbar__search--width;
	}

	z-index: 800;
	overflow: auto;
	height: 0;
	#{$navbar__search--position}: 0;

	@extend .z-depth-1;

	&.search-box--open {
		padding: 10px;
		height: calc(100% - 64px);
	}
}