// Internet Explorer

// IE 10
body[class*='internet-explorer-'] {

    /**
     * ====================
     * Block
     * ====================
     */

    .block-toolbar {
        display: none;
    }

    .block:hover > .block-toolbar,
    .block-is-layout > .block-toolbar,
    .block-is-layout:hover > .block-toolbar {
        display: flex;
    }

    .cmsadmin-frame {
        height: calc(100vh - 25px);
    }

}