/**
 * Base colors
 */

$white: #fff;
$black: #000;
$grey: #f5f5f5;

$blue: #2196F3;
$teal: #009688;

/**
 * Page settings
 */
$page--background: 					$white;
$page__header--background:			$grey;
$page__header--color:				$black;

/**
 * Collapsible
 */
$collapsible__header--background:	$white;
$collapsible__header--color:		$black;
$collapsible--background:			$grey;

/**
 * Blocks
 */
$block--background:					$white;
$block--active-background:			$white;
$block--background-is-dirty:		#b3e5fc;

$block__toolbar--height:			37px;
$block__toolbar--background:		$blue;
$block__toolbar--color:				$white;