p, span {
	font-size: 1rem;
	line-height: 1.2rem;
	margin: 0;
}

blockquote {
	font-style: italic;

	&:before {
		display: inline-block;
		content: "«";
		margin-right: 5px;
	}
	&:after {
		display: inline-block;
		content: "»";
		margin-left: 5px;
	}
}

ul, ol {
	padding: 0;
	margin-left: 30px;
}

ul, ul li {
	list-style-type: disc;
}

ol, ol li {
	list-style-type: decimal;
}