<?php

defined('YII_DEBUG') or define('YII_DEBUG', true);
defined('YII_ENV') or define('YII_ENV', 'dev');

return [
    'id' => 'phpunit', // For best interoperability it is recommended that you use only alphanumeric characters when specifying an application ID
    'siteTitle' => 'phpunit-Env', // The name of your site, will be display on the login screen
    'basePath' => dirname(__DIR__),
    'defaultRoute' => 'cms', // set the default module
    'luyaLanguage' => 'en',
    'modules' => [
        'cms' => 'luya\cms\frontend\Module',
        'cmsadmin' => 'luya\cms\admin\Module',
        'admin' => 'luya\admin\Module',
        'data' => 'app\modules\data\Module',
    ],
    'components' => [
        'errorHandler' => [
            'transferException' => false,
        ],
        'db' => [
            'class' => 'yii\db\Connection',
            'dsn' => 'mysql:host=localhost;dbname=luya_env_phpunit',
            'username' => 'root',
            'password' => 'defaultPassword',
            'charset' => 'utf8'
        ],
    ],
    'bootstrap' => [
        'cms',
    ]
];