/**
 * #COLLAPSIBLE__HEADER
 */
.collapsible__header {
	background-color: $collapsible__header--background;
	color: $collapsible__header--color;
}

/**
 * #COLLAPSIBLE__BODY
 */
.collapsible__body {
	background-color: $collapsible--background;
	padding: 20px;
	overflow: visible;

	p {
		margin: 0;
		padding: 0;
	}
}