/**
 * #PAGE
 */
.page {
	background-color: $page--background;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

/**
 * #PAGE__HEADER
 */
.page__header {
	background: $page__header--background;
	color: $page__header--color;
	padding-left: 5px;
}

.page__content {
	background-color: $page--background;
	padding: 10px 0;
}