/**
 * #PAGE
 */
.page {
	background-color: $page--background;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

/**
 * #PAGE__HEADER
 */
.page__header {
	background: $page__header--background;
	color: $page__header--color;
	padding-left: 5px;
}

/**
 * #PAGE__CONTENT
 */
.page__content {
	background-color: $page--background;
	padding: 10px 0;
}

/**
 * #PAGE__DROP
 */
.page__drop {
	height: 3px;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	display: block;
	transition: 0.25s ease transform, 0.4s ease background-color;
	position: relative;
}

.page--drop-active .page__drop {
	transform: scale(1, 4);
	background-color: $blue;

	&:hover {
		transform: scale(1, 8);
		background-color: $teal;
		z-index: 20;
	}
}