/**
 * #TREEVIEW__LIST
 */
.treeview__list {
	margin: 0;

	& .treeview__list {
		margin-left: 20px;
	}
}

.treeview__title {
	font-size: 1rem;
	margin-top: 20px;
	color: $blue;
	border-bottom: 1px solid $blue;
}

/**
 * #TREEVIEW__ITEM
 */
.treeview__item {
	margin-bottom: 2px;
}

/**
 * #TREEVIEW__BUTTON
 */
.treeview__button {
	text-align: left;
	padding: 0 10px;
	width: 100%;

	&.active {
		background-color: rgba($blue, 0.4);
	}
}