.accordion {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin: 0.5rem 0 1rem 0;

    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    position: relative;
}

.accordion__header {
    background-color: #fff;
    color: #000;
    display: block;
    cursor: pointer;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
    border-bottom: 1px solid #ddd;

    i {
        width: 2rem;
        font-size: 1.6rem;
        line-height: 3rem;
        display: block;
        float: left;
        text-align: center;
        margin-right: 1rem;
    }
}

.accordion__body {
    background-color: $collapsible--background;
    height: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;

    p {
        margin: 0;
        padding: 0;
    }
	.accordion__empty-message {
		text-align: center;
		margin: 10px 0;
	}
}

.accordion__entry--open > .accordion__body--empty:after {
    display: block;
    content: "";
    background: url("../img/empty-placeholder-arrow.png") top left no-repeat;
    width: 100px;
    height: 40px;
    position: absolute;
    right: -18px;
    background-size: cover;
    opacity: 0.5;
}

.accordion__body .accordion__body--empty:after {
    display: none;
}


.accordion__entry--open > .accordion__body {
    height: auto;
    padding: 0 10px;
}