.blockholder {
	background-color: #4E4E4E;
	padding: 20px 10px;
	height: 100%;
	z-index: 10 !important;
	overflow: auto;
}

.blockholder__group {
	margin-bottom: 20px;
}

.blockholder__group--clipboard {
	background-color: #fff;
	padding: 10px;
}

.blockholder__group-title {
	display: block;
	font-weight: 400;
	color: #fff;
	margin-bottom: 5px;

	i {
		font-size: 20px;
	}

	&:first-of-type {
		margin-top: 0;
	}
}

.blockholder__group-title--clipboard {
	color: #000;
}

.blockholder__search {
	position: relative;
	color: white;
	margin-bottom: 15px;
}

.blockholder__input {
	box-sizing: border-box;
	height: 2rem;
	width: 100%;
	background-color: transparent;
	border: 1px solid #fff;
	padding: 6px 15px 5px 30px;
	outline: none;
}

.blockholder__input:focus,
.blockholder__search--active .blockholder__input {
	color: #000;
	background-color: #fff;
}

 .blockholder__icon {
    position: absolute;
    top: 0;
    height: 100%;
    cursor: pointer;

    &.blockholder__icon--search {
        left: 0;
        padding-top: 4px;
        padding-left: 4px;
    }

    &.blockholder__icon--cancel {
        right: 0;
        color: black;
        padding-top: 2px;
        padding-right: 2px;
        i {
        	font-size: 16px;
        }
    }
}

.blockholder__input:focus + .blockholder__icon--search,
.blockholder__search--active .blockholder__icon--search {
	color: #000;
}

.blockholder__block {
	background-color: #4E4E4E;
	font-size: 13px;
	line-height: 20px;
	cursor: move;
	display: inline-block;
	color: rgba($white, 0.5);
	padding: 4px 5px;
	border: 1px dashed rgba($white, 0.5);
	margin-right: 10px;
	transition: 0.2s ease background-color, 0.2s ease color, 0.2s ease border-color, 0.2s ease box-shadow;
	user-select: none;
	width: 100%;
	text-align: left;
	margin-bottom: 5px;
	z-index: 100 !important;

	i {
		margin: 0 !important;
		font-size: 16px;
		vertical-align: middle;
		width: 20px;
	}

	span {
		margin-top: 1px;
		display: inline-block;
		vertical-align: middle;
		width: calc(100% - 30px);
	}

	&:hover,
	&.ui-draggable-dragging {
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
		background-color: $white;
		color: $black;
		border-color: $black;
	}

	&.ui-draggable-dragging {
		z-index: 10000 !important;
	}
}