$mainnav-height: 64px;
$cms__sidebar--width: 200px;
$cms__pages--width: calc( 100% - #{$cms__sidebar--width} );
$cms__pages--width-full: 100%;

.cms {
	position: relative;
}

.cms__pages, .cms__sidebar {
	display: inline-block;
}

.cms__pages {
	width: $cms__pages--width;
	// transition: 0.25s ease width;
}
.cms--sidebar-hidden .cms__pages {
	width: $cms__pages--width-full;
}

.cms__sidebar {
	background-color: #4E4E4E;
	width: $cms__sidebar--width;
	position: fixed;
	top: $mainnav-height;
	bottom: 0;
	z-index: 10;
	// transition: 0.25s ease right;
}
.cms--sidebar-hidden .cms__sidebar {
	right: -$cms__sidebar--width;
}

.cms__prop-toggle {


	&:active {
		animation: rotate90 1s forwards;
	}
}