.liveedit {
    padding-left: 10px;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 10px;
        background-color: $light-blue-accent-3;
        cursor: ew-resize;
    }
}

.liveedit__cover {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: none;
    top: 0;
    left: 0;
}

.liveedit__iframe-wrapper {
    height: 100%;
}

.liveedit__iframe {}