$treeview--padding: 5px;

.treeview__button {
	display: block;
	background-color: $grey;
	color: $black;
	width: 100%;
	padding: 5px $treeview--padding;
	vertical-align: middle;
	text-align: left;
	transition: 0.25s ease background-color;

	span,
	i {
		position: relative;
		vertical-align: middle;
	}

	span {
		display: inline-block;
		margin-top: 2px;
	}

	&:hover {
		background-color: $grey--darken;
	}

	& + .treeview__button {
		margin-top: 5px;
	}
}

.treeview__icon-holder {
	display: inline-block;
	padding: 0 8px;
}

.treeview__button--create {
	background-color: $green;
	color: $white;

	&:hover {
		background-color: $green--darken-3;
	}
}

.treeview__button--switch {
	padding: 0;

	&.treeview__button--switch-active {
		background-color: $grey--darken;
	}

	label {
		display: block;
		padding: 10px $treeview--padding;
		width: 100%;
		height: 100%;
	}

	.lever {
		margin: 0 ($treeview--padding + 11px);
	}
}

.treeview__text-icon {
	font-size: inherit;
	margin-left: 5px;
	margin-top: -2px;
}

.treeview__title {
	user-select: none;
	font-size: 14px;
	line-height: 100%;
	cursor: pointer;

	span,
	i {
		display: inline-block;
		vertical-align: middle;
	}
}

.treeview__title-icon {
	transform: rotate(180deg);
	transition: 0.25s ease transform;

	&.treeview__title-icon--closed {
		transform: rotate(0deg);
	}
}

.treeview__list .treeview__list {
	margin-top: 5px;
	margin-left: 10px;
}

.treeview__item {

	& + .treeview__item {
		margin-top: 5px;
	}
}

.treeview__link {
	position: relative;
	cursor: pointer;
	user-select: none;

	&.treeview__link--active {
		background-color: $grey--darken;
	}

	&:after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 5px;
		background-color: $red;
		transition: 0.25s ease background-color;
	}

	&.treeview__link--is-online:after {
		background-color: $green--accent-4;
	}

	&.treeview__link--hover {
		background-color: $green--accent-4;
	}
}

.treeview--drag-active .treeview__link {
	cursor: move;
}

.treeview--drag-active .treeview__drop {
	display: block;
	height: 10px;
	width: 100%;
	background-color: rgba($green--accent-4, 0.5);
	margin: 5px 0;

	&.treeview__drop--hover {
		background-color: $green--accent-4;
	}
}