$treeview--padding: 5px;

.treeview__button {
	display: block;
	background-color: $white;
	color: $black;
	width: 100%;
	padding: 2px $treeview--padding;
	vertical-align: middle;
	text-align: left;
	transition: 0.25s ease background-color;

	i {
		font-size: 1.2rem;
	}

	span,
	i {
		position: relative;
		vertical-align: middle;
		cursor: pointer;
	}

	span {
		display: inline-block;
		word-break: break-word;
		margin-top: 2px;
		width: calc(100% - 50px);
	}

	&:hover {
		background-color: $grey;
	}

	& + .treeview__button {
		margin-top: 5px;
	}
}

.treeview__icon-holder {
	display: inline-block;
	padding: 0 4px 0 8px;
	width: 28px;
}

.treeview__button--create,
.treeview__button--draft {
	padding: 10px $treeview--padding;
}

.treeview__button--create {
	background-color: $green;
	color: $white;

	&:hover {
		background-color: $green--darken-3;
	}
}

.treeview__button--switch {
	padding: 0;

	&.treeview__button--switch-active {
		background-color: $grey--darken;
	}

	label {
		display: block;
		padding: 10px $treeview--padding;
		width: 100%;
		height: 100%;
	}

	.lever {
		margin: -4px ($treeview--padding + 7px) 0 ($treeview--padding + 7px);
	}
}

.treeview__text-icon {
	font-size: inherit;
	margin-left: 5px;
	margin-top: -2px;
}

.treeview__title {
	user-select: none;
	font-size: 14px;
	line-height: 100%;
	cursor: pointer;

	span,
	i {
		display: inline-block;
		vertical-align: middle;
	}
}

.treeview__title-icon {
	transform: rotate(180deg);
	transition: 0.25s ease transform;

	&.treeview__title-icon--closed {
		transform: rotate(0deg);
	}
}

.treeview__list .treeview__list {
	margin-top: 2px;
	margin-left: 15px;
}

.treeview__item + .treeview__item {
	margin-top: 2px;
}

.treeview__link {
	background-color: $grey;
	position: relative;
	user-select: none;
	padding-right: 10px;

	&.treeview__link--hidden {
		background-color: #E0E0E0;
		opacity: 0.5;
	}

	&.treeview__link--active,
	&:hover {
		background-color: #b3e5fc;
	}

	&:after {
		content: "";
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 5px;
		background-color: $red;
		transition: 0.25s ease background-color;
	}

	&.treeview__link--is-online:after {
		background-color: $green--accent-4;
	}

	&.treeview__link--hover {
		background-color: $green--accent-4;
	}
}

.treeview__info-icons {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.treeview--drag-active .treeview__link {
	cursor: move;

	span, i {
		cursor: move;
	}
}

.treeview--drag-active .treeview__drop {
	display: block;
	height: 10px;
	width: 100%;
	background-color: rgba($green--accent-4, 0.5);
	margin: 5px 0;

	&.treeview__drop--hover {
		background-color: $green--accent-4;
	}
}

.treeview__toggler {
	margin-top: 1px;
	transform: rotate(0deg);
	transition: 0.25s ease transform;

	&.treeview__toggler--subnav-closed {
		transform: rotate(-90deg);
	}
}