$white: #fff;

$black: #000;
$black-light: #232526;

$gray-dark:                 #292b2c;
$gray:                      #4D4D4D;
$gray-light:                #8E8E8E;
$gray-lighter:              #eceeef;
$gray-lightest:             #F2F2F2;

$blue:                      #014B8B;
$orange:                    #FF7C3A;
$red-dark:                  #AC0031;
$red:                       #d9534f;
$purple:                    #AD1579;
$purple-light:              #C21888;
$pink:                      #FF006B;
$green:                     #79B744;
$teal:                      #77C4D3;

$pink-alpha-25:             rgba(255, 0, 107, .25);
$pink-alpha-50:             rgba(255, 0, 107, .5);
$pink-alpha-75:             rgba(255, 0, 107, .75);

$mainnav-colors: (
    background-color: $black-light,
    background: linear-gradient(to top, $black-light, #35383D),
    color: $white,
)