.accordion {
    margin: 0.5rem 0 1rem 0;

    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    position: relative;
}

.accordion__header {
    background-color: $accordion__header-bg;
    color: $white;
    display: block;
    cursor: pointer;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
    border-bottom: none;
	user-select: none;

    i {
        width: 2rem;
        font-size: 1.6rem;
        line-height: 3rem;
        display: block;
        float: left;
        text-align: center;
        margin-right: 1rem;
    }
}

.accordion__body .accordion__header {
    background-color: $accordion__header-bg--lighten;
}


.accordion__body {
    //background-color: $collapsible--background;
    //border-bottom: 1px solid $accordion__header-bg;
    //border-right: 1px solid $accordion__header-bg;
    //border-left: 1px solid $accordion__header-bg;
    height: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;

    p {
        margin: 0;
        padding: 0;
    }
	.accordion__empty-message {
		text-align: center;
		margin: 10px 0;
	}
}

.accordion__body .accordion__body {
    border-bottom: 1px solid $accordion__header-bg--lighten;
    border-right: 1px solid $accordion__header-bg--lighten;
    border-left: 1px solid $accordion__header-bg--lighten;
}

.accordion__entry--open > .accordion__body--empty:after {
    display: block;
    content: "";
    background: url("../../img/empty-placeholder-arrow.png") top left no-repeat;
    width: 100px;
    height: 40px;
    position: absolute;
    background-size: cover;
    opacity: 0.5;
    right: 0;
    bottom: -20px;
}

.accordion__body .accordion__body--empty:after {
    display: none;
}


.accordion__entry--open > .accordion__body {
    height: auto;
    padding: 10px;
    min-height: 50px;
    overflow: visible;
}
