.blockholder-column {
    max-width: 250px;
    min-width: 250px;
    padding-right: 0;
}

.blockholder {
    background-color: $gray;
    color: $white;
    display: block;
    height: 100%;
    padding: 15px;
    width: 100%;
    user-select: none;
}

.blockholder-search {
    border-bottom: 1px solid $white;
    display: block;
    margin: 0 0 30px;
    padding-right: 25px;
    position: relative;
    width: 100%;
}

.blockholder-search-input {
    background: none;
    border: none;
    color: $white;
    outline: 0;
    padding-top: 5px;
    width: 100%;
}

.blockholder-search-label {
    color: $white;
    display: inline-block;
    font-size: 20px;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.blockholder-group {
    margin: 0 0 30px;
}

.blockholder-group-title {
    display: block;
    margin-bottom: 5px;
    padding-left: 32px;

    .material-icons {
        font-size: 20px;
        margin-left: -28px;
        margin-right: -3px;
    }

    .blockholder-group-favorites & {
        color: $brand-primary;
    }
}

.blockholder-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.blockholder-item {
    border: 1px dashed transparent;
    padding: 4px 2px 3px 30px;
    position: relative;
    transition: .2s ease-in-out border;

    &:not(:first-of-type) {
        margin-top: 5px;
    }

    &:hover {
        border-color: $white;
        cursor: move;
    }

    .blockholder-icon {
        font-size: 20px;
        left: 3px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        + span {
            margin-left: 0;
        }
    }
}

.blockholder-favorite {
    background: none;
    border: none;
    color: $brand-primary;
    font-size: 16px;
    opacity: 0;
    padding-bottom: 3px;
    padding-top: 0;
    pointer-events: none;
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
    transition: .25s ease-in-out opacity, .25s ease-in-out color;

    .blockholder-item:hover & {
        cursor: pointer;
        opacity: 1;
        pointer-events: all;
    }
    &:hover {
        color: $red;
    }
}