$block-border-width: 1px !default;
$block-border-color: #B2B2B2 !default;
$block-padding: 10px !default;

.block {
    background-color: $white;
    border: $block-border-width solid transparent;
    border-radius: 0 0 $nav-tabs-border-radius $nav-tabs-border-radius;
    margin-top: 5px;
    padding: 0;
    position: relative;

    transition: .2s ease-in-out border-color, 0s .2s ease-in-out z-index;

    &:not(:last-of-type) {
        margin-bottom: 25px;
    }

    &-is-editing,
    &:hover {
        border-color: rgba($block-border-color, .5);
        transition: .2s ease-in-out border-color;
        z-index: 50;
    }

    &-is-editing {
        margin-bottom: 45px;

        &:not(:last-of-type) {
            margin-bottom: 45px;
        }
    }
    .block-is-layout > & {
        border-color: $block-border-color;
        border-radius: $nav-tabs-border-radius;

        &:hover {
            border-color: $block-border-color;
            border-radius: 0 0 $nav-tabs-border-radius $nav-tabs-border-radius;
        }
    }

    &:before,
    &:after {
        background-color: theme-color(primary);
        content: "";
        height: 5px;
        left: 0;
        display: none;
        position: absolute;
        right: 0;
        z-index: 1000;
    }
    &:before {
        top: -6px;
    }
    &:after {
        bottom: -6px;
    }

    &--drag-top:before {
        display: block;
    }
    &--drag-bottom:after {
        display: block;
    }
}

.block-toolbar {
    background-color: map-get($grays, 900);
    color: $white;
    display: flex;
    flex-wrap: wrap;
    left: -$block-border-width;
    opacity: 0;
    padding: 0 $block-padding;
    pointer-events: none;
    position: absolute;
    right: -$block-border-width;
    top: 0;
    transform: translateY(-80%);
    transition: .2s ease-in-out opacity, .2s ease-in-out transform;

    .toolbar-item {
        font-size: 20px;
    }

    .toolbar-button {
        background: none;
        border: none;
        color: $white;
        cursor: pointer;
        display: block;
        margin-left: 10px;
        transition: .25s ease-in-out background-color;

        &:hover {
            background-color: rgba(255, 255, 255, .2);
        }

        .block--is-dragging & {
            display: none;
        }
    }

    .block-is-editing > &,
    .block:hover > & {
        opacity: 1;
        pointer-events: all;
        transform: translateY(-100%);
    }

    .block-is-layout > &,
    .block-is-layout:hover > & {
        background-color: $block-border-color;
        opacity: 1;
        pointer-events: all;
        transform: none;
    }
}

.block-front,
.block-edit {
    padding: $block-padding;
}

.block-front {
    @include clearfix;

    h1, h2, h3, h4, h5 {
        color: $black;
    }

    > *:last-of-type {
        margin-bottom: 0;
    }

    .block-is-layout > & {
        padding: 0;

        .row > div[class^="col"] {
            padding: $block-padding $block-padding + 5;

            &:not(:last-of-type) {
                border-right: $block-border-width solid $block-border-color;
            }
        }

        > .row {
            margin: 0 -1px;

            &:not(:last-of-type) {
                border-bottom: $block-border-width solid $block-border-color;
            }
        }
    }

    .block-is-editing > & {
        display: none;
    }
}

.block-edit {
    display: none;

    .block-is-editing > & {
        display: block;
    }

    .tab-pane {
        border: $nav-tabs-border-width solid $nav-tabs-border-color !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

.block-edit-tabs {
    bottom: 0;
    display: flex;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
}

.block-edit-tab {
    background-color: $white;
    border: solid rgba($block-border-color, .5);
    border-radius: 0 0 $nav-tabs-border-radius $nav-tabs-border-radius;
    border-width: $block-border-width $block-border-width $block-border-width $block-border-width;
    cursor: pointer;
    margin-left: 10px;
    padding: 5px 10px;
    transform: translateY(100%);

    &.active {
        border-top-color: transparent;
    }
}