$block-border-width: 1px !default;
$block-border-color: #B2B2B2 !default;
$block-padding: 10px !default;

.block {
    background-color: $white;
    border: $block-border-width solid transparent;
    border-radius: $nav-tabs-border-radius;
    margin-top: 5px;
    padding: 0;
    position: relative;

    transition: .2s ease-in-out border-color, 0s .2s ease-in-out z-index;

    &:not(:last-of-type) {
        margin-bottom: 25px;
    }

    &:hover {
        border-color: rgba($block-border-color, .5);
        border-radius: 0 0 $nav-tabs-border-radius $nav-tabs-border-radius;
        transition: .2s ease-in-out border-color;
        z-index: 50;
    }

    .block-is-layout > & {
        border-color: $block-border-color;
        border-radius: $nav-tabs-border-radius;

        &:hover {
            border-color: $block-border-color;
            border-radius: 0 0 $nav-tabs-border-radius $nav-tabs-border-radius;
        }
    }

    &:before,
    &:after {
        background-color: theme-color(primary);
        content: "";
        display: none;
        height: 5px;
        left: 0;
        position: absolute;
        right: 0;
        z-index: 1000;
    }
    &:before {
        top: -6px;
    }
    &:after {
        bottom: -6px;
    }

    &--drag-top:before {
        display: block;
    }
    &--drag-bottom:after {
        display: block;
    }

    &-is-hidden .block-front {
        opacity: .3;
    }
    &-is-virgin .block-front {
        background-color: lighten(color(blue), 30);
    }

    .show-block-lines & {
        border-color: rgba($block-border-color, .5);
    }
}

.block-toolbar {
    background-color: map-get($grays, 900);
    color: $white;
    display: flex;
    flex-wrap: wrap;
    left: -$block-border-width;
    opacity: 0;
    padding: 0 $block-padding;
    pointer-events: none;
    position: absolute;
    right: -$block-border-width;
    transform: translateY(-100%);
    transition: .2s ease-in-out opacity;
    z-index: 1000;

    .toolbar-item {
        font-size: 20px;
    }

    .toolbar-button {
        background: none;
        border: none;
        color: $white;
        cursor: pointer;
        display: block;
        margin-left: 10px;
        transition: .25s ease-in-out background-color;

        &:hover {
            background-color: rgba(255, 255, 255, .2);
        }

        .block--is-dragging & {
            display: none;
        }
    }

    .block:hover > & {
        opacity: 1;
        pointer-events: all;
    }

    .block-is-layout > &,
    .block-is-layout:hover > & {
        background-color: $block-border-color;
        opacity: 1;
        pointer-events: all;
    }
}

.block-front,
.block-edit {
    padding: $block-padding;
}

.block-front {
    @include clearfix;
    cursor: pointer;
    overflow: auto;

    .block-is-layout > & {
        padding: 0;

        .row > div[class^="col"] {
            padding: $block-padding $block-padding + 5;

            &:not(:last-of-type) {
                border-right: $block-border-width solid $block-border-color;
            }
        }

        > .row {
            margin: 0 -1px;

            &:not(:last-of-type) {
                border-bottom: $block-border-width solid $block-border-color;
            }
        }
    }
}