.cmsnav {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

// ==================================================
// General lists
// ==================================================

.cmsnav-list {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;

    &:not(:first-of-type) {
        margin-top: 15px;
    }
}

// ==================================================
// Buttons
// ==================================================

.cmsnav-button:not(:first-of-type) {
    margin-top: 5px;
}

// ==================================================
// Switches
// ==================================================



// ==================================================
// Treeview
// ==================================================

.cmsnav-treeview {
    display: block;
}