.cmsnav {
    display: block;
    margin: 10px 0;
    width: 100%;
}

// ==================================================
// General lists
// ==================================================

.cmsnav__list {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;

    &:not(:first-of-type) {
        margin-top: 15px;
    }
}

// ==================================================
// Buttons
// ==================================================

.cmsnav__button:not(:first-of-type) {
    margin-top: 5px;
}

// ==================================================
// Switches
// ==================================================

// ==================================================
// Treeview
// ==================================================

.cmsnav__treeview {
    display: block;
}