.cmsadmin {
    display: flex;
    margin: 0 0 0 15px;
    min-height: 100%;

    @media (min-width: $mobile-nav-breakpoint) {
        margin: 0 $blockholder-width 0 15px;
    }

    > .row {
        flex: 1 1 100%;
        margin-right: 0;

        > .col > .row {
            flex: 1 1 100%;
            flex-wrap: nowrap;
        }


        > .col,
        > .col > .row > .col {
            align-items: stretch;
            flex-direction: column;
        }
    }
    @media (min-width: $mobile-nav-breakpoint) {
        > .row > .col,
        > .row > .col > .row > .col {
            display: flex;
        }
    }
}

.cmsadmin-blockholder-collapsed {

    @media (min-width: $mobile-nav-breakpoint) {
        margin: 0 $blockholder-width-small 0 15px;
    }

}

.cmsadmin-toolbar {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: $content-padding-y 0 30px;
    width: 100%;

    label {
        margin: 0;
    }
}

.cmsadmin-nav-tabs {
    display: flex;
    min-height: 43px;

    .nav-item:first-of-type {
        margin-left: 0;
        margin-right: 10px;
    }

    .nav-item-title {
        padding-left: 10px;
    }

    .nav-item-alternative {
        margin-left: 5px;

        > .flag {
            line-height: 44px;
            border-radius: $border-radius;
        }
    }
}

.cmsadmin-fallback-small {
    display: none;
}

.nav-tabs {
    &.has-enough-space + .cmsadmin-fallback-small {
        display: none;
    }
    &.not-enough-space {
        display: none;

        + .cmsadmin-fallback-small {
            display: block;
        }
    }
}

.cmsadmin-pages {
    display: flex;
    flex: 1 1 100%;
    padding: 0 0 15px;

    > .row {
        flex: 1 1 100%;

        > .col {
            display: flex;
            flex-direction: column;
            width: 100%;

            > .nav-tabs {
                border-bottom: 0;
                flex: 0 0 42px;
                z-index: 10;

                .nav-link {
                    background-color: transparent;
                    border-bottom: 0;

                    &.active {
                        border-bottom: 1px solid map-get($grays, 100);
                    }
                }

                .nav-item-alternative .nav-link {
                    background-color: transparent;
                }

                .nav-item-alternative:not(.nav-item-icon) a.nav-link {
                    margin-top: -1px;
                }
            }
        }
    }
}

.cmsadmin-page {
    border: solid $nav-tabs-border-color;
    border-radius: 0 $nav-tabs-border-radius 0 0;
    border-width: 1px 1px 0 0;
    flex: 1 1 100%;
    margin-top: -1px;
    padding: 10px 10px 10px 0;

    .cmsadmin-pages > .row > .col:last-of-type & {
        border-radius: 0;
        border-right: 0;
    }
}

.cmsadmin-container-title {
    margin-bottom: 10px;
    margin-top: 20px;

    .block-is-layout > .block > .block-front & {
        margin-top: 0;
    }
}

.cmsadmin-frame-wrapper {
    position: relative;
}

.cmsadmin-frame {
    border: none;
    bottom: 30px;
    display: block;
    height: calc(100% - 25px);
    left: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: calc(100% - 20px);
}