.menu-dropdown {
    clear: both;
    display: block;
    padding-top: 10px;

    .form-side > & {
        padding-top: 0;
    }
}

.menu-dropdown-toggle-all {
    font-size: 14px;
    cursor: pointer;

    i {
        font-size: 24px;
    }
}