/**
 * #PAGE
 */
.page {
    background-color: $page--background;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

/**
 * #PAGE__HEADER
 */
.page__header {
    padding-left: 5px;

    color: $page__header--color;
    background: $page__header--background;

    a i {
        color: $black;
    }
}

/**
 * #PAGE__VERSIONS
 */
.page__versions {
    padding: 0 10px 0 15px;

    text-align: right;

    background-color: $page__header--background;

    .modal {
        text-align: left;
    }
}

.page__versions-label {
    display: inline-block;

    margin-top: 4px;
    margin-right: 8px;

    vertical-align: top;

    color: darken($page__header--background, 30);
}

// Tab
.page__version {
    position: relative;
    z-index: 0;

    padding: 3px 10px 3px 10px;

    transition: .25s ease opacity, .25s ease background-color;
    vertical-align: bottom;

    opacity: .3;
    color: $black;
    border: 2px solid $accordion__header-bg;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    outline: 0;
    background-color: $white;

    &:hover {
        z-index: 1;
    }

    &:not(:last-of-type) {
        margin-right: 5px;
    }

    &:hover, &.page__version--visible {
        opacity: 1;
    }

    &.page__version--in-use {
        opacity: 1;
        color: $white;
        border-color: $blue;
        background-color: $blue;
    }

    &.page__version--add {
        padding: 7px 5px 6px 5px;

        transition: .15s ease color, .25s ease background-color;

        opacity: 1;
        color: $green;
        border-color: $green;

        &:hover {
            color: $white;
            background-color: $green;
        }

        i {
            font-size: 16px;

            margin: 0 0 -1px 0;
        }
    }
}

.page__version-popup {
    position: absolute;
    z-index: -1;
    top: -50px;
    right: -2px;

    display: none;

    width: auto;
    padding: 5px 10px;

    cursor: default;
    white-space: nowrap;

    color: $black;
    border: 1px solid $accordion__header-bg;
    border-radius: 5px;
    background-color: $white;

    &:before, &:after {
        position: absolute;
        right: 6px;
        bottom: -8px;

        width: 0;
        height: 0;

        content: '';

        border-top: 8px solid $black;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
    }

    &:after {
        bottom: -7px;

        border-top-color: $white;
    }
}

.page__version:hover .page__version-popup {
    z-index: 500;

    display: block;
}

.page__version--in-use .page__version-popup {
    color: $white;
    border-color: $blue;
    background-color: $blue;

    &:before {
        border-top-color: $blue;
    }
    &:after {
        display: none;
    }
}

.page__version-popup-buttons {
    display: inline-block;

    margin-left: 15px;

    * {
        vertical-align: middle;
    }

    i {
        font-size: 20px;
        line-height: 18px;

        cursor: pointer;

        &:not(:first-child) {
            margin-left: 5px;
        }
    }
}

.page__version-popup-mouse-bridge {
    position: absolute;
    right: -3px;
    bottom: -18px;

    display: block;

    width: 36px;
    height: 22px;
}

/**
 * #PAGE__CONTENT
 */
.page__content {
    padding: 0;

    background-color: #fbfbfb;
}

.page__no-padding {
    padding: 0;
}

.page__list {
    position: relative;

    margin: 0;
}

/**
 * #PAGE__DROP
 */
.page__drop {
    position: relative;

    display: block;

    width: 100%;
    height: 0;
    margin: 0;

    background-color: transparent;
}

.accordion__body > .page__drop:first-of-type .page__drop-zone {
    margin-top: 0;
}

.accordion__body > div:last-of-type .page__drop-zone {
    margin-top: -14px;
}

.page__drop-zone {
    position: absolute;
    z-index: 5;

    width: 100%;
    height: 15px;
    margin-top: -7.5px;

    transition: .25s ease background-color, .5s ease border-color, .25s ease height, .25s ease margin-top;
    pointer-events: none;

    border: none;
    background-color: transparent;
}

.page--drag-active .page__drop-zone {
    pointer-events: auto;

    background-color: rgba($page__drop-zone--background, .8);

    &.page__drop--hover {
        z-index: 10;

        height: 20px;
        margin-top: -10px;

        background-color: rgba(darken($page__drop-zone--background, 10), .8);
    }
}

.page__no-version-warning {
    position: relative;
    z-index: 10;

    margin: 0;
    padding: 18px;

    background-color: #fff;
}
