// ==================================================
// Treeview
// ==================================================

.treeview {
    display: block;
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding: 0;
    user-select: none;
}

// ==================================================
// Container styles
// ==================================================

.treeview__container {
    display: block;
    margin-top: 20px;
    position: relative;
    width: 100%;
}

// ==================================================
// Item lists
// ==================================================

.treeview__items {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;

    // Add indention if child of treeview__item
    .treeview__item > & {
        margin-left: 15px;
    }

    // Hide if collapsed
    .treeview__item--collapsed > & {
        display: none;
    }
}

.treeview__item {
    display: block;
    padding-top: 5px;
    position: relative;

    &:before {
        border-bottom: 1px solid lighten($gray, 45);
        border-left: 1px solid lighten($gray, 45);
        content: '';
        display: block;
        height: 18px;
        left: -4px;
        position: absolute;
        top: 0;
        width: 25px;
    }

    &:after {
        border-left: 1px solid lighten($gray, 45);
        content: '';
        display: block;
        height: 100%;
        left: -4px;
        position: absolute;
        top: 0;
    }

    &--lvl1:before,
    &--lvl1:after {
        display: none;
    }

    &:last-child:after {
        display: none
    }

    &--has-children:before {
        top: -1px;
        width: 7px;
    }
    &--collapsed:before {
        height: 19px;
    }
}

.treeview__label {
    display: block;
    padding: 0 35px 0 23px;
    position: relative;
    width: 100%;

    &--container {
        font-weight: bold;
        letter-spacing: .8px;
    }

    &:after {
        border-radius: 5px;
        content: "";
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 5px;
    }

    &--page:after {
        background-color: $green;
    }
    .treeview__item--isoffline &:after {
        background-color: $red;
    }

    .treeview__item--ishidden & {
        opacity: .5;
    }
}

.treeview__icon {
    font-size: 18px;
    height: 18px;
    left: 0;
    line-height: 1;
    position: absolute;
    top: 3px;
    width: 18px;

    &--right {
        left: auto;
        right: 10px;
    }

    &--collapse {
        top: 0;
        cursor: pointer;
        font-size: 24px;
        height: 24px;
        width: 24px;
        transition: .25s ease-in-out transform;

        .treeview__item--collapsed & {
            transform: rotate(-90deg) translateX(-1px);
        }
    }

    .material-icons {
        display: block;
    }
}

.treeview__link {
    border-radius: 5px;
    cursor: pointer;
    display: block;
    padding: 0 7px;
    width: 100%;

    &:hover {
        background-color: rgba(0, 0, 0, .1);

        .treeview__label--container & {
            background-color: transparent;
        }
    }
}