zaa-wysiwyg ul,
zaa-wysiwyg ol {
    margin-left: 30px;
    padding: 0;
}

zaa-wysiwyg ul,
zaa-wysiwyg ul li {
    list-style-type: disc;
}

zaa-wysiwyg ol,
zaa-wysiwyg ol li {
    list-style-type: decimal;
}
