/**
 * #BLOCK
 */
.block {
	background-color: $block--background;
	padding: 0;
	margin: 10px 0;
	position: relative;
	transition: 0.5s ease opacity;
	border-top: none;
	border-left: 0 solid transparent;
	border-bottom: 0 solid transparent;
	border-right: 0 solid transparent;
	min-height: 50px;
	border:1px solid #fbfbfb;

 	&:hover:not(.block--is-container):not(.block--edit) {
 		border:1px solid #9E9E9E;	
 	}

	&:hover > .block__toolbar,
	&.block--edit .block__toolbar,
	&.block--config .block__toolbar,
	&.block--is-container > .block__toolbar {
		display: block;
	}
	&:last-of-type {
		margin-bottom: 0;
	}
	&.block--is-dirty:not(.block--edit):not(.block--config) {
		background-color: $block--background-is-dirty;
	}
	&:not(.block--edit):not(.block--config).block--is-hidden {
		opacity: 0.5;
	}
	&.block--edit, &.block--config {
		background-color: $block--active-background;
		border-left: 4px solid $block--toolbar--background;
		border-bottom: 4px solid $block--toolbar--background;
		border-right: 4px solid $block--toolbar--background;
	}

	.accordion {
		margin: 0 10px 10px 10px;
	}
	&.block--is-container > .accordion {
		margin: 0;
	}

	&.block--is-container {
		padding-top: 32px;
	}

	&--first {
		margin-top: 0;
	}
	&--last {
		margin-bottom: 0;
	}
}

.page--drag-active .block--is-container {
	border-color: $grey--darken !important;
}

.block__toolbar {
	background-color: $block__toolbar--background;
	color: $block__toolbar--color;
	font-size: 18px;
	padding: 2px 10px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	user-select: none;
	z-index: 10;
	transition: 0.5s ease background-color, 0.3s ease color;

	i {
		font-size: 22px;
		vertical-align: middle;
		cursor: pointer;
	}
	span {
		vertical-align: middle;
		cursor: pointer;
	}

	display: none;
}

.block__toolbar__icon {
    transition: 0.2s ease color;

    &:hover {
        color: $block__toolbar__icon--hover;
    }
    &.block__toolbar__icon--active {
        color: $block__toolbar__icon--active;
    }
}

.block--is-hidden:not(.block--is-container):not(.block--edit):not(.block--config) .block__toolbar {
	background-color: $block--hidden__toolbar-background;
	color: $black;
}
.page--drag-active .block:not(.block--is-container) .block__toolbar {
	display: none;
}
.page--drag-active .block--is-container .block__toolbar {
	background-color: $grey--darken !important;
	z-index: 1;
}

.block__move {
	cursor: move;
	margin-right: 15px;
}

.block__title {
	display: inline-block;

	p {
		display: inline-block;
		vertical-align: middle;
	}
}

.block__body {
	display: block;
	height: 100%;
	padding: 20px 10px;
	cursor: pointer;
	@include clearfix;
}
.block--is-container > .block__body {
	display: none;
}
.block--edit .block__body {
	display: none;
}

.block__edit {
	display: none;

	.collapsible {
		margin-top: 30px;
	}
}
.block__edit-content {
	display: none;
	padding-right: 40px; // This padding is needed to give a little bit of space if there is a "help" icon
}
.block--edit .block__edit {
	display: block;
	height: 100%;
	padding: ($block__toolbar--height + 5px) 10px 0 10px;

	.block__edit-content {
		display: block;
	}
}

.block--config .block__body {
	display: none;

	.collapsible {
		margin-top: 30px;
	}
}
.block--config .block__edit {
	display: block;
	height: 100%;
	padding: ($block__toolbar--height + 5px) 10px 0 10px;

	.block__config-content {
		display: block;
	}
}
.block__config-content {
	display: none;
}

.block__config__text {
    font-size: 1rem;
    font-weight: bold;
    line-height: 36px;
    text-align: left;
    text-transform: uppercase;
    vertical-align: middle;
}
.block__config__text-section {
    color: $lime;
}

.block__help {
	position: absolute;
	right: 10px;
}

@each $depth, $color in $container-block--colors {
	$selector: "";
	@while $depth > 0 {
		$selector: $selector + ".block--is-container ";
		$depth: $depth - 1;
	}

	#{$selector} {
		//border-left: 4px solid #{$color};
		//border-bottom: 4px solid #{$color};
		//border-right: 4px solid #{$color};


		> .block__toolbar {
			background-color: #{$color};
		}
	}
}
