* {
    font-family: 'Open Sans', sans-serif;
}

#content {
   margin-top:20px; margin-bottom:100px; 
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #ff9058;
}

.footer .container ul {
    margin:0px; padding:20px 0px; color:white; list-style-type:none;
}

.footer .container ul li {
    display:inline-block; padding-right:25px;
}

.footer  a {
   color:white; text-decoration:underline;
}

.active a {
    background-color: #ff9058 !important;
    color:white !important;
}