<p>Es können Überschriften direkt im text definiert werden:</p>
<h1>Überschrift 1</h1>
<h2>Überschrift 2</h2>
<h3>Überschrift 3</h3>
<h4>Überschrift 4</h4>
<p>Es können Listen direkt im Text definiert werden:</p>
<ul>
    <li>Punkt 1</li>
    <li>Punkt 2</li>
    <li>Punkt 3</li>
</ul>
<p>Oder auch nummeriert:</p>
<ol>
    <li>Punkt 1</li>
    <li>Punkt 2</li>
    <li>Punkt 3</li>
</ol>
<p>Verschachtelte Listen:</p>
<ol>
    <li>Punkt 1<ol>
            <li>Unterpunkt 1</li>
            <li>Unterpunkt 2</li>
        </ol>
    </li>
    <li>Punkt 2<ul>
            <li>Unterpunkt 1</li>
            <li>Unterteilung 1</li>
            <li>Unterteilung 2</li>
        </ul>
    </li>
    <li>Punkt 3</li>
</ol>
<p>Textzitate:</p>
<blockquote><p>Kunst gibt nicht das Sichtbare wieder, sondern macht sichtbar.</p>
</blockquote>
<p><strong>Fett</strong></p>
<p><em>Kursiv</em></p>
<p><del>Durchgestrichen</del></p>
<p>Es können Links direkt im Text definiert werden:</p>
<p>Direkt: <a href="http://www.zephir.ch">http://www.zephir.ch</a></p>
<p>Oder mit eigenem Text: <a href="http://www.zephir.ch">Link 2</a></p>
<p>Es können auch Tabellen direkt im Text definiert werden:</p>
<table>
    <thead>
    <tr><th>Kopfzeile 1 </th><th>Kopfzeile 2 </th><th>Kopfzeile 3</th></tr>
    </thead>
    <tbody>
    <tr><td>AAA             </td><td>BBB              </td><td>CCC</td></tr>
    </tbody>
</table>
<p>Die Kopfzeilen können auch ausgerichtet werden:</p>
<table>
    <thead>
    <tr><th align="left">Linksbündig  </th><th align="center">Zentriert  </th><th align="right">Rechtsbündig</th></tr>
    </thead>
    <tbody>
    <tr><td align="left">AAA      </td><td align="center">BBB </td><td align="right">CCC</td></tr>
    <tr><td align="left">BBB      </td><td align="center">CCC   </td><td align="right">  DDD</td></tr>
    <tr><td align="left">CCC </td><td align="center">DDD       </td><td align="right">   EEE</td></tr>
    </tbody>
</table>
</p>