#luya-cms-toolbar {
    background-color:#0894f1; color:#FFF; position:fixed; z-index:99999999; right:0;
}

#luya-toolbar-table td {
 padding:0px 10px; font-size:12px; color:white;
}

#luya-toolbar-table .title {
 font-weight:bold; font-size:14px;
}

#luya-toolbar-table .title a {
 color:#FFF;
}

#luya-toolbar-table .red {
 color:red; font-size:14px;
}

#luya-toolbar-table .green {
 color:green; font-size:14px;
}

#luya-toolbar-table .label {
 background-color:#F0F0F0; border-radius:4px; padding:2px 8px;
}

#luya-toolbar-table .label-default {
	color:#333;
}

#luya-toolbar-table .label-bold {
 font-weight:bold;
}

/* -- */

#luya-toolbar-arrow {
	
}

#luya-toolbar-arrow a {
	padding:30px; font-size:22px; line-height:48px;
}