/**
 * Extends the default Materialize behavior with some useful classes
 **/

.btn,
.btn-floating {
	// Overwrite default color
	background-color: color("green", "base");
	color: color("shades", "white");
	transition: 0.25s ease background-color, 0.1s ease color;

	&:hover {
		background-color: color("green", "darken-2");
	}

	&--full-width {
		display: block;
		width: 100%;
	}
}

.btn.red:hover,
.btn-floating.red:hover {
	background-color: color("red", "darken-2") !important;
}

/**
 * #BTN--SMALL
 * Decrease the default padding (left & right) on buttons
 **/
.btn--small {
	padding: 0 1rem;
}

/**
 * #BTN--BOLD
 * Bold button label
 **/
.btn--bold {
	font-weight: 500;
}

.btn:not(.btn-floating) {
    i {
        font-size: 24px; 
        line-height: 1; 
        position: relative;
        top: 6px;
    }
}

/**
 * #BTN--BORDERED
 * Bordered button
 **/
.btn--bordered {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0 10px;

	i {
		margin-top: -1px;
	}

	&:hover {
		border-color: map_get($grey, "darken-2");
	}

	&.btn--red-bordered {
		border-color: map_get($red, "base");
	}
	&.btn--green-bordered {
		border-color: map_get($green, "base");
	}
	&.btn--blue-bordered {
		border-color: map_get($blue, "base");
	}
}