.button-right {
    display: block;
    position: relative;
    width: 100%;
}

.button-right__left {
    width: 100%;
    padding-right: 250px;

    .row {
        margin: 0 -.75rem;
    }
}

.button-right__right {
    position: absolute;
    width: 230px;
    right: 0;
    top: 5px;
}