.colorwheel {
    display: block;
    padding-left: 200px;
    position: relative;
}

.colorwheel__input-wrapper {
    display: inline-block;
    height: 160px;
    position: relative;
    vertical-align: middle;
    width: 100%;
}

.colorwheel__input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid;
    left: 50%;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: .25s ease-in-out color, .25s ease-in-out border-color;
}

.colorwheel__wheel {
    display: inline-block;
    position: absolute;
    left: 25px;
    top: 5px;
}