.debug-container {
    width: 600px;
    z-index: 9999999;
    position: fixed;
    top: 80px;
    background-color: color("shades", "white");
    right: 20px;
    padding: 10px;

    @extend .z-depth-3;
}
.debug-container tr:nth-child(2n) {
    background-color: color("grey", "lighten-3");
}