.editlog {
    span {
        display: inline-block;
        vertical-align: middle;
    }

    .btn-floating {
        margin-right: 1rem;
        box-shadow: none !important;
        cursor: default !important;
        width: 30px;
        height: 30px;
        padding: 0;

        i {
            font-size: 16px;
            line-height: 30px;
            height: 30px;
            padding-left: 1px;
            vertical-align: top;
        }
    }
}

.editlog__collapsible {
    margin: .5rem 0 1rem 0;

    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.editlog__collapsible-header {
    font-weight: bold;
    line-height: 3rem;

    display: block;

    min-height: 3rem;
    padding: 0 1rem;
    
    transition: color .25s ease-in-out;

    color: color('grey', 'darken-2');
    border-bottom: 1px solid #ddd;
    background-color: #fff;

    i, span {
        vertical-align: middle;
    }

    i {
        font-size: 1.6rem;
        line-height: 3rem;
        height: 3rem;

        display: block;
        float: left;

        width: 2rem;
        margin: 0 1.1rem 0 4px;

        transition: color .25s ease-in-out;
        text-align: center;

        color: color('grey', 'darken-2');
    }
}

.editlog__collapsible-body {
    box-sizing: border-box;

    border-bottom: 1px solid #ddd;
}

.editlog__collapsible-body-item {
    line-height: 2rem;

    margin-bottom: 5px;
    padding: 5px;

    &:nth-child(even) {
        background-color: color('shades', 'white');
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.editlog__collapsible-body-item-time {
    position: relative;
}
