@mixin flag-background {
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
}

.flag {
	@include flag-background();
	position: relative;
	display: inline-block;
	width: (4 / 3) * 1em;
	line-height: 1em;

	&:before {
		content: '\00a0';
	}

	&.flag--squared {
		width: 1em;
	}

	$allEnabledFlags: "";
	@each $lang, $flag in $enabled-flags {
		$allEnabledFlags: $allEnabledFlags + ":not(.flag--#{$lang})";
	}

	&#{$allEnabledFlags} {
		width: auto;
		line-height: inherit;

		&:before {
			display: none;
		}

		.flag__fallback {
			display: block;
		}
	}
}

.flag__fallback {
	display: none;
	text-transform: uppercase;

	&.flag__fallback--colorized {
		color: color("blue", "base");
	}
}

@mixin flag($country, $lang: null) {
	@if ($lang == null) {
		$lang: $country;
	}

	.flag--#{$lang} {
		background-image: url(#{$flag-icon-css-path}#{$flag-icon-rect-path}/#{$country}.svg);
		&.flag--squared {
			background-image: url(#{$flag-icon-css-path}#{$flag-icon-square-path}/#{$country}.svg);
		}
	}
}

@each $lang, $flag in $enabled-flags {
	@include flag($flag, $lang);
}