.floating-button-label {
	font-size: inherit; // Overwrite smaller label styles
	cursor: pointer;

	.btn-floating {
		vertical-align: middle;
	}
	&:hover .btn-floating {
		@extend .z-depth-1-half;
	}

	.floating-button-label__label {
		color: color("teal", "base");
		vertical-align: middle;
		padding-left: 5px;
		display: inline-block;
	}
}