.i18n__label {
	@extend .input__label;
}

.i18n__fields {
	display: inline-block;
	width: calc(100% - 195px);
	vertical-align: middle;
	margin-left: -15px;

	.col:first-of-type {
		padding-left: 0;
	}
	.col:last-of-type {
		padding-right: 0;
	}
}