.iconbar__wrapper {
    position: relative;
    z-index: 99;
    width: auto;
}

.iconbar {
    background: #039be5;
    position: absolute;
    right: -100%;
    transition: right .25s ease-in-out;

    @include  breakpoint(desktop) {
        display: block;
        right:0;
    }

    &--slided {
        right: 0;
    }

}
