.langswitch {
    @include clearfix;
}

.langswitch__item {
    background-color: color("grey", "lighten-2");
    border-radius: 0;
    color: color("shades", "black");
    display: inline-block;
    float: left;

    height: 34px;
    line-height: 32px;

    &.langswitch__item--active,
    &:hover {
        background-color: color("blue", "lighten-1");
    }

    &:first-child {
        border-radius: 4px 0 0 4px;
    }
    &:last-child {
        border-radius: 0 4px 4px 0;
    }

    &:first-of-type:last-of-type {
        border-radius: 4px;
    }
}