.list {
    margin-bottom: 20px;
}

.list__item {
    position: relative;

    display: block;

    width: 100%;
    margin-bottom: 15px;

    &--bordered {
        border: 1px solid color('grey', 'base');
        padding: 10px;
    }
}

.list__left, .list__right {
    display: inline-block;

    vertical-align: middle;
}

.list__left {
    width: calc(100% - 140px);

    input {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-top: -8px;
        margin-bottom: 0;
        padding-top: 10px;
        padding-bottom: 5px;
    }
}

.list__right {
    width: 130px;
    margin-left: 10px;
    vertical-align: middle;
    text-align: right;

    .list__item--bordered & {
        vertical-align: top;
    }
}

.list__button {
    width: 2rem;
    height: 2rem;

    outline: none;

    &:not(:last-child) {
        margin-right: 10px;
    }

    i {
        font-size: 1.4rem;
        line-height: 2rem;
    }
}

.list__add-button {
    margin-top: 5px;
}

.list__no-entry {
    font-style: italic;

    position: relative;
    z-index: 60;

    margin: 1px 0 20px 0 !important;
}
