.log {
	margin: 0 20px 40px 40px;
}

.log__day {
	border-left: 1px solid color("grey", "base");
	position: relative;
	margin-top: 60px;
	min-height: 60px;
	padding-bottom: 20px;

	&:first-of-type {
		margin-top: 20px;
	}
}

.log__day-header {
	width: 100%;
	position: absolute;
	left: -30px;
	font-weight: bold;

	i {
		display: inline-block;
		font-weight: normal;
		width: 60px;
		height: 60px;
		background-color: color("shades", "white");
		line-height: 60px;
		font-size: 30px;
		border-radius: 50%;
		text-align: center;
		margin-right: 20px;
		vertical-align: middle;
	}
}

.log__day-toggler {
	position: absolute;
	bottom: -10px;
	left: 40px;
	width: 30px !important;
	height: 30px !important;
	line-height: 30px !important;
	font-size: 20px !important;
	cursor: pointer;
	user-select: none;
}

.log__entries {
	padding: 70px 0 0 53px;

	&:after {
		display: block;
		content: "";
		height: 10px;
		background-color: color("shades", "white");
		width: 10px;
		position: absolute;
		bottom: 0;
		left: -6px;
		border-radius: 50%;
		border: 2px solid color("grey", "base");
	}
}

.log__entry {
	position: relative;
	padding: 3px 20px;
	background-color: color("shades", "white");
	border-radius: 3px;
	margin-top: 0;

	&.log__entry--first-of-group {
		margin-top: 25px;
	}

	p {
		margin: 0;
	}
}

.log__entry-header {
	position: absolute;
	left: -73px;

	i {
		display: inline-block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 20px;
		border-radius: 50%;
		text-align: center;
		background-color: color("shades", "white");
	}
}

.log__user {
	display: block;
	padding: 5px 0;
	margin-left: 73px;
}

.log__time {
	display: inline-block;
	width: 70px;
	vertical-align: middle;
}