menu-dropdown,
.menu-dropdown {
    display: block;
    margin: 10px 0 10px -25px;
}

.menu-dropdown__category {
    display: inline-block;
    vertical-align: top;
    min-width: 250px;
    padding-left: 25px;


}

.menu-dropdown__container {
    margin: 10px 0;
}

.menu-dropdown__title,
.menu-dropdown__toggle-all {
    cursor: pointer;
    user-select: none;

    i {
        display: inline-block;
        vertical-align: middle;
    }

    span {
        vertical-align: middle;
        margin-top: 3px;
        display: inline-block;
    }
}

.menu-dropdown__list {
    position: relative;

    .menu-dropdown__list .menu-dropdown__item {
        padding-left: 15px;

        &:before {
            content: "";
            position: absolute;
            background-color: map_get($grey, "darken-1");
            height: 100%;
            width: 2px;
            left: 11px;
            top: -5px;
        }
        &:after {
            content: "";
            position: absolute;
            background-color: map_get($grey, "darken-1");
            height: 2px;
            width: 8px;
            left: 11px;
            top: 11px;
        }

        &:last-of-type:before {
            height: 17px;
        }
    }
}

.menu-dropdown__item {
    position: relative;

    label {
        width: 100%;
    }
}

.menu-dropdown__label {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}