.pagination {
    margin: 30px 0;
}

.pagination__number {
    cursor: pointer;
    margin: 0 2px;

    &.active a {
        background-color: color('red', 'lighten-2');
        color: color('shades', 'white');
    }

    &:hover a {
        background-color: color('red', 'lighten-2');
        color: color('shades', 'white');
    }
}

.pagination__arrow {
    cursor: pointer;

    a {
        line-height: 0;
    }

    &:hover a {
        color: color('red', 'base');
    }
}