.side-nav li {
    border-bottom: 1px solid #eee;
}

.side-nav a {
    height: auto;
    line-height: 1.3rem;
    display: block;
    padding: 15px 0;
    text-align: left;

    i {
        display: inline-block;
        width: auto;
    }
}

.side-nav {

  transition: transform .25s ease-in-out;

    &--open {

      transform: translateX(0);
    }

    .navbar__icon {
      margin-top: -15px !important;
      padding-left: 15px;
    }

}
