/**
 * Variations:
 *
 * Variation 1 (Default):
 * - Normal: White bg, Black color
 * - Hover: Blue bg, White color
 * - Active: Hover
 *
 * Variation 2 (sidebar__button--grey):
 * - Normal: White bg, Black color
 * - Hover: Grey bg, Black color
 * - Active: Hover
 *
 * Variation 3 (sidebar__button--positive):
 * - Normal: Green bg, white color
 * - Hover: Dark green bg, white color
 * - Active: Hover
 *
 * Variation 4 (sidebar__button--negative):
 * - Normal: Red bg, white color
 * - Hover: Dark red bg, white color
 * - Active: Hover
 *
 * Variation 5 (sidebar__button--cta):
 * - Normal: White bg, black color
 * - Hover: Light blue, black color
 * - Active: Hover
 */


.sidebar {}

.sidebar__button {
	display: block;
	background-color: color("shades", "white");
	width: 100%;
	padding: 10px $sidebar--padding;
	vertical-align: middle;
	text-align: left;
	transition: 0.25s ease background-color;
	cursor: pointer;

	&.sidebar__button--active,
	&:hover {
		background-color: color("blue", "base");
	}

	& + .sidebar__button {
		margin-top: 5px;
	}

	&.sidebar__button--grey.sidebar__button--active,
	&.sidebar__button--grey:hover {
		background-color: color("grey", "lighten-2");
	}

	&.sidebar__button--positive {
		background-color: color("green", "base");

		&.sidebar__button--active,
		&:hover {
			background-color: color("green", "darken-2");
		}
	}

	&.sidebar__button--negative {
		background-color: color("red", "base");

		&.sidebar__button--active,
		&:hover {
			background-color: color("red", "darken-2");
		}
	}

	.sidebar__button--active.sidebar__button--cta,
	.sidebar__button--cta:hover {
		background-color: color("blue", "lighten-2");
	}
}

.sidebar__text,
.sidebar__icon {
	position: relative;
	vertical-align: middle;
	color: color("shades", "black");
	transition: 0.25s ease color;

	.sidebar__button--active &,
	.sidebar__button:hover & {
		color: color("shades", "white");
	}

	.sidebar__button--active.sidebar__button--grey &,
	.sidebar__button--grey:hover & {
		color: color("shades", "black");
	}

	.sidebar__button--positive &,
	.sidebar__button--negative & {
		color: color("shades", "white");
	}
}

.sidebar__icon {
	font-size: 20px;
}

.sidebar__text {
	display: inline-block;
	text-decoration: none;
	margin-top: 2px;
	vertical-align: middle;
}

.sidebar__icon-holder {
	display: inline-block;
	padding: 0 4px 0 8px;
}

.sidebar__button--create {
	background-color: color("green", "base");
	color: color("shades", "white");

	&:hover {
		background-color: color("green", "darken-3");
	}
}

.switch.sidebar__button--switch {
	padding: 0;

	label {
		display: block;
		padding: 12px $sidebar--padding 8px $sidebar--padding;
		width: 100%;
		height: 100%;
	}

	.lever {
		margin: -4px ($sidebar--padding + 7px) 0 ($sidebar--padding + 7px);
	}
}

.sidebar__text-icon {
	font-size: inherit;
	margin-left: 5px;
	margin-top: -2px;
	vertical-align: middle;
}

.sidebar__group-title {
	user-select: none;
	color: color("grey", "base");
	font-size: 0.8rem;
	margin-top: 30px;
	padding-left: 15px;
	text-transform: uppercase;
	margin-bottom: 5px;

	&.sidebar__group-title--clickable {
		cursor: pointer;
	}

	span,
	i {
		display: inline-block;
		vertical-align: middle;
	}

	span {
		margin-top: 2px;
	}
}

.sidebar__group-title-icon {
	margin-left: -5px;
	transform: rotate(0deg);
	transition: 0.25s ease transform;

	&.sidebar__group-title-icon--closed {
		transform: rotate(-90deg);
	}
}