.sortable {
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    position: relative;
    vertical-align: middle;

    &:hover {
        color: color("blue", "base");
    }

    &--up.ng-hide + .sortable--down {
        margin-left: 32px;
    }
}