.spin {
    animation: spin 2s infinite linear;

    &--reverse {
        animation-direction: alternate;
    }
}

@keyframes spin {
    0% {transform: rotate(360deg);}
    100% {transform: rotate(0deg);}
}