.switch.switch--with-icons {
	margin-top: 4px;
}

.switch__icon {
	font-size: 1.2rem !important;
	line-height: inherit !important;
	color: color("grey", "darken-2");
}

.switch--with-icons .switch__lever {
	margin-top: -9px !important;
}