table {
    font-size: 14px;
}

.grid-sort-btn {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    line-height: 1;
    vertical-align: middle;

    &.active-orderby {
        color: color("blue", "base");
        font-weight: 700;
    }
}

.table__group {
    background-color: color('grey', 'base') !important;
    border-left: 2px solid color('grey', 'base');
    border-right: 2px solid color('grey', 'base');
    color: color('shades', 'white');

    > td {
        border-bottom: 2px solid color('grey', 'base');
        cursor: pointer;
        padding: 10px 5px;
    }

    &:first-child > td {
        padding-top: 10px;
    }

    & ~ tr {
        border-left: 2px solid color('grey', 'base');

        td:last-child {
            border-right: 2px solid color('grey', 'base');
        }

        &:last-child td {
            border-bottom: 2px solid color('grey', 'base');
        }
    }
}