.tabs {
    background-color: transparent;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: -1em;

    ul {
        margin: 0;
        padding: 0;
    }
}

.tabs__item {
    float: left;
}

.tabs__anchor {
    background-color: transparent;
    color: black;
    cursor: pointer;
    display: block;
    padding: 0 15px 8px 15px;
    transition: 0.5s ease background-color;
    user-select: none;

    .tabs__item--active & {
        background-color: #fff;
        box-shadow: 0 7px 0 0 rgba(255, 255, 255, 1), -1px 0 5px 0 rgba(0, 0, 0, 0.16);
    }
}

.tabs__icon {
    position: relative;
    top: 6px;
}