/**
 * Toolbar
 */
.toolbar {
    margin: 10px 0 20px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px 0;

    &[max-width~="650px"] {
    }

    select {
        height: 2rem;
    }
}

.toolbar__left {
    float: left;

    .toolbar[max-width~="1080px"] & {
        float: none;
    }
}

.toolbar__right {
    float: right;

    .toolbar[max-width~="1080px"] & {
        float: none;
        margin-top: 10px;
    }
    .toolbar[max-width~="650px"] & {
        margin-top: 0;
    }
}

.toolbar__group {
    display: inline-block;
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid color('grey', 'lighten-2');
    vertical-align: middle;

    .toolbar[max-width~="650px"] & .switch:not(.switch--with-icons) {
        @include clearfix;

        .lever {
            float: left;
            margin-top: 2px;
        }
    }

    .toolbar[max-width~="650px"]:not([max-width~="400"]) & {
        display: block;
        border-right: none;
        margin-bottom: 20px;
        float: left;

        &.toolbar__group--settings,
        &.toolbar__group--placeholder-state,
        &.toolbar__group--visibility {
            clear: left;
            border-right: 1px solid color('grey', 'lighten-2');
            margin-right: 10px;
        }
        &.toolbar__group--delete,
        &.toolbar__group--homepage,
        &.toolbar__group--online {
            margin: 0;
        }
        &.toolbar__group--langswitch {
            clear: left;
        }
    }

    .toolbar[max-width~="400px"] &:not(.toolbar__group--settings):not(.toolbar__group--delete) {
        float: none !important;
        border-right: none !important;
        margin: 0 0 10px 0 !important;
    }

    &:last-of-type {
        border-right: 0;
        padding-right: 0;
        margin-right: 0;
    }
}

.toolbar__switch-icon {
    margin-top: 5px;
}