.useronline__badge {
	padding: 10px 15px;
	border-radius: 5px;
	margin: 0 10px;
	background-color: color("shades", "white");
	color: color("shades", "black");
	cursor: pointer;
	transition: 0.4s ease background-color, 0.5s ease color;

	&:hover {
		background-color: rgba(0, 0, 0, 0.1);
		color: color("shades", "white");
	}
}

.useronline__modal {
	width: 600px;
	z-index: 9999999;
	position: fixed;
	top: 80px;
	background-color: color("shades", "white");
	right: 20px;
	padding: 10px;

	@extend .z-depth-3;
}

.useronline__modal tr th:first-of-type {
	width: 70px;
}
.useronline__modal td {
	color: rgba(0, 0, 0, 0.6);
}
.useronline__modal tr td:first-of-type {
	text-align: center;
}

.useronline__number {
	position: absolute;
	top:0;
	left: 50%;
	transform: translateX(-50%);
	font-size: 12px;
}