.zaa-table__wrapper {
    overflow: auto;
    padding-bottom: 20px;
}

.zaa-table {
    border: 1px solid color("grey", "lighten-1");
    border-collapse: collapse;
    margin: 10px 0;
    thead {
        border-spacing: 1px;
        tr {
            td {
                background: color("grey", "lighten-2");
                border: 1px solid color("grey", "lighten-1");
                min-width: 120px; /* Center our text */
                text-align: center;;
                &:first-child {
                    background: color("grey", "lighten-2");
                }
            }
        }
    }
    tbody {
        tr {
            &:not(:first-of-type):not(:last-of-type) {
                .zaa-table__cell-toolbar-side {
                    width: 60px;
                }
                .zaa-table__btn--cellmove-bottom {
                    left: 25px;
                }
            }

            &:nth-child(even) {
                //Every second row
                background-color: color("grey", "lighten-4");
            }
            td {
                border: none;
                padding: 0;
                position: relative;
                &:first-child {
                    background: color("grey", "lighten-2");
                    max-width: 120px;
                    padding-left: 15px;
                    width: 120px;
                }
                &:not(:first-child) {
                    min-width: 200px;
                    width: 200px;
                }
                textarea {
                    border: 1px solid color("grey", "lighten-1");
                    box-shadow: none;
                    box-sizing: border-box;
                    height: 100%;
                    margin: 0;
                    min-width: 200px;
                    outline: none;
                    padding: 0 4px;
                    transition: 0.25s ease box-shadow;
                    width: 100%;

                    &:focus:not([readonly]) {
                        box-shadow: inset 0 0 5px 2px rgba(color("green", "base"), 0.5);
                    }
                }
            }
        }
    }
}

.zaa-table__cell-toolbar-top {
    position: relative;
    width: 100%;
}

.zaa-table__cell-toolbar-side {
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 37px;
}

.zaa-table-col-title {
    text-align: center;
}

p.zaa-table-row-title {
    margin-left: 12px !important;
    margin-top: 15px !important;
    text-align: left;
}

.zaa-table__cell-toolbar-center {
    margin: 0 auto;
}

.zaa-table__btn {
    background-color: transparent;
    border-radius: 2px;
    box-shadow: none;

    i.material-icons {
        // color: $block__table__icon;  //TODO
        color: #4E4E4E;
    }

    &:hover {
        // background-color: #607D8B;
        i.material-icons {
            color: white;
        }
    }

    &.zaa-table__btn--del {
        margin: 4px 8px;
        &:hover {
            background-color: color("red", "base");
        }
    }

    &.zaa-table__btn--cellmove {
        height: 28px;
        margin: 13px 3px;
        padding-left: 5px;

        padding-right: 20px;
        position: absolute;
        width: 10px;

        &:hover {
            background-color: #4E4E4E;
        }

        i.material-icons {
            right: 5px;
            top: 2px;
        }
        &.zaa-table__btn--cellmove-right {
            right: 0;
            top: -4px;
        }

        &.zaa-table__btn--cellmove-left {
            left: 0;
            top: -4px;
        }

        &.zaa-table__btn--cellmove-bottom {
            bottom: 0px;
        }
    }
}

.zaa-table-row-title + .zaa-table__btn--del {
    margin: 4px 0;
}

