datepicker a, [datepicker] a, .datepicker a {
    text-decoration: none;

    color: inherit;
}
datepicker a:hover, [datepicker] a:hover, .datepicker a:hover {
    text-decoration: none;
}
datepicker select, datepicker select:focus, datepicker select:hover, .datepicker select, .datepicker select:focus, .datepicker select:hover, [datepicker] select, [datepicker] select:focus, [datepicker] select:hover {
    overflow: hidden;

    width: 100%;
    margin-top: 5px;

    color: #fff;
    border: 0;
    border-radius: 2px;
    background: none;
    background-color: color('blue', 'base');
}
datepicker, .datepicker, [datepicker], ._720kb-datepicker-calendar-header, ._720kb-datepicker-calendar-body, ._720kb-datepicker-calendar-days-header, ._720kb-datepicker-calendar-years-pagination-pages {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 13.5px;

    position: relative;

    float: left;
    clear: right;

    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
}
._720kb-datepicker-calendar {
    position: absolute;
    z-index: 999;
    right: 0;
    left: auto;

    visibility: hidden;
    overflow: hidden;

    width: 101%;
    min-width: 220px;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 0;
    padding: 0 0 2% 0;

    color: #333;
    border-radius: 3px;
    background: white;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);

    .input--date & {
        right: -50px;

        margin-top: 5px;
    }
}
._720kb-datepicker-calendar._720kb-datepicker-open, ._720kb-datepicker-calendar._720kb-datepicker-forced-to-open {
    visibility: visible;
}
._720kb-datepicker-calendar-header {
    font-size: 15px;
    line-height: 40px;

    text-align: center;
}
._720kb-datepicker-calendar-header:nth-child(odd) {
    background: color('blue', 'lighten-2');
}
._720kb-datepicker-calendar-header:nth-child(even) {
    background: color('blue', 'lighten-4');
}
._720kb-datepicker-calendar-header-left, ._720kb-datepicker-calendar-header-middle, ._720kb-datepicker-calendar-header-right {
    float: left;

    width: 15%;
}
._720kb-datepicker-calendar-header-middle {
    width: 70%;
}

._720kb-datepicker-calendar-header-closed-pagination::after {
    content: ' \25BE';
}

._720kb-datepicker-calendar-header-opened-pagination::after {
    position: relative;
    bottom: -3px;

    display: inline-block;

    margin-left: 4px;

    content: ' \25BE';
    transform: rotate(180deg);
}
._720kb-datepicker-calendar-body {
    width: 96%;
    margin: 2%;

    text-align: center;
}
._720kb-datepicker-calendar-day {
    font-size: 12.5px;

    float: left;

    width: 12.2%;
    margin: 5px 1%;
    padding: 1.5% 0;

    cursor: pointer;

    border-radius: 1px;
}
._720kb-datepicker-calendar-day:hover, ._720kb-datepicker-calendar-day._720kb-datepicker-active {
    color: color('shades', 'white');
    background: color('blue', 'lighten-1');
}
._720kb-datepicker-calendar-header a, ._720kb-datepicker-calendar-header a:hover {
    font-size: 13.5px;
    font-weight: bold;

    padding: 3% 9% 4% 9%;

    text-decoration: none;

    color: rgba(0, 0, 0, .55);
    border-radius: 3px;
}
._720kb-datepicker-calendar-header a:hover {
    color: rgba(0, 0, 0, .9);
    background: rgba(255, 255, 255, .45);
}
._720kb-datepicker-calendar-month {
    color: #fff;
}
._720kb-datepicker-calendar-month span {
    font-size: 13px;

    color: rgba(0, 0, 0, .4);
}
._720kb-datepicker-calendar-month a span  i {
    font-size: 15px;
    font-style: normal;
}
._720kb-datepicker-calendar-month a, ._720kb-datepicker-calendar-month a:hover {
    margin-left: 1%;
    padding: 3px;
}
._720kb-datepicker-calendar-years-pagination {
    float: left;
    clear: right;

    width: 100%;
    padding: 2% 0 0 0;
}
._720kb-datepicker-calendar-years-pagination a, ._720kb-datepicker-calendar-years-pagination a:hover {
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;

    display: inline-block;

    margin: 3px 1% 0 1%;
    padding: 0 7px;
}
._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-active {
    font-weight: 500;

    color: rgba(0, 0, 0, .9);
    background: rgba(255, 255, 255, .45);
}
._720kb-datepicker-calendar-years-pagination-pages a, ._720kb-datepicker-calendar-years-pagination-pages a:hover {
    padding: 5px 10px;
}
._720kb-datepicker-calendar-days-header {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2% 0 2%;

    border-bottom: 1px solid rgba(0,0,0,.02);
    background: rgba(19, 142, 250, .08);
}
._720kb-datepicker-calendar-days-header div {
    font-size: 11.5px;
    font-weight: 500;

    float: left;

    width: 14.18%;
    padding: 10px 0;

    text-align: center;

    color: rgba(0,0,0,.7);
}
._720kb-datepicker-calendar-days
._720kb-datepicker-default-button {
    font-size: 18.5px;

    position: relative;
    bottom: -.5px;
}
._720kb-datepicker-default-button {
    padding: 0 4.5px;
}
._720kb-datepicker-calendar-header-middle._720kb-datepicker-mobile-item {
    float: none;

    width: 95%;
    margin: 0 auto;
}
._720kb-datepicker-item-hidden {
    visibility: hidden;
}
._720kb-datepicker-calendar-day._720kb-datepicker-disabled, ._720kb-datepicker-calendar-day._720kb-datepicker-disabled:hover, ._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-disabled, ._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-disabled:hover, ._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-active._720kb-datepicker-disabled, ._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-active._720kb-datepicker-disabled:hover {
    cursor: default;

    color: rgba(0,0,0,.2);
    background: rgba(25,2,0,.02);
}
