// ==================================================
// General button
// ==================================================

.btn {
    cursor: pointer;
    .material-icons {
        font-size: 1.5em;
        vertical-align: middle;
    }
    &.btn-link .material-icons {
        font-size: 24px;
    }
    &.btn-link {
        border-radius: 0;
    }
}

.dropdown-item {
    cursor: pointer;
}

// ==================================================
// Link button
// ==================================================


.btn-link {
    color: color(gray);
    border-color: transparent;
    padding: 2px;
    background: transparent;

    &:hover {
        color: theme-color(primary);
    }
}


// ==================================================
// Button with Icons
// ==================================================

$btns: (
    'save': (
        'background-color':     theme-color('success'),
        'border-color':         theme-color('success'),
        'color':                $btn-color-light,
        'icon': 'check',
        'hover': (
            'background-color':     theme-color('success'),
            'border-color':         theme-color('success'),
            'color':                $btn-color-light,
        )
    ),
    'outline-save': (
            'background-color':     map-get($grays, 200),
            'border-color':         theme-color('success'),
            'color':                theme-color('success'),
            'icon': 'check',
            'hover': (
                    'background-color':     theme-color('success'),
                    'border-color':         theme-color('success'),
                    'color':                map-get($colors, white),
            )
    ),

    'delete': (
            'background-color':     theme-color('danger'),
            'border-color':         theme-color('danger'),
            'color':                $btn-color-light,
            'icon': 'delete',
            'hover': (
                    'background-color':     theme-color('danger'),
                    'border-color':         theme-color('danger'),
                    'color':                $btn-color-light,
            )
    ),
    'outline-delete': (
            'background-color':     map-get($grays, 200),
            'border-color':         theme-color('danger'),
            'color':                theme-color('danger'),
            'icon': 'delete',
            'hover': (
                    'background-color':     theme-color('danger'),
                    'border-color':         theme-color('danger'),
                    'color':                map-get($colors, white),
            )
    ),

    'cancel': (
            'background-color':     theme-color('secondary'),
            'border-color':         theme-color('secondary'),
            'color':                $btn-color-light,
            'icon': 'clear',
            'hover': (
                    'background-color':     theme-color('secondary'),
                    'border-color':         theme-color('secondary'),
                    'color':                $btn-color-light,
            )
    ),
    'outline-cancel': (
            'background-color':     map-get($grays, 200),
            'border-color':         theme-color('danger'),
            'color':                theme-color('danger'),
            'icon': 'clear',
            'hover': (
                    'background-color':     theme-color('danger'),
                    'border-color':         theme-color('danger'),
                    'color':                map-get($colors, white),
            )
    ),

    'edit': (
            'background-color':     theme-color('light'),
            'border-color':         theme-color('light'),
            'color':                $btn-color-dark,
            'icon': 'edit',
            'hover': (
                    'background-color':     theme-color('light'),
                    'border-color':         theme-color('light'),
                    'color':                $btn-color-dark,
            )
    ),
    'outline-edit': (
            'background-color':     map-get($grays, 200),
            'border-color':         theme-color('dark'),
            'color':                theme-color('dark'),
            'icon': 'edit',
            'hover': (
                    'background-color':     theme-color('dark'),
                    'border-color':         theme-color('dark'),
                    'color':                map-get($colors, white),
            )
    ),

    'add': (
            'background-color':     theme-color('success'),
            'border-color':         theme-color('success'),
            'color':                $btn-color-light,
            'icon': 'add',
            'hover': (
                    'background-color':     theme-color('success'),
                    'border-color':         theme-color('success'),
                    'color':                $btn-color-light,
            )
    ),
    'outline-add': (
            'background-color':     map-get($grays, 200),
            'border-color':         theme-color('dark'),
            'color':                theme-color('dark'),
            'icon': 'add',
            'hover': (
                    'background-color':     theme-color('dark'),
                    'border-color':         theme-color('dark'),
                    'color':                map-get($colors, white),
            )
    ),

    'help': (
            'background-color':     theme-color('light'),
            'border-color':         theme-color('light'),
            'color':                $btn-color-dark,
            'icon': 'help',
            'hover': (
                    'background-color':     theme-color('light'),
                    'border-color':         theme-color('light'),
                    'color':                $btn-color-dark,
            )
    ),

    'outline-help': (
            'background-color':     map-get($grays, 200),
            'border-color':         theme-color('dark'),
            'color':                $btn-color-dark,
            'icon': 'help',
            'hover': (
                    'background-color':     theme-color('dark'),
                    'border-color':         theme-color('dark'),
                    'color':                map-get($colors, white)
            )
    ),

    'download': (
            'background-color':     theme-color('success'),
            'border-color':         theme-color('success'),
            'color':                $btn-color-light,
            'icon': 'file_download',
            'hover': (
                    'background-color':     theme-color('success'),
                    'border-color':         theme-color('success'),
                    'color':                $btn-color-light,
            )
    ),

    'outline-download': (
            'background-color':     map-get($grays, 200),
            'border-color':         theme-color('success'),
            'color':                theme-color('success'),
            'icon': 'file_download',
            'hover': (
                    'background-color':     theme-color('success'),
                    'border-color':         theme-color('success'),
                    'color':                map-get($colors, white)
            )
    ),

    'upload': (
            'background-color':     theme-color('success'),
            'border-color':         theme-color('success'),
            'color':                $btn-color-light,
            'icon': 'file_upload',
            'hover': (
                    'background-color':     theme-color('success'),
                    'border-color':         theme-color('success'),
                    'color':                $btn-color-light,
            )
    ),

    'outline-upload': (
            'background-color':     map-get($grays, 200),
            'border-color':         theme-color('success'),
            'color':                theme-color('success'),
            'icon': 'file_upload',
            'hover': (
                    'background-color':     theme-color('success'),
                    'border-color':         theme-color('success'),
                    'color':                map-get($colors, white)
            )
    ),

    'config': (
            'background-color':     theme-color('light'),
            'border-color':         theme-color('light'),
            'color':                $btn-color-dark,
            'icon': 'settings',
            'hover': (
                    'background-color':     theme-color('light'),
                    'border-color':         theme-color('light'),
                    'color':                $btn-color-dark,
            )
    ),

    'outline-config': (
            'background-color':     map-get($grays, 200),
            'border-color':         theme-color('dark'),
            'color':                theme-color('dark'),
            'icon': 'settings',
            'hover': (
                    'background-color':     theme-color('dark'),
                    'border-color':         theme-color('dark'),
                    'color':                map-get($colors, white)
            )
    ),

    'replace': (
            'background-color':     theme-color('secondary'),
            'border-color':         theme-color('secondary'),
            'color':                $btn-color-light,
            'icon': 'find_replace',
            'hover': (
                    'background-color':     theme-color('secondary'),
                    'border-color':         theme-color('secondary'),
                    'color':                $btn-color-light,
            )
    ),

    'outline-replace': (
            'background-color':     map-get($grays, 200),
            'border-color':         theme-color('secondary'),
            'color':                theme-color('secondary'),
            'icon': 'find_replace',
            'hover': (
                    'background-color':     theme-color('secondary'),
                    'border-color':         theme-color('secondary'),
                    'color':                map-get($colors, white)
            )
    ),

    'move': (
            'background-color':     theme-color('secondary'),
            'border-color':         theme-color('secondary'),
            'color':                $btn-color-light,
            'icon': 'subdirectory_arrow_right',
            'hover': (
                    'background-color':     theme-color('secondary'),
                    'border-color':         theme-color('secondary'),
                    'color':                $btn-color-light,
            )
    ),

    'outline-move': (
            'background-color':     map-get($grays, 200),
            'border-color':         theme-color('secondary'),
            'color':                theme-color('secondary'),
            'icon': 'subdirectory_arrow_right',
            'hover': (
                    'background-color':     theme-color('secondary'),
                    'border-color':         theme-color('secondary'),
                    'color':                map-get($colors, white)
            )
    ),
);

.btn {
    transition: .2s background ease-in-out, .2s border-color ease-in-out, .1s color ease-in-out;
    padding: 6px 10px 6px 10px;

    &-icon {
        position: relative;

        &:after {
            @include material-icons;
            position: absolute;
            left: 8px;
            top: 50%;
            transform: translateY(-50%);
            font-size: inherit;
        }
    }

    @each $iconName, $iconValues in $btns {

        // Generate background, border and color styles for all defined buttons in $btns map
        &-#{$iconName} {
            background-color: map-get($iconValues, 'background-color');
            border-color: map-get($iconValues, 'border-color');
            color: map-get($iconValues, 'color') !important;

            @if type-of( map-get($iconValues, 'hover') ) == 'map' {
                $iconHoverValues: map-get($iconValues, 'hover');
                &:hover {
                    @if map-has-key($iconHoverValues, 'background-color') {
                        background-color: rgba(map-get($iconHoverValues, 'background-color'), .8);
                    }
                    @if map-has-key($iconHoverValues, 'border-color') {
                        border-color: rgba(map-get($iconHoverValues, 'border-color'), .8);
                    }
                    @if map-has-key($iconHoverValues, 'color') {
                        color: map-get($iconHoverValues, 'color') !important;
                    }
                }
            }

            &.btn-icon {
                padding-left: 30px;

                &:empty {
                    padding-top: 26px;
                    padding-left: 24px;
                }

                &:after {
                    content: '#{map-get($iconValues, 'icon')}';
                }
            }
        }
    }
}

// ==================================================
// Symbol buttons, crud buttons
// ==================================================

.btn-link {
    color: color(gray);
    padding: 2px;
    background: transparent;

    &:hover {
        color: theme-color(primary);
    }
}


// Label outside of buttons

.btn-label {
    margin-left: 10px;
    vertical-align: middle;
    @include google-chrome-font-offset-fix;
}


.toolbar-button {
    border-radius: 4px;
    background: color(gray-light);
    transition: color .2s ease-in-out;

    &:hover {
        color: theme-color(primary);
    }
}
