.card-header {
    span {
        vertical-align: middle;
    }
}

.card-toggle-indicator {
    position: relative;
    font-size: 24px !important;
    transition: .25s ease-in-out color, .2s ease-in-out transform;

    .card-closed & {
        transform: rotate(-90deg);
    }
}

.card-body {

    .card-closed & {
        display: none;
    }
}

.card > .list-group > .list-group-item:first-of-type {
    border-top: none;
}

.card > .card-body + .list-group > .list-group-item:first-of-type {
    border-top: 1px solid $list-group-border-color;
}