.colorwheel {
    display: block;
    padding-left: 175px;
    position: relative;
}

.colorwheel-background {
    height: 150px;
    position: relative;
}

.colorwheel-input {
    background-color: transparent;
    border-style: solid;
    border-width: 0 0 2px 0;
    left: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.colorwheel-wheel {
    height: 150px;
    left: 0;
    position: absolute;
    top: 0;
    width: 150px;
}