.crud-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;
    width: 100%;
}

.crud-title {
    margin: 0 auto 0 0;
}

.crud-counter {
    color: color('gray');
    font-weight: 300;
}

.crud-loader-tag {
    float: right;
    margin-top: 2px;
    position: relative;
    right: 0;

    .btn {
        padding: 6px 9px;
    }

    & + * {
        display: block;
        padding-right: 45px;
    }
}

.crud-selectable-row td {
    cursor: pointer;
}

.crud-selected-row td {
    background-color: theme-color(primary);
    color: color(white);

    .material-icons {
        color: color(white);
    }
}

.crud-card {
    margin-bottom: 25px;
}

.crud-toolbar {

    .btn-group {
        .btn {
            border-radius: $border-radius !important;
        }
    }

}