.crud__langswitch {
    display: inline-block;
    float: right;
    margin-top: 17px;
    padding-bottom: 0 !important;
}

.crud__i18n-col {
    float: left;
    padding-left: 15px;
    position: relative;
    width: 100%;

    .input--text .input__field,
    .input--textarea .input__field {
        padding-right: 38px;
    }

    @for $i from 1 through 12 {
        &.crud__i18n-col--#{$i} {
            width: (100% / 12) * $i;
        }
    }
}

.crud__flag {
    line-height: 1em;
    margin-top: -0.5em;
    position: absolute;
    right: 11px;
    top: 50%;
    z-index: 50;

    zaa-sort-relation-array + & {
        right: 4px;
        top: .5em;
    }
}

table td {
    transition: 0.25s ease background-color;

    .badge {
        border-radius: 5px;
        padding: 5px 20px;
        position: relative;
    }
}

.crud__item-highlight td {
    background-color: rgba(map_get($green, "base"), 0.5);
}