.crud-loader-tag + zaa-select {
    display: block;
    margin: 10px 0;
    padding-right: 50px;
}

.crud-loader-tag > button {
    position: absolute;
    right: 31px;

    .crud__i18n-col & {
        margin-top: -18.5px;
        right: 45px;
        top: 50%;
    }
}
