.crud-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 30px;
}

.crud-title {
    margin: 0 auto 0 0;
}

.crud-counter {
    color: color('gray');
    font-weight: 300;
}

.crud-loader-tag {
    position: relative;
    right: 0;
    margin-top: 1px;
    float: right;

    & + * {
        display: block;
        padding-right: 40px;
    }
}

.crud-selectable-row td {
    cursor: pointer;
}

.crud-selected-row td {
    background-color: theme-color(primary);
    color: color(white);

    .material-icons {
        color: color(white);
    }
}