.crud__langswitch {
    display: inline-block;
    float: right;
    margin-top: 10px;
    padding-bottom: 0 !important;
}

.crud__button {
    color: color("grey", "darken-1");
    font-size: 12px;
    height: 30px;
    letter-spacing: 0.5px;
    line-height: 30px;
    padding: 0 5px;

    tr:hover & {
        color: color("shades", "black");
    }

    i {
        font-size: 14px;
        line-height: 30px;

        &.left {
            margin-right: 3px;
        }
    }
}

.crud__i18n-col {
    float: left;
    padding-left: 15px;
    position: relative;
    width: 100%;

    .input--text .input__field,
    .input--textarea .input__field {
        padding-right: 38px;
    }

    @for $i from 1 through 12 {
        &.crud__i18n-col--#{$i} {
            width: (100% / 12) * $i;
        }
    }
}

.crud__flag {
    line-height: 1em;
    opacity: .5;
    position: absolute;
    right: 11px;
    top: 11px;
    z-index: 50;

    zaa-sort-relation-array + & {
        right: 4px;
        top: .5em;
    }

    zaa-select + & {
        top: 5px;
    }

    zaa-text + &,
    zaa-file-upload + &,
    zaa-image-upload + &,
    zaa-date + &,
    zaa-datetime + &,
    zaa-decimal + &,
    zaa-number + &,
    zaa-password + & {
        top: 15px;
    }
}

table td {
    transition: 0.25s ease background-color;

    .badge {
        border-radius: 5px;
        padding: 5px 20px;
        position: relative;
    }
}

.crud__item-highlight td {
    background-color: rgba(map_get($green, "base"), 0.5);
}
