.datepicker-wrapper {
    margin-left: -25px;
}

// I would rather use "datepicker" as a class, but Angular doesn't like a class .datepicker on a directive "datepicker"
datepicker {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0 25px;
    position: relative;
    width: auto;
}

.datepicker-date-input {
    max-width: 150px;
    width: 100%;
}

._720kb-datepicker-calendar {
    margin-top: 40px;
    margin-left: 0;
}

._720kb-datepicker-active {
    background-color: theme-color(primary) !important;
    color: color(white) !important;
}

._720kb-datepicker-calendar-day._720kb-datepicker-today {
    background-color: theme-color(primary) !important;
    color: color(white) !important;
}