.filemanager {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    @media (min-width: $mobile-nav-breakpoint) {
        flex-direction: row;
    }

    th, td {
        user-select: none;
    }

    th[ng-click^="openFileDetail"],
    td[ng-click^="openFileDetail"] {
        cursor: zoom-in;
    }
}


.filemanager-folders {
    align-self: stretch;
    flex: 0 0 300px;

    padding-top: $content-padding-y;
    padding-bottom: $content-padding-y;
    padding-left: $content-padding-x;

    margin-top: -$content-padding-y;
    margin-left: -$content-padding-x;
    margin-right: -$content-padding-x;

    margin-bottom: $content-padding-y;

    background-color: map-get($grays, 200);

    @media (min-width: $mobile-nav-breakpoint) {
        margin-right:0;
        margin-bottom: -$content-padding-y;
        background-color: map-get($grays, 100);
    }
}

.filemanager-files {
    align-self: stretch;
    flex: 1 1 auto;
    width: auto;
    overflow-x: hidden;

    thead {
        min-height: 44px;
    }

    th {
        padding-top: 5px;
        position: relative;

        &:first-of-type {
        }
    }

    .table {
        width: 100%;
        overflow-y: hidden;
        display: inline-table;
        
        .custom-checkbox {
            margin-top: 8px;
        }
    }

    @media (min-width: $mobile-nav-breakpoint) {
        padding-left: $content-padding-x;
    }
}

.filemanager-files-table {
    max-width: 100%;
    overflow-x: auto;
}

.filemanager-actions-column {
    width: 50px;
}

.filemanager-add-folder {
    display: block;
    width: 100%;
}

.filemanager-add-folder-form {
    display: block;
    padding-right: 78px;
    position: relative;
    width: 100%;
}

.filemanager-add-folder-input {
    padding: 3px 6px 3px 6px;
    width: 100%;
}

.filemanager-add-folder-actions {
    position: absolute;
    right: 0;
    top: 0;

    .btn {
        padding-left: 14px;
        padding-right: 8px;
    }
}

.filemanager-file {

    img {
        height: 30px;
        width: auto;
    }

    td:last-of-type {
        position: relative;
    }
    td:last-of-type:after {
        border-bottom: 25px solid transparent;
        border-right: 25px solid color(gray);
        border-top: 25px solid transparent;
        content: "";
        height: 0;
        opacity: 0;
        position: absolute;
        right: 390px;
        top: 50%;
        transform: translateY(-50%);
        transition: 0s ease-in-out opacity;
        width: 0;

        .modal & {
            right: 334px;
        }
    }

    &-detail-open td:last-of-type:after {
        opacity: 1;
        transition: .25s .2s ease-in-out opacity;
    }

    &-selected {
        th,
        td {
            background-color: theme-color(primary);
            color: color(white);

            .custom-color-icon {
                color: color(white);
            }
        }
    }
}

.filemanager-file-actions {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.filemanager-file-actions-left {
    align-items: flex-start;
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;

    &-spacing {
        padding-right: 35px;

        .filemanager-search {
            display: none;
            @media screen and (min-width: 1340px) {
                display: block;
            }
        }
    }
}

.filemanager-upload-file {
    margin-right: 25px;
}

.filemanager-search {
    display: none;
    flex: 1 1;
    padding: 3px 6px 3px 6px;

    @media (min-width: $mobile-nav-breakpoint) {

        display: block;

    }
}

.filemanager-file-actions-right {
    margin-left: auto;
}

.filemanager-file-icon {
    font-size: 25px;
    line-height: 40px;
}

.filemanager-dropzone {
    background-color: rgba($black, .6);
    border: 10px solid color(white);
    bottom: 50px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
    color: $white;
    left: 50px;
    position: fixed;
    right: 50px;
    top: 50px;
    z-index: z-index(filemanager);

    h2 {
        color: color(white);
    }
}

.filemanager-dropzone-inner {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.filemanager-check-all {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
}

.filemanager-files-counter {
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
}

.filemanager-fakebox {
    background-color: map-get($grays, 300);
    border-radius: $input-border-radius-lg;
    display: block;
    height: 20px;
    position: relative;
    width: 20px;

    .filemanager-file-selected &,
    &-active {
        background-color: color(blue);

        &:after {
            @include material-icons;
            color: color(white);
            content: "check";
            font-size: 16px;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }

    .filemanager-file-selected & {
        background-color: color(white);

        &:after {
            color: theme-color(primary);
        }
    }
}