.filemanager {
    display: block;
    position: relative;
}

.filemanager__col--file-details {
    width: calc(100% - 400px);
}

.filemanager__files td span,
.filemanager__files td img,
.filemanager__files td i,
.filemanager__files td label {
    vertical-align: middle;
}

.filemanager__tree,
.filemanager__files {
    display: inline-block;
    vertical-align: top;
}

/**
 * #TREE
 */
.filemanager__tree {
    padding-right: 20px;

    width: $filemanager__tree--width;
}

.filemanager__toolbar {
    display: block;
    width: 100%;

    button {
        margin-left: 5px;
    }
    &.filemanager__toolbar--top {
        margin-bottom: 20px;
    }
    &.filemanager__toolbar--bottom {
        margin-top: 20px;
    }
    @include clearfix;
}

.filemanager__search {
    float: left;
    margin-left: 50px;
    margin-top: -6px;
    max-width: 500px;
    width: 80%;
}

.filemanager__files {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.filemanager__folders {
    display: block;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.folder-root {
    .filemanager__folder-name {
        max-width: 200px !important;
    }
}

.filemanager__folder--active > .filemanager__folder-button {
    background-color: $filemanager--highlight-color;
    border-radius: 4px;
    color: color("shades", "white");
}

.filemanager__file-move-icon {
    margin-left: 10px;
    vertical-align: text-bottom;

    &:hover {
        background-color: color("green", "base");
        border-radius: 2px;
        color: color("shades", "white");
    }
}

.filemanager__details {
    position: fixed;
    right: 0;
    top: $navbar-height;
    padding: 25px 15px 25px 15px;
    width: 400px;
    background-color: #4e4e4e;
    color: #fff;
    bottom: 0;
    border-left: 1px solid rgba(0, 0, 0, .1);
    z-index: 500;
    overflow: scroll;

    .modal & {
        position: relative;
        top: 36px;
    }

    h4 {
        margin-top: 0;
    }

    img {
        width: 100%;
    }
}

.filemanager__details-bar {
    display: block;
    margin-bottom: 25px;
    @include clearfix;

    a, button {
        float: left;
        margin-right: 10px;
    }
}

.filemanager__details-panel {
    padding: 20px 10px;
    background-color: #f0f0f0;
    margin: 25px 0;
    color: #000;

    strong {
        display: block;
        margin-bottom: 15px;
    }
    label {
        color: #000;
    }
    .input + .input {
        margin-top: 10px;
    }
    .input {
        position: relative;
    }
    .input__field {
        padding-right: 35px !important;
    }
    .flag {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 10px;
        top: 50%;
        z-index: 20;
        margin-top: -10px;
        opacity: 1;
    }
}

.filemanager__details-table {
    margin: 25px 0;
}

.filemanager__details-input-label {
    text-transform: uppercase;
}

.filemanager__details-close {
    margin-top: -2px;
    float: right;
}

.filemanager__main-folder {
    cursor: pointer;
    display: block;
    padding: 8px 0 8px 25px;
    position: relative;
    word-break: break-all;

    > i {
        left: 0;
        position: absolute;
    }

    & > .filemanager__folders {
        margin-top: 8px;
    }
}

.filemanager__folder {
    display: block;
    position: relative;
    word-break: break-all;
    line-height: 24px;
    padding-left: 24px;

    .filemanager__folders .filemanager__folders & {
        &:before {
            background-color: color("shades", "white");
            content: "";
            height: 100%;
            left: -12px;
            position: absolute;
            top: -5px;
            width: 1px;
            z-index: 1;
        }
        &:after {
            background-color: color("shades", "white");
            content: "";
            height: 1px;
            left: -12px;
            position: absolute;
            top: 15px;
            width: 16px;
            z-index: 1;
        }

        &:last-of-type:before {
            height: 20px;
        }
    }

    &-icon--root {
        display: inline-block;
        background-image: url(#{$folder-icon-svg-path}/folder_opened.svg);
        content: ' ';
    }

    &--root {
        padding-left: 0;
    }

    &:last-of-type {
        border-bottom: 0;
    }

    & > .filemanager__folders {
        //padding-left: 25px;
    }

}

// triangle open/close icon
.filemanager__folder-toggleicon {
    user-select: none;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

.treeview__toggler {
    transform: rotate(0deg);
    transition: 0.25s ease transform;

    &.treeview__toggler--subnav-closed {
        transform: rotate(-90deg);
    }
}

.filemanager__folder-button {
    cursor: pointer;
    padding: 0px 0 0px 2px;
    position: relative;
    display: inline-block;
    width: 100%;

    .filemanager__folder-name {
        display: inline-block;
        max-width: 115px;
        white-space: nowrap;
        vertical-align: text-bottom;
    }
    //Font-color for the hovering folder-names
    &:hover > span {
        color: color("shades", "black");
        font-weight: bold;
    }
    &:hover > .filemanager__folder-name {
        // the foldername gets cut
        //overflow: hidden;
    }
    //Font-color of the active selected folder-name
    .filemanager__folder.filemanager__folder--active > & > span {
        color: color("shades", "black");
        font-weight: bold;
    }

    //Default-state all folder-icons
    .filemanager__folder-icon {
        color: color($filemanager--base-color, "darken-2");
        left: 0;
        position: relative;
        top: 3px;
        width: 20px;
        height: 20px;
    }
    //Hide the active-folder-icon at default-state
    .filemanager__folder-icon--active {
        display: none;
    }
    //Hover to display the active-folder-icon
    &:hover > .filemanager__folder-icon--active {
        color: color($filemanager--base-color, "darken-2");
        display: inline-block;
        z-index: 5;
    }

    .filemanager__folder.filemanager__folder--active > & > .filemanager__folder-icon--active {
        color: color("shades", "white");
        display: inline-block;
        z-index: 5;
    }
    &:hover > .filemanager__folder-icon--default,
    .filemanager__folder.filemanager__folder--active > & > .filemanager__folder-icon--default {
        display: none;
    }
    .filmanager__thumb {
        max-width: 80px;
    }

    .filemanager__folder-icon--default {
        background-image: url(#{$folder-icon-svg-path}/folder_closed.svg);
        content: ' ';
    }

    .filemanager__folder-icon--active {
        background-image: url(#{$folder-icon-svg-path}/folder_opened.svg);
        content: ' ';
    }

    .filemanager__cancel-btn {
        background-color: color("red", "base");
    }
    .filemanager__file-dialog {
        //padding-top: 8px;
        padding: 15px;
        position: relative;
        span {
            color: color("shades", "black");
            margin-right: 4px;
            font-weight: normal;
            padding-bottom: 20px;
            display: inline-block;
        }
        .btn-floating {
            background-color: color("light-blue", "accent-1");
            margin-top: -7px;

            &:hover i {
                font-size: 1.8rem;

                &.filemanager__cancel-icon {
                    font-size: 2.2rem;
                }
            }
        }
        .filemanager__file-dialog--buttons {
            display: inline-block;
            width: 100%;
            text-align: center;
        }
    }
    .filemanager__file-dialog__input {
        border: none;
        color: color("shades", "black");
        outline: none;
        padding-left: 9px;
        padding-top: 4px;
        width: calc(100% - 110px);

        &:focus:not([readonly]) {
            border-bottom: none;
            box-shadow: none;
        }
    }

    .filemanager__file-dialog__icon {
        color: color("green", "darken-1");
        position: relative;
    }

    .filemanager__cancel-icon {
        color: color("red", "base");
        font-size: 32px;
        transform: rotate(45deg);
        padding-left: 4px;
    }
    &:hover > .filemanager__edit-icon,
    &:hover > .filemanager__delete-icon {
        opacity: 1;
        pointer-events: auto;
    }
}

.filemanager__edit-icon,
.filemanager__delete-icon {
    float: right;
    font-size: 22px;
    opacity: 0;
    padding: 0 14px;
    pointer-events: none;
    position: relative;
    right: 14px;
    top: 4px;
    transition: 0.25s ease opacity;
    vertical-align: middle;
    color: grey;

    &:hover {
        color: #54c1ff;
    }
}

/*
* Change filemanager styles for modal view only
*/
.modal-content {

}

/**
 * #FILES
 */
.filemanager__files {
    padding-left: 20px;
    width: calc(100% - #{$filemanager__tree--width});

    .filemanager__col--file-details & {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
}

.filemanager__file {
    cursor: pointer;

    &--selected {
        background-color: color("blue", "base") !important;

        td {
            color: color("shades", "white") !important;
        }
    }
}

.filemanager__checkox-column {
    width: 50px;

    & i {
        font-size: 1.7rem;
    }
    & label {
        height: 19px;
        margin-left: 3px;
        margin-top: -4px;
        padding-left: 22px;
    }
}

.filemanager__icon-column {
    text-align: center;
    width: 150px;
}

.filemanager__upload-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}

.filemanager__upload-content {
    position: absolute;
    text-align: center;
    top: 20%;
    width: 100%;
}

.filemanager__upload-title {
    color: #fff;
    line-height: 1.4;
    text-align: center;
}

.filemanager__upload-loader {
    margin-top: 100px;
}

.file__progress {
    transition: 0.5s ease width;
    will-change: width;
}

.file__icon {
    color: color("teal", "base");
    float: right;
    font-size: 2rem;
    margin-right: -200px;
    transition: 0.5s ease margin-right;
    will-change: margin-right;
}

.file--completed {
    @include clearfix;

    .file__progress {
        float: left;
        width: calc(100% - 50px);
    }
    .file__icon {
        margin-right: 5px;
        margin-top: -4px;
    }
}

.filemanager .filemanager__upload-modal {
    left: -20px !important;
    min-height: calc(100% + 40px) !important;
    min-width: calc(100% + 40px) !important;
    position: absolute !important;
    top: -20px !important;
}

.filemanager__detail-save-button {
    margin-top: 15px;
}