.flag-btn {
    background: transparent;
    padding-left: 10px;
    padding-right: 10px;

    &:after {
        background-color: theme-color(primary);
        bottom: 0;
        content: "";
        height: 2px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        transition: .1s ease-in-out width;
        width: 0;
    }

    &.active:after,
    &:hover:after {
        width: 100%;
    }
}