@mixin flag-background {
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
}

.flag {
	@include flag-background();
	position: relative;
	display: inline-block;
	width: (4 / 3) * 1em;
	line-height: 1.5em;

	&:before {
		content: '\00a0';
	}

	&.flag-squared {
		width: 1em;
	}

	$allFlags: "";
	@each $lang, $flag in $flags {
		$allFlags: $allFlags + ":not(.flag-#{$lang})";
	}

	&#{$allFlags} {
		width: auto;
		line-height: inherit;

		&:before {
			display: none;
		}

		.flag-fallback {
			display: block;
		}
	}
}

.flag-fallback {
	display: none;
	text-transform: uppercase;

	&.flag-fallback-colorized {
		color: theme-color(primary);
	}
}

@mixin flag($country, $lang: null) {
	@if ($lang == null) {
		$lang: $country;
	}

	.flag-#{$lang} {
		background-image: url(#{$flag-icon-css-path}#{$flag-icon-rect-path}/#{$country}.svg);
		&.flag-squared {
			background-image: url(#{$flag-icon-css-path}#{$flag-icon-square-path}/#{$country}.svg);
		}
	}
}

@each $lang, $flag in $flags {
	@include flag($flag, $lang);
}