.flow {
    padding: 20px;
}

.flow__dropzone {
    border: 2px dashed color('light-green', 'lighten-2');
    display: block;
    height: 36px;
    line-height: 36px;
    text-align: center;
    transition: .25s ease all;
    width: 100%;
}

.flow__lower {
    margin-top: 30px;
}

.flow__images {
    margin: 0 -.75rem;
}

.flow__image-wrap {
    display: block;
    position: relative;
}

.flow__image {
    height: auto;
    width: 100%;
}

.flow__delete {
    background-color: rgba(0, 0, 0, .6);
    bottom: 6px;
    cursor: pointer;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .25s ease all;

    i {
        color: color('red', 'base');
        font-size: 30px;
        left: 50%;
        margin-left: -15px;
        margin-top: -15px;
        position: absolute;
        top: 50%;
        transform: translateY(-10px);
        transition: .5s ease all;
    }

    &:hover {
        opacity: 1;

        i {
            transform: translateY(0);
        }
    }
}

.flow__clear {
    margin-top: 20px;
}