$floating-form__actions--width: 85px !default;
$floating-form__form--margin-right: 30px !default;

.floating-form {
    display: block;
    width: 100%;
    margin-top: -0.2rem;
}

.floating-form__form {
    display: inline-block;
    width: 0;
    overflow: hidden;
    will-change: width, margin-right;
    transition: 0.25s ease width, 0.25s ease margin-right;
    margin-right: 0;

    .floating-form--active & {
        width: calc(100% - #{$floating-form__actions--width} - #{$floating-form__form--margin-right});
        margin-right: $floating-form__form--margin-right;
    }

    vertical-align: middle;
}

.floating-form__input {
    margin-bottom: 0 !important;
    height: 2.6rem !important;
    width: 100%;
    border: none;
    border-bottom: 1px solid color("green", "base");
    outline: none;
    padding: 0 5px;
}

.floating-form__actions {
    display: inline-block;
    max-width: $floating-form__actions--width;
    text-align: center;
    vertical-align: middle;
    will-change: width;
    transition: 0.25s ease width;
}

.floating-form__label {
    display: inline-block;
    cursor: pointer;
    color: color("teal", "base");
    vertical-align: middle;
    padding-left: 10px;
    overflow: hidden;
    max-width: 100%;
    height: 100%;
    white-space: nowrap;
    transition: 0.5s 0.1s ease max-width, 0.5s 0.1s ease height, 1s 0.1s ease padding-left;

    .floating-form--active & {
        max-width: 0;
        height: 0;
        padding-left: 0;
        transition: 0.1s ease max-width, 0.1s ease height, 0.1s ease padding-left;
        will-change: max-width, height, padding-left;
    }
}

.floating-form__button {
    float: left;

    &:not(:last-of-type) {
        margin-right: 5px;
    }
}

.floating-form__button--active {
    display: none;

    .floating-form--active & {
        display: inline-block;
    }
}

.floating-form__button--active-close {
    transform: rotate(0deg);
    will-change: transform, background-color;
    transition: 0.25s ease transform, 0.25s ease background-color;

    .floating-form--active & {
        transform: rotate(45deg);
        background-color: color("red", "base");
    }
}