$icon-font-size: 20px;
$icon-line-height: $icon-font-size + 10px;

.folders {
    list-style: none;
    margin: 0;
    padding: 0;
}

.folders-item {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    &:not(:first-of-type) {
        margin-top: 5px;
    }

    .material-icons {
        font-size: $icon-font-size;
        line-height: $icon-line-height;
    }

    .folders {
        display: block;
        flex: 0 0 100%;
        margin-top: 5px;
        padding-left: 10px;
        width: 100%;
    }
}

.folders-text {
    display: block;
    flex: 1 1 auto;
}

.folders-collapse {
    cursor: pointer;
    flex: 0 0 20px;
    &:hover {
        color: theme-color(primary);
    }

    order: -2;
}

.folders-label {
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    padding: 2px 0 0;

    &:hover {
        background-color: map-get($grays, 100);;
    }

    .edit > &,
    .delete > & {
        display: none;
    }
}

.folders-folder-icon {
    display: inline-block;
    margin-right: 5px;
    margin-top: -2px;

    .is-active > .folders-label & {
        display: none;
    }
}

.folders-folder-icon-open {
    display: none;

    .is-active > .folders-label & {
        display: inline-block;
    }
}

.folders-input {
    display: none;

    .form-control {
        padding-bottom: 4px;
        padding-top: 4px;
    }

    .edit > & {
        display: block;
    }
}

.folders-actions {
    padding-left: 25px;
    width: 100%;

    &:hover {
        padding-right: 50px;
    }
}

.folders-actions-left,
.folders-actions-right {
    position: absolute;
    top: 0;
}

.folders-actions-left {
    left: 0;
}

.folders-actions-right {
    display: none;
    right: 0;

    .folders-actions:hover & {
        display: block;
    }
}

.folders-actions-toggler,
.folders-actions-edit,
.folders-actions-delete {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}