$icon-font-size: 20px;
$icon-line-height: $icon-font-size + 5px;

.folders {
    list-style: none;
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: 320px;

    @media (min-width: $mobile-nav-breakpoint) {

        width: 100%;

    }
}

.folders-item {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-right: 4px;
    overflow: hidden;

    position: relative;

    &:not(:first-of-type) {
        margin-top: 4px;
    }

    .material-icons {
        font-size: $icon-font-size;
        line-height: $icon-line-height;
    }

    .folders {
        display: block;
        flex: 0 0 100%;
        margin-top: 5px;
        padding-left: 10px;
        width: 100%;
    }
}

.folders-text {
    display: block;
    flex: 1 1 auto;
    margin-right: 3px;
    padding-left: 3px;
    padding-right: 3px;
    /*transition: background-color .2s ease-in-out;*/

    &:hover {
        background-color: map-get($grays, 300);
    }
}

.folders-collapse {
    cursor: pointer;
    flex: 0 0 20px;
    &:hover {
        color: theme-color(primary);
    }

    order: -2;
}

.folders-label {
    align-items: center;
    border-radius: $border-radius;
    cursor: pointer;
    display: block;
    margin-right: 3px;
    padding: 0 4px;
    width: 100%;

    .edit > &,
    .delete > & {
        display: none;
    }

    &:hover {

        ~ .folders-actions-right {
            display: block;
        }
    }

    .folders-item-main > & > span {
        display: inline-block;
        vertical-align: middle;
    }
}

.folders-folder-name {
    margin-bottom: 3px;
}

.folders-folder-icon {
    display: inline-block;
    margin-right: 5px;
    margin-top: -2px;

    .is-active > .folders-label &,
    .is-active > .folders-actions > .folders-label & {
        color: theme-color(primary);
    }
}

.folders-input {
    display: none;

    .form-control {
        padding-bottom: 4px;
        padding-top: 4px;
    }

    .edit > & {
        display: block;
    }
}

.folders-actions {
    padding-left: 20px;
    width: 100%;

    &-delete:hover {
        color: theme-color(danger);
    }

    /*&-edit:hover {
        color: theme-color(success);
    }*/

    &:hover {

        .folders-label {
            background-color: map-get($grays, 300);
        }
    }
}

.folders-actions-left,
.folders-actions-right {
    position: absolute;
    top: 0;
}

.folders-actions-left {
    left: 0;
}

.folders-actions-right {
    background-color: map-get($grays, 500);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    display: none;
    opacity: 1;
    padding-left: 2px;
    padding-right: 2px;
    right: 0;

    transition: opacity .2s ease-in-out;

    &.is-visible,
    &:hover {
        display: block;

        .folders-label & {
            background: red;
        }
    }
}

.folders-edit {
    position: relative;
}

.folders-actions-toggler,
.folders-actions-edit,
.folders-actions-delete,
.folders-actions-abort,
.folders-actions-save {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    outline: 0 !important;
}

.folder-label-input {
    left: 50px;
    max-height: 26px;
    max-width: 100%;
    position: absolute;
    right: 200px;
    top: 0;
    width: calc(100% - 95px);
}

.folders-folder-move-icon {
    cursor: pointer;
    right: 10px;
}