$icon-font-size: 20px;
$icon-line-height: $icon-font-size + 5px;

.folders {
    list-style: none;
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: 320px;
    @media (min-width: $mobile-nav-breakpoint) {
        width: 100%;
    }
}

.folders-item {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-right: 4px;
    overflow: hidden;
    position: relative;

    &:not(:first-of-type) {
        margin-top: 4px;
    }

    .material-icons {
        font-size: $icon-font-size;
        line-height: $icon-line-height;
    }

    .folders {
        display: block;
        flex: 0 0 100%;
        margin-top: 5px;
        padding-left: 10px;
        width: 100%;
    }

    .folders-items {
        padding-left: 3px;
    }
    .is-movable {
        .folders-label {
            background-color: map-get($grays, 300);
        }
        .folders-actions-right {
            display: block;
        }
    }
}

.folders-item-root {
    padding-left: 26px;
}
