.form-group__title {
    background-color: color('grey', 'base');
    color: color('shades', 'white');
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 10px;
}

.form-group__fields {
    border: 2px solid color('grey', 'base');
    border-top: none;
    padding: 10px;
}