form .row {
    // position: relative;
}

.input-field label {
	font-size: 0.9rem !important;
	transform: translateY(-140%);
}

.input-field textarea + label {
	margin-top: 3px !important;
}

.input-field input[type="checkbox"] + label {
	font-size: 1rem !important;
	transform: translateY(0) !important;
	left: 0 !important;
	top: 0 !important;
}

select {
	max-width: 700px;
}

textarea.materialize-textarea {
	border-top: 1px solid #f0f0f0 !important;
	border-right: 1px solid #f0f0f0 !important;
	border-left: 1px solid #f0f0f0 !important;
	padding: 10px !important;
	margin-top: 10px !important;
	width: calc(100% - 20px) !important; // Subtract the 20px padding from the default 100% width

	& + label {
		margin: 10px 0 0 10px;

		&.active {
			margin-top: 3px;
		}
	}
}

.form__datepicker {
	margin: 15px 0;

	label {
		display: block;
	}
	input {
		display: inline-block;
		width: 80px;
		margin: 0 10px 15px 10px;
		text-align: center;

		&:first-of-type {
			margin-left: 0;
		}
		&:last-of-type {
			margin-right: 0;
		}
	}
}

.form__datetimepicker {
	@extend .form__datepicker;
}

/***************
  Radio Buttons
***************/

/* Remove default Radio Buttons */
[type="radio"]:not(:checked),
[type="radio"]:checked {
	position: absolute;
	left: -9999px;
	top: 0;
	visibility: hidden;
}

[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
	position: relative;
	padding-left: 35px;
	cursor: pointer;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	font-size: 1rem;
	@include transition(.28s ease);
	user-select: none;
}

[type="radio"] + label:before,
[type="radio"] + label:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	margin: 4px;
	width: 16px;
	height: 16px;
	z-index: 0;
	@include transition(.28s ease);
}


/* Unchecked styles */
[type="radio"]:not(:checked) + label:before {
	border-radius: 50%;
	border: 2px solid $radio-empty-color;
}
[type="radio"]:not(:checked) + label:after {
	border-radius: 50%;
	border: 2px solid $radio-empty-color;
	z-index: -1;

	@include transform(scale(0));
}

/* Checked styles */
[type="radio"]:checked + label:before {
	border-radius: 50%;
	border: 2px solid transparent;
}
[type="radio"]:checked + label:after {
	border-radius: 50%;
	border: 2px solid $radio-fill-color;
	background-color: $radio-fill-color;
	z-index: 0;
	@include transform(scale(1.02));
}

/* Radio With gap */
[type="radio"].with-gap:checked + label:before {
	border-radius: 50%;
	border: 2px solid $radio-fill-color;
}
[type="radio"].with-gap:checked + label:after {
	border-radius: 50%;
	border: 2px solid $radio-fill-color;
	background-color: $radio-fill-color;
	z-index: 0;
	@include transform(scale(.5));
}

/* Disabled Radio With gap */
[type="radio"].with-gap:disabled:checked + label:before {
	border: 2px solid $input-disabled-color;
}
[type="radio"].with-gap:disabled:checked + label:after {
	border: none;
	background-color: $input-disabled-color;
}

/* Disabled style */
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
	background-color: transparent;
	border-color: $input-disabled-color;
}
[type="radio"]:disabled + label {
	color: $input-disabled-color;
}
[type="radio"]:disabled:not(:checked) + label:before {
	border-color: $input-disabled-color;
}
[type="radio"]:disabled:checked + label:after {
	background-color: $input-disabled-color;
	border-color: $input-disabled-solid-color;
}


/***************
   Checkboxes
***************/

/* CUSTOM CSS CHECKBOXES */
form p {
	margin-bottom: 10px;
	text-align: left;
}
form p:last-child {
	margin-bottom: 0;
}

/* Remove default checkbox */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
	position: absolute;
	left: -9999px;
	top: 0;
	visibility: hidden;
}


// Checkbox Styles
[type="checkbox"] {

	// Text Label Style
	+ label {
		position: relative;
		padding-left: 35px;
		cursor: pointer;
		display: inline-block;
		height: 25px;
		line-height: 25px;
		font-size: 1rem;

		user-select: none; /* IE10+ */
	}

	/* checkbox aspect */
	+ label:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 18px;
		height: 18px;
		z-index: 0;
		border: 2px solid $radio-empty-color;
		border-radius: 1px;
		margin-top: 2px;
		@include transition(.2s);
	}

	&:not(:checked):disabled + label:before {
		border: none;
		background-color: $input-disabled-color;
	}

}

[type="checkbox"]:checked {
	+ label:before {
		top: -4px;
		left: -3px;
		width: 12px; height: 22px;
		border-top: 2px solid transparent;
		border-left: 2px solid transparent;
		border-right: 2px solid $radio-fill-color;
		border-bottom: 2px solid $radio-fill-color;
		@include transform(rotate(40deg));
		-webkit-backface-visibility: hidden;
		@include transform-origin(100% 100%);
	}

	&:disabled + label:before {
		border-right: 2px solid $input-disabled-color;
		border-bottom: 2px solid $input-disabled-color;
	}

}

/* Indeterminate checkbox */
[type="checkbox"]:indeterminate {
	+label:before {
		left: -10px;
		top: -11px;
		width: 10px; height: 22px;
		border-top: none;
		border-left: none;
		border-right: 2px solid $radio-fill-color;
		border-bottom: none;
		@include transform(rotate(90deg));
		-webkit-backface-visibility: hidden;
		@include transform-origin(100% 100%);
	}

	// Disabled indeterminate
	&:disabled + label:before {
		border-right: 2px solid $input-disabled-color;
		background-color: transparent;
	}
}


// Filled in Style
[type="checkbox"].filled-in {
	// General
	+ label:after {
		border-radius: 2px;
	}
	+ label:before,
	+ label:after {
		content: '';
		left: 0;
		position: absolute;
		/* .1s delay is for check animation */
		transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
		z-index: 1;
	}
	// Unchecked style
	&:not(:checked) + label:before {
		width: 0;
		height: 0;
		border: 3px solid transparent;
		left: 6px;
		top: 10px;

		-webkit-transform: rotateZ(37deg);
		transform: rotateZ(37deg);
		-webkit-transform-origin: 20% 40%;
		transform-origin: 100% 100%;
	}
	&:not(:checked) + label:after {
		height: 20px;
		width: 20px;
		background-color: transparent;
		border: 2px solid $radio-empty-color;
		top: 0px;
		z-index: 0;
	}
	// Checked style
	&:checked {
		+ label:before {
			top: 0;
			left: 1px;
			width: 8px;
			height: 13px;
			border-top: 2px solid transparent;
			border-left: 2px solid transparent;
			border-right: 2px solid $input-background;
			border-bottom: 2px solid $input-background;
			-webkit-transform: rotateZ(37deg);
			transform: rotateZ(37deg);

			-webkit-transform-origin: 100% 100%;
			transform-origin: 100% 100%;
		}
		+ label:after {
			top: 0px;
			width: 20px;
			height: 20px;
			border: 2px solid $secondary-color;
			background-color: $secondary-color;
			z-index: 0;
		}
	}
	// Disabled style
	&:disabled:not(:checked) + label:before {

		background-color: transparent;
		border: 2px solid transparent;
	}
	&:disabled:not(:checked) + label:after {
		border-color: transparent;
		background-color: $input-disabled-solid-color;
	}
	&:disabled:checked + label:before {
		background-color: transparent;

	}
	&:disabled:checked + label:after {
		background-color: $input-disabled-solid-color;
		border-color: $input-disabled-solid-color;
	}

}

/***************
     Switch
***************/
.switch,
.switch * {
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}
.switch label {
	cursor: pointer;
}
.switch label input[type=checkbox]{
	opacity: 0;
	width: 0;
	height: 0;
}
.switch label input[type=checkbox]:checked + .lever {
	background-color: $switch-checked-lever-bg;
}
.switch label input[type=checkbox]:checked + .lever:after {
	background-color: $switch-bg-color;
}
.switch label .lever {
	content: "";
	display: inline-block;
	position: relative;
	width: 40px;
	height: 15px;
	background-color: $switch-unchecked-lever-bg;
	border-radius: 15px;
	margin-right: 10px;
	transition: background 0.3s ease;
	vertical-align: middle;
	margin: 0 16px;
}
.switch label .lever:after {
	content: "";
	position: absolute;
	display: inline-block;
	width: 21px;
	height: 21px;
	background-color: $switch-unchecked-bg;
	border-radius: 21px;
	box-shadow: 0 1px 3px 1px rgba(0,0,0,.4);
	left: -5px;
	top: -3px;
	transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease;
}
// Switch active style
input[type=checkbox]:checked:not(:disabled) ~ .lever:active:after {
	box-shadow: 0 1px 3px 1px rgba(0,0,0,.4), 0 0 0 15px transparentize($switch-bg-color, .9);
}
input[type=checkbox]:not(:disabled) ~ .lever:active:after {
	box-shadow: 0 1px 3px 1px rgba(0,0,0,.4), 0 0 0 15px rgba(0, 0, 0, .08);
}
.switch label input[type=checkbox]:checked + .lever:after {
	left: 24px;
}

// Disabled Styles

.switch input[type=checkbox][disabled] + .lever{
	cursor: default;
}
.switch label input[type=checkbox][disabled] + .lever:after,
.switch label input[type=checkbox][disabled]:checked + .lever:after {
	background-color: $input-disabled-solid-color;
}
