$label-width: 200px !default;

.form-control {
}

.form-group {
    margin-bottom: 25px;
    position: relative;
}

label {
    display: block;
    width: 100%;
}

form:not(.form-inline) .form-check-input {
    margin-right: 10px;
}

textarea {
    min-height: 46px;
}

.form-check {
    @include clearfix;
    .form-check-input + label {
        padding-left: 25px;
    }

    user-select: none;
}

.form-check-label {
    cursor: pointer;
    margin-bottom: 0;
    padding-left: 1.5rem;
    position: relative;
}

.form-check-input {
    left: 0;
    margin: 0 !important;
    position: absolute !important;
    top: 3px;
}

.form-side-by-side {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.form-not-side-by-side .form-side {
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
}

.form-side {
    align-self: flex-start;
    flex: 1 1 250px;

    &-label {
        flex: 0 1 $label-width;
        min-width: $label-width;

        label {
            margin: 0;
        }
    }
}

.form-i18n {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    > .row {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }

    .col {
        // padding: 0 3px;
        position: relative;
    }
}

.form-col-flag {
    opacity: .5;
    position: absolute;
    right: 27px;
    top: 5.5px;
    z-index: z-index(form);;
}

.form-i18n-label {
    align-self: baseline;
    flex: 0 0 $label-width;
    margin: 0;
}

.form-i18n .form-side-label {
    display: none;
}

input[type="checkbox"],
input[type="radio"] {
    clear: left;
    float: left;
    margin: 3px 10px 3px 0;

    & + label {
        cursor: pointer;
        float: left;
        margin: 0 0 3px 0;
        width: auto;
    }
}

input[type="radio"] {
    display: none;

    & + label {
        display: block;
        padding-left: 25px;
        position: relative;
        transform: translateZ(0);
        width: 100%;

        &:before {
            background-color: #c0c0c0;
            border: 0 solid theme-color(primary);
            border-radius: 50%;
            content: "";
            height: 16px;
            left: 0;
            margin: 0;
            position: absolute;
            top: 3px;
            transition: .25s ease-in-out border;
            width: 16px;
            z-index: 10;
        }
        &:after {
            background-color: $white;
            border-radius: 50%;
            content: "";
            height: 16px;
            left: 0;
            margin: 0;
            position: absolute;
            top: 3px;
            transition: .25s ease-in-out transform;
            transform: scale(0);
            width: 16px;
            z-index: 20;
        }
    }

    &:checked + label {
        &:before {
            border-width: 6px;
        }
        &:after {
            border-width: 3px;
            transform: scale(.5);
        }
    }
}

input[type="checkbox"] {
    display: none;

    & + label {
        display: block;
        padding-left: 25px;
        position: relative;
        transform: translateZ(0);
        width: 100%;

        &:before {
            background-color: #c0c0c0;
            border: 0 solid theme-color(primary);
            border-radius: 3px;
            content: "";
            height: 16px;
            left: 0;
            margin: 0;
            position: absolute;
            top: 3px;
            transition: .25s ease-in-out border;
            width: 16px;
            z-index: 10;
        }
        &:after {
            @include material-icons;
            color: $white;
            content: "check";
            display: block;
            font-size: 13px;
            left: 1px;
            opacity: 0;
            position: absolute;
            top: 5px;
            transition: .25s ease-in-out opacity;
            z-index: 20;
        }
    }

    &:checked + label {
        &:before {
            border-width: 8px;
        }
        &:after {
            opacity: 1;
            transition: .25s .25s ease-in-out opacity;
        }
    }
}

.form-check-input-standalone {
    clear: both !important;
    float: none !important;
    margin: 1px 0 0 0 !important;
    position: relative;
}