.help {
    background: $gray-100;
    padding: 0;
    margin-bottom: 0;
    
    li {
        list-style: none;

        padding: 5px 20px 10px 20px;
        font-size: 16px;
        transition: background .2s ease-in-out;

        &:hover {
            cursor: pointer;
            background: $gray-300;
        }

        h3 {
            margin-bottom: 10px;
        }

        blockquote {
            margin-bottom: 5px;
            font-weight: 500;
        }

        p {
            margin-bottom: 0;
        }
        border-bottom: 1px solid $gray-300;

        &:last-of-type {
            border-bottom: none;
            margin-bottom: 0;
        }
    }
}



