.imageupload {
    margin-top: -14px;
    @include clearfix;
}

.imageupload-upload,
.imageupload-preview,
.imageupload-filter {
    display: block;
    margin-top: 14px;
}

.imageupload-preview {
    background-color: map-get($grays, 100);;
    max-width: 300px;
    position: relative;
    width: 100%;
    margin-bottom: 45px;
}

.imageupload-preview-sizer {
    display: block;
    padding-bottom: 100%;
    width: 100%;
}

.imageupload-preview-image {
    height: auto;
    left: 50%;
    max-height: 90%;
    max-width: 90%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: auto;
}

.imageupload-size {
    background-color: theme-color(primary);
    bottom: -30px;
    color: $white;
    left: 0;
    padding: 3px 5px;
    position: absolute;
    right: 0;
    text-align: center;
}

.imageupload-filter {
    max-width: 300px;
    width: 100%;

    select {
        width: 100%;
    }
}

.imageupload-loading {
    background-color: rgba(0, 0, 0, .8);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    $imageupload-loading-indicator-line-width: 8px;
    $imageupload-loading-indicator-margin-left-right: 2px;
    $imageupload-loading-indicator-height: 80px;

    .loading-indicator {
        height: $imageupload-loading-indicator-height;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: ($imageupload-loading-indicator-line-width * 5) + (($imageupload-loading-indicator-margin-left-right * 2) * 5);
    }

    .loading-indicator > div {
        margin: 0 $imageupload-loading-indicator-margin-left-right;
        width: $imageupload-loading-indicator-line-width;
    }
}