$input-font-size: 1rem;
$input__label-font-size: $input-font-size;
$input__input-font-size: $input-font-size;
$input--border-color: rgba(0, 0, 0, .1);
$input--label-color: rgba(0, 0, 0, .5);
$input__label-width: 210px;
$input__label-padding: 15px;
$input--date-width: 50px;

.input {
    font-size: 0;
    line-height: 0;
}

.input__label {
    font-size: $input__label-font-size;
    line-height: $input__label-font-size + .1;

    display: inline-block;

    width: $input__label-width;
    padding-right: $input__label-padding;

    cursor: pointer;
    text-align: right;
    vertical-align: middle;
    word-wrap: break-word;

    color: $input--label-color;

    .input--vertical & {
        display: block;

        width: 100%;
        margin-top: 10px;

        text-align: left;
    }

    .input--single-checkbox & {
        width: $input__label-width + 20px;
        height: auto;
        padding: 0 ($input__label-padding + 20px) 0 0;

        &:before {
            top: 50%;

            margin-top: -9px;
            margin-left: $input__label-width + 5px;

            border-color: $input--label-color;
        }
    }

    .input--hide-label & {
        display: none;
    }

    .input--multiple-checkboxes &, .input--radios &, .input--image-upload &, .input--image-array &, .input--file-upload &, .input--file-array &, .input--list & {
        vertical-align: top;
    }

    .input--multiple-checkboxes &, .input--radios & {
        margin-top: 5px;
    }
}

.input__searchfield {
    transition: .25s ease background-color;

    border: 1px solid #fafafa;
    background-color: #fff;
    &:focus {
        outline: none;
        background-color: rgba(0, 0, 0, .1);
    }
}

input[type='checkbox']:checked + .input__label:before {
    top: 50%;

    margin-top: -13px;
}

.filearray > .input__field-wrapper, .imagearray > .input__field-wrapper {
    border: 1px solid $input--border-color;
    border-radius: 3px;
}

.input__field-wrapper {
    font-size: $input-font-size;
    line-height: $input-font-size;

    position: relative;

    display: inline-block;

    width: 100%;
    padding: 5px 0;

    vertical-align: middle;

    .input__label + & {
        width: calc(100% - #{$input__label-width});
        padding: 5px;
    }

    .input--vertical & {
        display: block;

        width: 100%;
        padding: 5px 0;

        text-align: left;
    }

    .input--hide-label & {
        width: 100%;
    }

    &.input--column {
        -webkit-column-width: 250px;
           -moz-column-width: 250px;
                column-width: 250px;
    }
}

.input .input__field {
    font-size: $input__input-font-size;
    line-height: $input__input-font-size + .1;

    position: relative;
    z-index: 10;

    width: 100%;
    height: auto;
    margin: 0;
    padding: 10px 10px 7px 10px;

    transition: .25s ease background-color;
    vertical-align: middle;

    border: 1px solid $input--border-color;
    outline: none;
    background-color: #fff;

    &:focus {
        background-color: $input--border-color;
    }
}

.input__divider {
    display: inline-block;

    margin: 0 10px;

    vertical-align: bottom;

    color: color('shades', 'black');

    &.input__divider--centered {
        vertical-align: middle;
    }

    &.input__divider--icon {
        margin-bottom: -4px;
    }
}

// Custom styling for inputs without label
.input--hide-label .input__field {
    width: 100%;
}

// Custom date styling
.input--date {
    datepicker {
        position: relative;

        padding-bottom: 10px;
        padding-left: 50px;
    }

    .date-picker-icon {
        position: absolute;
        top: 0;
        left: 0;
    }

    .hour-selection {
        display: block;
        clear: both;

        width: 100%;
    }

    .time-divider {
        display: inline-block;

        width: 2%;

        text-align: center;
    }

    .input__field {
        display: block;

        text-align: center;

        border: 1px solid $input--border-color !important;

        &--hour {
            display: inline-block;

            max-width: 49%;
        }
        &--minute {
            display: inline-block;

            max-width: 49%;
        }
    }
}

// Datepicker itself
._720kb-datepicker-calendar {
    max-width: 300px;

    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}

.input--date ._720kb-datepicker-calendar {
    margin-top: 10px;
    margin-left: -50px;
}

// Custom behavior for select boxes
.input--select .input__field {
    display: inline-block;

    width: calc(100% - (#{$input__label-width} + 5px));
    margin-left: 5px;

    cursor: pointer;

    border: 1px solid $input--border-color !important;
    border-radius: 0;
}

// Custom behavior for textareas
.input--textarea .input__field {
    height: 100px;
    padding: 15px 10px;

    resize: vertical;
}

[type='checkbox'] + label, [type='radio'] + label {
    padding-left: 30px !important;
}

.input__button {
    margin-left: 15px;
}

.input--full-width .input__field {
    width: 100%;
    max-width: 100%;
}

.input__select-arrow {
    position: absolute;
    z-index: 100;
    top: 12px;
    right: 0;

    & + .input__field {
        padding-right: 35px;

        appearance: none;
    }
}
