.input-group {
    position: relative;

    .flag {
        opacity: .5;
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        z-index: z-index(above-content);
    }

    $input-group-addon-selector: '.input-group-addon';
    @for $i from 1 through 5 {
        #{$input-group-addon-selector} + .flag {
            right: 45px * $i;
        }
        $input-group-addon-selector: #{$input-group-addon-selector} + #{'.input-group-addon'};
    }
}

.input-group-addon {
    user-select: none;

    .form-control ~ & {
        margin-left: -1px;
    }
    & ~ .form-control {
        margin-left: -1px;
    }
}