$input-font-size: 1rem;
$input__label-font-size: $input-font-size;
$input__input-font-size: $input-font-size;

$input--border-color: rgba(0, 0, 0, 0.1);
$input--label-color: rgba(0, 0, 0, 0.5);

$input__label-width: 210px;
$input__label-padding: 15px;

$input--date-width: 50px;

.input {
    font-size: 0;
    line-height: 0;
}

.input__label {
    color: $input--label-color;
    cursor: pointer;
    display: inline-block;
    font-size: $input__label-font-size;
    line-height: $input__label-font-size + 0.1;
    padding-right: $input__label-padding;
    text-align: right;
    vertical-align: middle;
    width: $input__label-width;
    word-wrap: break-word;

    .input--vertical & {
        display: block;
        margin-top: 10px;
        text-align: left;
        width: 100%;
    }

    .input--single-checkbox & {
        height: auto;
        padding: 0 ($input__label-padding + 20px) 0 0;
        width: $input__label-width + 20px;

        &:before {
            border-color: $input--label-color;
            margin-left: $input__label-width + 5px;
            margin-top: -9px;
            top: 50%;
        }
    }

    .input--hide-label & {
        display: none;
    }

    .input--multiple-checkboxes &,
    .input--radios &,
    .input--image-upload &,
    .input--image-array &,
    .input--file-upload &,
    .input--file-array &,
    .input--list & {
        vertical-align: top;
    }

    .input--multiple-checkboxes &,
    .input--radios & {
        margin-top: 5px;
    }
}

.input__searchfield {
    background-color: #fff;
    border: 1px solid #FAFAFA;
    transition: 0.25s ease background-color;
    &:focus {
        background-color: rgba(0, 0, 0, 0.1);
        outline: none;
    }
}

input[type="checkbox"]:checked + .input__label:before {
    margin-top: -13px;
    top: 50%;
}

.filearray > .input__field-wrapper,
.imagearray > .input__field-wrapper {
    border: 1px solid $input--border-color;
    border-radius: 3px;
}

.input__field-wrapper {
    display: inline-block;
    font-size: $input-font-size;
    line-height: $input-font-size;
    padding: 5px 0;
    position: relative;
    vertical-align: middle;
    width: 100%;

    .input__label + & {
        padding: 5px;
        width: calc(100% - #{$input__label-width});
    }

    .input--vertical & {
        display: block;
        padding: 5px 0;
        text-align: left;
        width: 100%;
    }

    .input--hide-label & {
        width: 100%;
    }

    &.input--column {
        column-width: 250px;
        -moz-column-width: 250px;
        -webkit-column-width: 250px;
    }
}

.input .input__field {
    background-color: #fff;
    border: 1px solid $input--border-color;
    font-size: $input__input-font-size;
    height: auto;
    line-height: $input__input-font-size + 0.1;
    margin: 0;
    outline: none;
    padding: 10px 10px 7px 10px;
    position: relative;
    transition: 0.25s ease background-color;
    vertical-align: middle;
    width: 100%;
    z-index: 10;

    &:focus {
        background-color: $input--border-color;
    }
}

.input__divider {
    color: color("shades", "black");
    display: inline-block;
    margin: 0 10px;
    vertical-align: bottom;

    &.input__divider--centered {
        vertical-align: middle;
    }

    &.input__divider--icon {
        margin-bottom: -4px;
    }
}

// Custom styling for inputs without label
.input--hide-label .input__field {
    width: 100%;
}

// Custom date styling
.input--date .input__field {
    border: 1px solid $input--border-color !important;
    display: inline-block;
    text-align: center;
    width: $input--date-width;
}

// Custom behavior for select boxes
.input--select .input__field {
    border: 1px solid $input--border-color !important;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    margin-left: 5px;
    width: calc(100% - (#{$input__label-width} + 5px));
}

// Custom behavior for textareas
.input--textarea .input__field {
    height: 100px;
    padding: 15px 10px;
    resize: vertical;
}

[type="checkbox"] + label,
[type="radio"] + label {
    padding-left: 30px !important;
}

.input__button {
    margin-left: 15px;
}

.input--full-width .input__field {
    max-width: 100%;
    width: 100%;
}

.input__select-arrow {
    position: absolute;
    right: 0;
    top: 12px;
    z-index: 100;

    & + .input__field {
        padding-right: 35px;
        appearance: none;
    }
}