.link-selector {
	display: block;
	position: relative;
}

.link-selector__btn,
.link-selector__path {
	display: inline-block;
	position: relative;
}

.link-selector__btn {
	display: inline-block;
	width: 165px;
	box-sizing: content-box;
	vertical-align: middle;
}

.link-selector__reset {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	color: color("red", "base");
	transition: 0.25s ease transform;

	&:hover {
		cursor: pointer;
		color: color("red", "darken-3");
	}
}

.link-selector__path {
	display: inline-block;
	vertical-align: middle;

	// Overwrite default materializecss styles

	width: calc(100% - 265px - 24px) !important; // 100% - (width + padding of link-selector__btn)
	height: 36px !important;
	margin-left: 15px !important;
	color: color("grey", "lighten-1") !important;
	border: none;
	padding-top: 10px;
}