.list-item {
    padding-bottom: 20px;
    padding-right: 130px;
    position: relative;

    &:not(:last-of-type) {
        border-bottom: 1px solid map-get($grays, 300);
        margin-bottom: 20px;
    }
}

.list-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.list-right {
    flex: 1 1;
    padding-left: 30px;
}

.list-left {
    min-width: 300px;
}

.list-buttons {
    position: absolute;
    right: 0;
    top: 0;
}

.list-chevron {
    position: absolute;
    right: 135px;
    top: 5px;
}