.loading-overlay {
    background-color: rgb(41, 41, 49);
    bottom: 0;
    color: $white;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 50000;

}

.loading-overlay-title {
    font-size: 40px;
    font-weight: 400;
    margin: 150px 0 0 0;
    text-align: center;
    color: $white;
}

.loading-logo {
    background: url('../../images/luyalogo-animation.gif');
    background-size: cover;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}