#loading-bar {
    background-color: #fff;
    height: 5px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: z-index(loadingbar);

    .bar {
        background-color: theme-color(info);
        bottom: 0;
        left: 0;
        position: absolute;
        top: 0;
        transition: .25s ease-in-out width;
    }
}

#loading-bar-spinner {
    display: none;
}