.loading-overlay {
    background-color: rgba(0, 0, 0, .7);
    bottom: 0;
    color: $white;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 50000;
}

.loading-overlay-title {
    font-size: 40px;
    font-weight: 400;
    margin: 150px 0 0 0;
    text-align: center;
    color: $white;
}

.loading-indicator {
    font-size: 10px;
    height: 80px;
    margin: 100px auto;
    text-align: center;
    width: 100px;
}

.loading-indicator > div {
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    background-color: $brand-primary;
    display: inline-block;
    height: 100%;

    margin: 0 3px;
    width: 10px;
}

.loading-indicator .rect2 {
    animation-delay: -1.1s;
    -webkit-animation-delay: -1.1s;
}

.loading-indicator .rect3 {
    animation-delay: -1.0s;
    -webkit-animation-delay: -1.0s;
}

.loading-indicator .rect4 {
    animation-delay: -0.9s;
    -webkit-animation-delay: -0.9s;
}

.loading-indicator .rect5 {
    animation-delay: -0.8s;
    -webkit-animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}