.loading-overlay {
    background-color: rgb(66, 66, 74);
    bottom: 0;
    color: $white;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: z-index(overlay);
}

.loading-overlay-title {
    font-size: 40px;
    font-weight: 400;
    margin: 150px 0 0 0;
    text-align: center;
    color: $white;
}
