$loading-indicator-line-width: 15px !default;
$loading-indicator-margin-left-right: 3px !default;
$loading-indicator-height: 150px !default;

.loading-indicator {
    font-size: 10px;
    height: $loading-indicator-height;
    margin: auto;
    text-align: center;
    width: ($loading-indicator-line-width * 5) + (($loading-indicator-margin-left-right * 2) * 5);

    &-small {
        height: $loading-indicator-height / 2;
        width: (($loading-indicator-line-width * 5) + (($loading-indicator-margin-left-right * 2) * 5)) / 2;
    }
}

.loading-indicator > div {
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    background-color: theme-color(primary);
    display: inline-block;
    height: 100%;
    margin: 0 $loading-indicator-margin-left-right;
    width: $loading-indicator-line-width;
}

.loading-indicator-small > div {
    margin: 0 ($loading-indicator-margin-left-right / 2);
    width: ($loading-indicator-line-width / 2);
}

.loading-indicator .rect2 {
    animation-delay: -1.1s;
    -webkit-animation-delay: -1.1s;
}

.loading-indicator .rect3 {
    animation-delay: -1.0s;
    -webkit-animation-delay: -1.0s;
}

.loading-indicator .rect4 {
    animation-delay: -0.9s;
    -webkit-animation-delay: -0.9s;
}

.loading-indicator .rect5 {
    animation-delay: -0.8s;
    -webkit-animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}