.login-screen {
    background-color: $purple-light;
    background: linear-gradient(320deg, $red, $purple-light, $purple, $pink);
    background-size: 250% 250%;

    -webkit-animation: LuyaLogin 50s ease infinite;
    -moz-animation: LuyaLogin 50s ease infinite;
    animation: LuyaLogin 50s ease infinite;

    @-webkit-keyframes LuyaLogin {
        0%{background-position:0% 9%}
        50%{background-position:100% 92%}
        100%{background-position:0% 9%}
    }
    @-moz-keyframes LuyaLogin {
        0%{background-position:0% 9%}
        50%{background-position:100% 92%}
        100%{background-position:0% 9%}
    }
    @keyframes LuyaLogin {
        0%{background-position:0% 9%}
        50%{background-position:100% 92%}
        100%{background-position:0% 9%}
    }
    position: relative;
    height: 100%;
}

.login-frame {
    background: $white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 320px;
    max-width: 100%;
    height: 518px;

    @media (min-width: 518px) {
        width: 518px;
        height: 320px;
    }
}

.login-panel-left {
    display:inline-block;
    position: relative;
    min-height: 198px;
    background: $pink;
    float:left;
    width: 320px;
    max-width: 100%;

    @media (min-width: 518px) {
        width:38%;
        min-height: 100%;
    }
}

.login-panel-right {
    width: 100%;
    padding:20px;
    position: relative;
    display: inline-block;
    max-width: 100%;
    min-height: 318px;

    @media (min-width: 518px) {
        width:62%;
        min-height: 318px;
    }
}

.login-logo {
    background: url("../../images/luyalogo-white.svg") top center no-repeat;
    min-height: 110px;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    width: 110px;

    @media (min-width: 518px) {

    }
}

.login-form {

    &-field {
        margin-bottom: 20px;
    }
}
.login-buttons {
    width: calc(100% - 40px);
    max-width: 100%;
    display: inline-block;
    position: absolute;
    bottom: 20px;
}
.login-btn {
    background: $pink;
    width:100%;
    min-height: 40px;
    cursor: pointer;
    box-shadow: none;
    border: none;
    color: $white;
    transition: .25s background ease-in-out;

    &:hover {
        background: $pink-alpha-50;
    }
}

.login-btn-50 {
    width: 50%;
    float: left;

    &:last-of-type {
        padding-right: 0;
    }
}

.login-title {
    text-align: left;
    font-size: $font-size-h4;
    margin-bottom: 20px;
    line-height: 1.05;

    @media (min-width: 518px) {
        font-size: $font-size-h3;
    }
}

.login-inputs {
    width: 100%;
}

.login-form-field {
    position: relative;
    margin-bottom: 24px;
}

.login-input-label {
    position: absolute;
    margin-bottom: 0;
    top: 8px;
    display: inline-block;
    width: auto;
    transition: top .25s ease-in-out, color .25s ease-in-out, font-size .25s ease-in-out;
    font-size: 16px;
}

.login-input {
    display:block;
    width: 100%;
    border:none;
    border-style:solid;
    border-width: 0;
    border-color:$white;
    border-bottom: solid 1px $pink;
    padding: 8px 3px 3px 0;
    margin-bottom: 10px;

    &:last-of-type {
        margin-bottom: 3px;
    }

    &:focus, &:valid {
        outline: 0;
        ~ .login-input-label {
            top: -17px;
            font-size: 13px;
        }
    }
}

.login-system-info {
    position: absolute;
    bottom: 0;
    padding-bottom: 0;
    width: 100%;
    max-width: 100%;
    text-align: center;

    @media (min-width: 518px) {
        padding-bottom: 20px;
    }
}

.login-version {
    color: $white;
    display: block;
    text-align: center;
    line-height: 40px;
}

.login-reset {
    color: $gray;
    text-align: right;
    display: block;
}

.login-link {
    transition: .25s color ease-in-out;
    &:hover {
        color: $gray-light;
        text-decoration: none;
    }
}

.login-status {

    background: $pink-alpha-25;
    border-left: 5px solid $pink;

    ul {
        padding-left: 10px;
        margin: 0;

        li {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }

    &-wrapper {
        min-height: 25px;
        margin-bottom: 15px;
    }
    &-success {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translate(-50%);
        width: 100px;
        height: 100px;

        font-size: 90px !important;
        text-align: center;
        color: $pink;

        &-wrapper {

        }
    }
}