.login-screen {
    background-color: $white;
    height: 100%;
    position: relative;
    width: 100%;
}

.login-logo {
    left: 10px;
    opacity: 0;
    position: absolute;
    top: -65px;
    transform: translateX(0);
    transition: .35s ease-in-out top, .15s .2s ease-in-out opacity;

    .login-logo-svg {
        transition: .2s ease-in-out width;
        width: 45px;
    }

    @media screen and (min-height: 600px) {
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        z-index: z-index(above-content);

        .login-logo-svg {
            width: 80px;

            @include media-breakpoint-up(sm) {
                width: 100px;
            }

            @media screen and (max-height: 600px) {
                width: 70px;
            }
        }

        &-loaded {
            top: -100px;
            opacity: 1;

            @include media-breakpoint-up(sm) {
                top: -160px;
            }

            @media screen and (max-height: 450px) {
                top: -100px;
            }
        }
    }

    @media screen and (max-height: 400px) {
        opacity: 0;
    }

    @media screen and (max-height: 400px) {
        opacity: 0;
    }
}

.login-frame {
    left: 0;
    margin: 40px auto;
    max-width: 100%;
    padding: 15px 15px 40px 15px;
    position: relative;
    top: 0;
    transform: translate(0, 0);
    width: 320px;

    @media screen and (min-height: 320px) {
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.login-form {
    opacity: 0;
    transition: .25s opacity ease-in-out;
    &-loaded {
        opacity: 1;
    }
    &-field {
        margin-bottom: 20px;
    }
}

.login-buttons {
    display: inline-block;
    max-width: 100%;
    position: relative;
    width: 100%;

    &-center {
        left: 50%;
        position: relative;
        transform: translateX(-50%);
    }
    &-right {
        right: 0;
        width: 100%;

        .login-btn {
            margin-left: 50%;
            max-width: 50%;
            right: 0;
        }
    }
    &-left {
        left: 0;
    }
}

.login-btn {
    box-shadow: none;
    cursor: pointer;
    font-weight: 300;
    max-width: 100%;
    min-height: 38px;
    position: relative;
    transition: .25s background ease-in-out;
    width: 100%;
}

.login-btn-50 {
    float: none;
    width: 100%;
    &:first-of-type {
        margin-bottom: 10px;
    }
    @include media-breakpoint-up(sm) {
        float: left;
        width: calc(50% - 5px);
        &:first-of-type {
            margin-right: 10px;
        }
    }
}

.login-title {
    font-size: $font-size-h4;
    line-height: 1.05;
    margin-bottom: 20px;
    text-align: left;
    @include media-breakpoint-up(sm) {
        font-size: $font-size-h3;
    }
}

.login-inputs {
    width: 100%;
}

.login-form-field {
    margin-bottom: 35px;
    position: relative;
}

.login-input-label {
    color: $gray-800;
    cursor: text;
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    left: 10px;
    margin-bottom: 0;
    position: absolute;
    top: 10px;
    transition: top .25s ease-in-out, color .25s ease-in-out, font-size .25s ease-in-out, left .25s ease-in-out;
    width: auto;
}

@mixin login-input-not-empty {
    top: -24px;
    font-size: 13px;
    left: 0;
    cursor: default;
}

.login-input {
    border: solid 1px $gray-300;
    display: block;
    font-weight: 300;
    margin-bottom: 10px;
    padding: 9px;
    width: 100%;

    &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px white inset;

        + .login-input-label {
            @include login-input-not-empty;
        }
    }
    /* -webkit-text-fill-color: yellow !important; */

    &:last-of-type {
        margin-bottom: 3px;
    }

    &.is-not-empty + .login-input-label {
        @include login-input-not-empty;
    }

    &:focus, &:valid {
        border-bottom-color: theme-color(primary);
        outline: 0;
    }

    &:focus {
        + .login-input-label {
            @include login-input-not-empty;
        }
    }

}

.login-link {
    transition: .25s color ease-in-out;
    &:hover {
        color: map-get($grays, 800);
        text-decoration: none;
    }
}

.login-status {
    margin-bottom: 35px;
    min-height: 25px;

    ul {
        margin: 0;
        padding-left: 10px;

        li {
            list-style: none;
            margin: 0;
            padding: 5px 0;
        }
    }
}

.login-info {

    bottom: 0;
    display: block;
    left: 0;
    opacity: 1;
    padding: 25px;
    position: absolute;
    text-align: center;
    width: 100%;

    &-text {
        font-weight: 300;
        .material-icons {
            color: $green;
            font-size: 25px;
            line-height: 1;
            margin-top: -2px;
            padding-right: 5px;
        }
    }

    h1 {
        text-align: center;
    }

    @include media-breakpoint-up(sm) {

        padding: 25px;

        text-align: left;
        h1 {
            text-align: left;
        }
    }

    @media screen and (max-height: 400px) {
        opacity: 0;
        display: none;
    }

    @media screen and (max-height: 400px) {
        opacity: 0;
        display: none;
    }
}

.login-secure-token-label {
    font-weight: 300;
}

.login-success {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-60%, -50%);

    i {
        color: $green;
        font-size: 95px;
    }
}

.login-links {
    display: none;
    position: absolute;

    @include media-breakpoint-up(sm) {
        bottom: 0;
        display: block;
        padding: 25px;
        right: 0;
    }

    @media screen and (max-height: 400px) {
        opacity: 0;
        display: none;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }
}

.login-spinner {
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    .svg-spinner {
        animation: spinner .5s linear infinite;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 28px;
    }
}

@keyframes spinner {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg)
    }
}