.login-screen {
    background-color: $white;
    position: relative;
    height: 100%;
    width: 100%;
}

.login-logo {
    position: absolute;
    left:50%;
    top:0;
    transition: .2s all ease-in-out;
    transform: translateX(-50%);
    z-index: 99;

    img {
        width: 80px;
        @include media-breakpoint-up(sm) {
            width: 100px;
        }
    }

    &-loaded {
        top: -120px;
        @include media-breakpoint-up(sm) {
            top: -160px;
        }
    }
}

.login-frame {
    width: 320px;
    max-width: 100%;
    position: relative;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding: 15px 15px 40px 15px;
}

.login-form {
    opacity: 0;
    transition: .25s opacity ease-in-out;
    &-loaded {
        opacity: 1;
    }
    &-field {
        margin-bottom: 20px;
    }
}

.login-buttons {
    width: 100%;
    max-width: 100%;
    display: inline-block;
    position: relative;

    &-center {
        left:50%;
        transform: translateX(-50%);

        position: relative;
    }
    &-right {
        width: 100%;
        right:0;

        .login-btn {
            right:0;
            margin-left: 50%;
            max-width: 50%;
        }
    }
    &-left {
        left:0;
    }
}

.login-btn {
    background: $pink;
    width:100%;
    max-width: 100%;
    min-height: 40px;
    cursor: pointer;
    box-shadow: none;
    border: none;
    color: $white;
    transition: .25s background ease-in-out;
    outline: 0 !important;
    font-weight: 300;

    &:hover {
        background: $pink-alpha-50;
    }
}

.login-btn-50 {
    float: none;
    width: 100%;
    &:first-of-type {
        margin-bottom: 10px;
    }
    @include media-breakpoint-up(sm) {
        width: calc(50% - 5px);
        float: left;
        &:first-of-type {
            margin-right: 10px;
        }
    }
}
.login-title {
    text-align: left;
    font-size: $font-size-h4;
    margin-bottom: 20px;
    line-height: 1.05;
    @media (min-width: 518px) {
        font-size: $font-size-h3;
    }
}

.login-inputs {
    width: 100%;
}

.login-form-field {
    position: relative;
    margin-bottom: 35px;
}

.login-input-label {
    position: absolute;
    margin-bottom: 0;
    top: 10px;
    left: 10px;
    display: inline-block;
    width: auto;
    transition: top .25s ease-in-out, color .25s ease-in-out, font-size .25s ease-in-out, left .25s ease-in-out;
    font-size: 15px;
    font-weight: 300;
    color: $gray-800;
}

.login-input {
    display:block;
    width: 100%;
    border-color:$white;
    border: solid 1px $gray-300;
    padding: 9px;
    margin-bottom: 10px;
    font-weight: 300;

    &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px white inset;
    }
    /* -webkit-text-fill-color: yellow !important; */

    &:last-of-type {
        margin-bottom: 3px;
    }

    &:focus, &:valid, &:-webkit-autofill {
        outline: 0;
        ~ .login-input-label {
            top: -24px;
            font-size: 13px;
            left: 0;
        }
    }

    &:focus, &:valid {
        border-bottom-color: $pink;
    }
}

.login-link {
    transition: .25s color ease-in-out;
    &:hover {
        color: map-get($grays, 800);
        text-decoration: none;
    }
}

.login-status {
    min-height: 25px;
    margin-bottom: 35px;

    ul {
        padding-left: 10px;
        margin: 0;

        li {
            list-style: none;
            margin: 0;
            padding: 5px 0;
        }
    }

    &-success {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translate(-50%);
        width: 100px;
        height: 100px;

        font-size: 90px !important;
        text-align: center;
        color: $pink;

    }
}

.login-info {
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;

    h1 {
        text-align: center;
    }
    padding: 25px;
    text-align: center;

    @include media-breakpoint-up(sm) {

        h1 {
            text-align: left;
        }

        padding: 25px;
        text-align: left;

        &-text {
            font-weight: 300;
        }
    }
}

.login-secure-token-label {
    font-weight: 300;
}

.login-links {
    position: absolute;
    display: none;

    @include media-breakpoint-up(sm) {
        display: block;
        right:0;
        bottom: 0;
        padding: 25px;

    }

    ul {
        padding: 0;
        margin: 0;

        li {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }
}