.luya {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-start;
    width: 100%;
}

.luya__main {
    align-items: stretch;
    display: flex;
    flex: 1 1;
    flex-direction: row;
    height: 100%;
    justify-content: flex-start;
}

.luya__mainnav {
    z-index: 50;
}

.luya__subnav {
    align-items: stretch;
    background-color: $white;
    color: $gray;
    display: flex;
    flex: 0 0 250px;
    overflow: auto;
    overflow: -moz-scrollbars-none; // Firefox
    padding: 0 10px;
    max-width: 250px;
    &::-webkit-scrollbar {
        display: none; // Safari and Chrome
    }

    &.overlaying {
        bottom: 0;
        box-shadow: 2px 0 10px 1px rgba(0,0,0,.1);
        position: absolute;
        top: 0;
        transform: translateX(calc(-100% + 50px));
        transition: .2s ease-in-out transform;
        z-index: 20;

        &:hover {
            transform: translateX(0);
        }
    }

    -ms-overflow-style: none; // IE 10+
}

.luya__content {
    background-color: $gray-lightest;
    flex: 1 1;
    overflow: auto;
    overflow: -moz-scrollbars-none; // Firefox
    padding: 15px 25px;
    &::-webkit-scrollbar {
        display: none; // Safari and Chrome
    }
    &--cmsadmin {
        padding: 0;
    }

    .luya__subnav.overlaying + & {
        padding-left: 50px;
    }

    -ms-overflow-style: none; // IE 10+
}