.luyasearch {
    display: none;
    padding-top: 50px;

    @media (min-width: $mobile-nav-breakpoint) {
        position: absolute;
        display: block;
        width: 640px;
        max-width: 100%;
        top: 0;
        bottom: 0;
        z-index: z-index(luyasearch);
        padding-left: 62px;
        transition: .25s left ease-in-out;
        overflow-y: auto;

        @include media-breakpoint-up(lg) {
            width: 70%;
        }

        &-closed {
            left: -100%;
        }

        &-open {
            left: 0;
        }

        &-toggled {

            padding-left: 200px;

            @include media-breakpoint-up(lg) {
                .luyasearch-form {

                    width: calc(70% - 200px);
                }
            }
        }
    }
}

.luyasearch-inner {
    transition: max-height .25s ease-in-out;
    background: $white;
    height: auto;
    padding: 21px $content-padding-y $content-padding-x $content-padding-y;
    position: relative;
    margin-right: $border-radius;

    &-input {
        box-shadow: 0 0 2px 0 color(grey);
    }

    .alert {
        margin-bottom: 0;
    }
}

.luyasearch-form {

    top: 0;
    width: 440px;
    background: map-get($grays, 100);
    padding: $content-padding-y $content-padding-x;
    margin-bottom: 0;
    border-bottom-right-radius: $border-radius;
    box-shadow: 0 0 2px 0 color(grey);

    position: fixed;
    z-index: z-index(search);

    @include media-breakpoint-up(lg) {
        width: calc(70% - 62px);
    }
}
.luyasearch-input {
    width: calc(100% - 45px);
    display: inline-block;
    max-width: 100%;
    padding: 6px 5px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.luyasearch-close {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 40px;
    cursor: pointer;
    transition: .25s color ease-in-out;

    &:hover {
        color: $pink;
    }

    i {
        position: absolute;
        display: inline-block;
        padding-right: 5px;
        padding-left: 12px;
        top: -17px;
        width: 100%;
        height: 100%;
        font-size: 24px !important;
        color: color(grey);
    }
}


.luyasearch-result {
    background: map-get($grays, 100);
    position: relative;
    margin-bottom: 15px;
}

.luyasearch-result-title {
    color: map-get($grays, 800);
    display: block;
    font-size: 20px;
    font-family: $font-family-sans-serif;
    font-weight: 200;
    position:relative;
}

.luyasearch-toggler {
    background: $white;
    position: absolute;
    right:0;
    top: 0;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 5px;
    color: inherit;
    transition: .25s color ease-in-out, .25s ease-in-out transform;

    &:hover {
        color: $pink;
    }

    &-open {

        transform: rotate(90deg);
    }
    &-closed {

        transform: rotate(-90deg);
    }
}

.luyasearch-result-counter {
    position: absolute;
    right: -7px;
    top: -7px;
    font-size: 9px;
    padding:1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: map-get($grays, 800);
    color: $white;
    text-align: center;
}

.luyasearch-result-counter-100 {
    color: $black;
    position: absolute;
    right: -18px;
    top: -16px;
    padding:1px;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
}

.luyasearch-table-wrapper {
    overflow-x: auto;
    margin-top: 10px;
    padding: 5px;
}

.luyasearch-table {
    width: 100%;
    td {
        min-width: 100px;
        transition: .25s padding ease-in-out;
    }

    tr {
        line-height: 35px;
        cursor: pointer;
        transition: .25s background ease-in-out, .25s color ease-in-out;

        &:hover {
            &:first-of-type {
                background: none;
                color: $black;
                cursor: default;
            }
            background: $pink;
            color: $white;

            td {
                &:first-of-type {

                }
            }
        }
    }
}