.luyasearch {
    background: white;
    bottom: 0;
    box-shadow: 0 0 10px -2px map-get($grays, 800);
    display: none;
    max-width: 640px;
    overflow-y: auto;
    padding: 73px $content-padding-x 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: z-index(luyasearch);

    @media (min-width: $mobile-nav-breakpoint) {
        display: block;
    }
    @include media-breakpoint-up(lg) {
        max-width: 70%;
    }

    &-closed {
        left: -100%;
    }

    &-open {
        left: 62px;

        &.luyasearch-toggled {
            left: 200px;
        }
    }
}

.luyasearch-loader {
    margin-top: 25px;
}

.luyasearch-form {
    max-width: 640px;
    padding: $content-padding-x;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    @include media-breakpoint-up(lg) {
        max-width: 70%;
    }

    .luyasearch-closed & {
        left: -100%;
    }

    .luyasearch-open & {
        left: 62px;
    }

    .luyasearch-open.luyasearch-toggled & {
        left: 200px;
    }
}

.luyasearch-input {
    max-width: 100%;
    width: calc(100% - 50px);
}

.luyasearch-close {
    background: $white;
    cursor: pointer;
    height: 37px;
    line-height: 1em;
    padding: 7px;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: .25s color ease-in-out;
    width: 31px;

    &:hover {
        color: $pink;
    }

    &-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.luyasearch-results {
    position: relative;
}

.luyasearch-result {
    margin-bottom: 15px;
    position: relative;
}