.luya {
    display: block;
    width: 100%;

    @media (min-width: $mobile-nav-breakpoint) {
        display: flex;
        flex-direction: row;
        height: 100%;
        justify-content: flex-start;
        width: 100%;
    }
}

.luya-main-wrapper {
    display: block;
    height: 100%;
    width: 100%;
}

.luya-main {
    display: block;
    height: 100%;

    @media (min-width: $mobile-nav-breakpoint) {
        align-items: stretch;
        display: flex;
        flex: 1 1;
        flex-direction: row;
        height: 100%;
        justify-content: flex-start;
    }
}

.luya-mainnav {
    width: 100%;
    z-index: z-index(navbar);

    @media (min-width: $mobile-nav-breakpoint) {
        position: relative;
        width: $mainnav-width;
    }

    &-small {

        @media (min-width: $mobile-nav-breakpoint) {
            width: $mainnav-width-small;
        }
    }
}

.luya-main-wrapper {
    display: block;
    width: 100%;

    @media (min-width: $mobile-nav-breakpoint) {
        max-width: calc(100% - #{$mainnav-width});

        .luya-mainnav-small + & {
            max-width: calc(100% - #{$mainnav-width-small});
        }
    }
}

.luya-subnav {
    background-color: map-get($grays, 100);
    color: color('gray');
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    // overflow: -moz-scrollbars-none; // Firefox
    width: 100%;

    &::-webkit-scrollbar {
        display: none; // Safari and Chrome
    }
    .cmsnav {
        padding: $content-padding-y $content-padding-x;
    }

    -ms-overflow-style: none; // IE 10+

    @media (min-width: $mobile-nav-breakpoint) {
        align-items: stretch;
        display: flex;
        flex: 0 0 250px;
        max-width: 250px;
        padding: $content-padding-y $content-padding-x;

        .cmsnav {
            padding: 0;
        }

        &.overlaying {
            bottom: 0;
            box-shadow: 2px 0 10px 1px rgba(0, 0, 0, .1);
            position: absolute;
            top: 0;
            transform: translateX(calc(-100% + 50px));
            transition: .2s ease-in-out transform;
            z-index: z-index(above-content);

            &:hover {
                transform: translateX(0);
            }
        }
    }
}

.luya-content {
    background-color: map-get($grays, 100);
    padding: $content-padding-y $content-padding-x;
    &::-webkit-scrollbar {
        display: none; // Safari and Chrome
    }

    &-cmsadmin {
        padding: 0;
    }

    @media (min-width: $mobile-nav-breakpoint) {
        flex: 1 1;
        height: 100%;
        overflow-y: auto;
        //overflow: -moz-scrollbars-none; // Firefox
        -ms-overflow-style: none; // IE 10+

        .luya-subnav.overlaying + & {
            padding-left: 50px;
        }
    }
}

// Safari 100% height fix and flexbox override

body.browser-safari {
    .luya-mainnav {
        margin-right: 30px;

        &-small {
            margin-right: 0;
        }
        @media (min-width: $mobile-nav-breakpoint) {
        }
    }

    .mainnav-link {
        display: block;
    }

    .luya-mainnav-is-open {
        .luya-subnav {
            &.overlaying {
                left: $mainnav-width;

                &:hover {
                    transform: translateX(0);
                }
            }
        }
    }
}