/**
 * Set height of the sidebar and main containers
 */
.luya-container__sidebar,
.luya-container__main {

    // Display & Dimensions
    display: inline-block;

}

.luya-container__angular-placeholder {
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    top: $navbar-height;
    width: 100%;

    .luya-container--right-panel-active & {
        width: 80%;
    }
}

.luya-container__right-panel {
    background-color: color("shades", "white");
    bottom: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    display: none;
    padding: 25px;
    position: absolute;
    right: 0;
    top: $navbar-height;
    width: 20%;

    .luya-container--right-panel-active & {
        display: block;
    }
}

/**
 * Width of the main container
 */
.luya-container__main {

    // Positioning
    background-color: color("grey", "lighten-4");
    bottom: 0;
    left: 0;
    overflow: scroll;
    padding-left: $luya-container__sidebar--width;
    position: absolute;

    // Dimensions
    top: 0;

    // Look & Feel
    transition: 0.25s ease padding-left;

    width: 100%;

    &.luya-container__main--liveedit-active {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        padding-left: $luya-container__sidebar--width + $luya-container__sidebar--liveedit-active-margin; // Cause the margin value is negative, "add" the value
        width: 60%;
    }
}

/**
 * Width of the sidebar container
 */
.luya-container__sidebar {

    // Positioning
    background-color: color('shades', 'white');
    bottom: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    left: 0;
    overflow: auto;

    // Dimensions
    position: fixed;

    // Look & Feel
    top: $navbar-height;
    transition: 0.25s ease margin-left;

    width: $luya-container__sidebar--width;

    z-index: 15;

    &.luya-container__sidebar--liveedit-active {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        margin-left: $luya-container__sidebar--liveedit-active-margin;

        &:hover {
            margin-left: 0;
        }
    }

    @media #{$small-and-down} {
        top: $navbar-height-mobile;
    }
}

.luya-container__liveedit {
    bottom: 0;
    display: none;
    height: auto;
    position: fixed;
    right: 0;
    top: $navbar-height;
    width: 40%;

    &.luya-container__liveedit--active {
        display: block;
    }
}