.luya {
    display: block;
    width: 100%;

    @media (min-width: $mobile-nav-breakpoint) {
        display: flex;
        flex-direction: row;
        height: 100%;
        justify-content: flex-start;
        width: 100%;
    }
}

.luya-main-wrapper {
    display: block;
    width: 100%;
    height: 100%;
}

.luya-main {
    display: block;

    @media (min-width: $mobile-nav-breakpoint) {
        align-items: stretch;
        display: flex;
        flex: 1 1;
        flex-direction: row;
        height: 100%;
        justify-content: flex-start;
    }
}

.luya-mainnav {
    z-index: 100;
}

.luya-subnav {
    background-color: $white;
    color: $gray;
    display: flex;
    overflow: auto;
    overflow: -moz-scrollbars-none; // Firefox

    padding: 0 10px 20px;
    width: 100%;
    &::-webkit-scrollbar {
        display: none; // Safari and Chrome
    }
    -ms-overflow-style: none; // IE 10+

    @media (min-width: $mobile-nav-breakpoint) {
        align-items: stretch;
        display: flex;
        flex: 0 0 250px;
        max-width: 250px;
        padding: 0 10px;

        &.overlaying {
            bottom: 0;
            box-shadow: 2px 0 10px 1px rgba(0, 0, 0, .1);
            position: absolute;
            top: 0;
            transform: translateX(calc(-100% + 50px));
            transition: .2s ease-in-out transform;
            z-index: 20;

            &:hover {
                transform: translateX(0);
            }
        }
    }
}

.luya-content {
    background-color: $gray-lightest;
    overflow: auto;
    overflow: -moz-scrollbars-none; // Firefox
    padding: 15px 25px;
    height: 100%;
    &::-webkit-scrollbar {
        display: none; // Safari and Chrome
    }
    &-cmsadmin {
        padding: 0;
    }

    -ms-overflow-style: none; // IE 10+

    @media (min-width: $mobile-nav-breakpoint) {
        flex: 1 1;

        .luya-subnav.overlaying + & {
            padding-left: 50px;
        }
    }
}