@mixin label-background {
    background-color: rgba($black, .15);
}

.mainnav {
    background: color(gray);
    color: $white;
    display: block;
    padding: 5px 10px 10px;
    width: 100%;

    @media (min-width: $mobile-nav-breakpoint) {

        position: relative;
        display: flex;
        flex: 0 0 $mainnav-width;
        flex-direction: column;
        height: 100%;
        width: $mainnav-width;

        .mainnav-tooltip-big-wrapper {
            left: 170px;
        }

        &-small {
            flex: 0 0 $mainnav-width-small;
            width: $mainnav-width-small;

            .mainnav-tooltip-big-wrapper {
                left: 30px;
            }

            .mainnav-tooltip-toggle-hidden {
                visibility: visible;
            }
        }
        user-select: none;
    }
}

.mainnav-toggler-mobile {
    position: relative;
    cursor: pointer;
    font-size: 30px;
    text-align: right;

    @media (min-width: $mobile-nav-breakpoint) {
        display: none;
    }
}

.mainnav-hidden {
    display: none;

    @media (min-width: $mobile-nav-breakpoint) {
        display: block;
    }
}

.hide-on-mobile {
    display: none;

    @media (min-width: $mobile-nav-breakpoint) {
        display: block;
    }
}

.mainnav-modules {
    flex: 1 0;

    overflow-y: auto;
    //overflow: -moz-scrollbars-none; // Firefox
    &::-webkit-scrollbar {
        display: none; // Safari and Chrome
    }
    -ms-overflow-style: none; // IE 10+
}

.mainnav-static {
    flex: 0 0;
}

.mainnav-list {
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;
}

.mainnav-entry {
    margin-top: 5px;

    .mainnav-small & {
        text-align: left;

        @media (min-width: $mobile-nav-breakpoint) {
            text-align: center;
        }
    }
}

.mainnav-link, .mainnav-parent {
    border: 1px solid transparent;
    border-radius: $border-radius;
    color: map-get($grays, 400);
    cursor: pointer;
    display: flex;
    min-height: 42px;
    padding: 8px;
    position: relative;
    text-decoration: none;
    transition: .2s ease-in-out color, .2s ease-in-out background-color;

    @media (min-width: $mobile-nav-breakpoint) {
        .mainnav-small & {
            padding: 9px;
        }

        .mainnav-small &:after {
           @include label-background;
            border-radius: $border-radius;
            content: "";
            height: 0;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            transition: .1s ease-in-out height, .1s ease-in-out width;
            width: 0;
        }
    }

    &:focus {
        color: map-get($grays, 100);
        text-decoration: none;

        .mainnav-user-online {
            color: theme-color(primary);
        }
    }
    &-active,
    &:hover,
    &:active,
    &:focus {
        @include label-background;
        color: map-get($grays, 100);
        text-decoration: none;

        @media (min-width: $mobile-nav-breakpoint) {
            .mainnav-small & {
                background-color: transparent;

                &:after {
                    height: 100%;
                    width: 100%;
                }
            }
        }

        .mainnav-label {
            color: map-get($grays, 100);
        }

        .mainnav-tooltip-big-wrapper {
            display: block;
            opacity: 1;

            + .mainnnav-tooltip-big {
                display: inline-block;
                visibility: visible;
            }
        }
    }
}

.mainnav-icon,
.mainnav-label {
    display: inline-block;
    line-height: 22px;
    color: map-get($grays, 400);
    z-index: zindex(popover);
}

.mainnav-icon {
    font-size: 24px !important;
    margin: 0 15px 0 0;
    transition: .1s ease-in-out color;

    @media (min-width: $mobile-nav-breakpoint) {
        flex: 0 0;

        .mainnav-small & {
            left: 50%;
            margin: 0;
            position: absolute;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }

    .mainnav-link-active & {
        color: theme-color(primary);
    }

    + span {
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
    }
}


.mainnav-image-icon {
    height: auto;
    margin-top: -2px;
    min-width: 24px;
    width: 100%;
    max-width: 25px;
    color: map-get($grays, 400);

    &-small {
        margin-top: 0;
    }
}

.mainnav-label {
    @include google-chrome-font-offset-fix;

    @media (min-width: $mobile-nav-breakpoint) {
        flex: 1 0;

        .mainnav-small & {
            display: none;
        }
    }
}

.mainnav-toggler {
    background-color: map-get($grays, 700);
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    display: none;
    margin: 0;
    min-height: 42px;
    outline: none !important;
    padding: 0;
    position: absolute;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .25s ease-in-out, min-height .2s ease-in-out;;
    width: 16px;

    i {
        color: map-get($grays, 100);;
        transition: transform .25s ease-in-out, color .25s ease-in-out
    }

    &:hover {
        background-color: color(gray);
        min-height: 72px;
    }

    &-open {

        i {
            transform: rotate(180deg);
        }
    }

    @media (min-width: $mobile-nav-breakpoint) {
        display: block;
    }
}

.mainnav-icon-user-count {
    position: relative;
    ~ .mainnav-label {
        margin-left: 5px;
    }
}

.mainnav-user-online {
    font-size: 12px;
    height: 0;
    left: 50%;
    position: absolute;
    top: 2px;
    transform: translateX(-50%);
}

.mainnav-tooltip-big-wrapper {
    padding-left: 30px;
    display: none;
    opacity: 0;
    position: absolute;
    bottom: 0;

    @media (min-width: $mobile-nav-breakpoint) {
        padding-left: 22px;
    }
}

.mainnav-tooltip-big {
    max-width: 100%;
    min-height: 42px;
    display: inline-block;
    //background: $tooltip-bg;
    background-color: $tooltip-bg-alt;
    border-radius: $border-radius;
    padding: 0 10px;
    box-shadow: $tooltip-box-shadow;
    font-size: 14px;

    &:after {
        border-color: transparent $tooltip-bg-alt transparent transparent;
        border-style: solid;
        border-width: 5px 5px 5px 0;
        bottom: 18px;
        content: "";
        left: 25px;
        position: absolute;

        @media (min-width: $mobile-nav-breakpoint) {
            left: 17px;
        }
    }

    tbody {
        color: map-get($grays, 100);

        th {
            border-bottom: 1px solid map-get($grays, 100);;
            line-height: 20px;
            margin-bottom: 15px;
        }

        th, td {
            white-space: nowrap;
            padding: 10px 10px 10px 0;
            text-align: left;
            cursor: default;

            &:last-of-type {
                padding-right: 0;
                max-width: 37px;
            }
        }

    }

    ul, &-menu {
        padding-left: 0;
        padding-bottom: 0;
        padding-top: 5px;
        margin-right: -5px;
        margin-left: -5px;

         li, &-item {
             list-style: none;
             position: relative;
             display: block;
             text-align: left;
             border-radius: $border-radius;
             padding: 5px 10px 5px 30px;
             margin-bottom: 5px;


            i {
                position: absolute;
                left: 5px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 18px;
            }
            a, &-link {
                color: map-get($grays, 400);
                line-height: 24px;
                transition: color .25s ease-in-out;

                &:hover, &-active {
                     text-decoration: none;
                 }
            }

            &:hover, &-active {
                @include label-background;

                i {
                    color: map-get($theme-colors, primary);
                }

                a {
                    color: $white !important;
                }
            }
        }
    }
}

.mainnav-mobile-title {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: map-get($grays, 300);
}