.mainnav {
    background: color(gray);
    color: $white;
    display: block;
    padding: 5px 10px 10px;
    position: relative;
    width: 100%;

    @media (max-width: $mobile-nav-breakpoint - 1px) {
        .tooltip {
            display: none !important;
        }
    }
    @media (min-width: $mobile-nav-breakpoint) {
        display: flex;
        flex: 0 0 200px;
        flex-direction: column;
        height: 100%;
        width: 200px;

        .mainnav-tooltip-big {
            left: 195px;
        }

        &-small {
            flex: 0 0 62px;
            width: 62px;

            .mainnav-tooltip-big {
                left: 55px;
            }

            .mainnav-tooltip-toggle-hidden {
                visibility: visible;
            }
        }
        user-select: none;

        &:not(.mainnav-small) {
            .tooltip {
                display: none !important;
            }
        }
    }
}

.mainnav-toggler-mobile {
    cursor: pointer;
    font-size: 30px;
    text-align: right;

    @media (min-width: $mobile-nav-breakpoint) {
        display: none;
    }
}

.mainnav-hidden {
    display: none;

    @media (min-width: $mobile-nav-breakpoint) {
        display: block;
    }
}

.hide-on-mobile {
    display: none;

    @media (min-width: $mobile-nav-breakpoint) {
        display: block;
    }
}

.mainnav-modules {
    flex: 1 0;

    overflow: auto;
    overflow: -moz-scrollbars-none; // Firefox
    &::-webkit-scrollbar {
        display: none; // Safari and Chrome
    }
    -ms-overflow-style: none; // IE 10+
}

.mainnav-static {
    flex: 0 0;
}

.mainnav-list {
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;
}

.mainnav-entry {
    margin-top: 5px;

    .mainnav-small & {
        text-align: center;

    }
}

.mainnav-link {
    border-radius: 5px;
    color: map-get($grays, 400);
    cursor: pointer;
    display: flex;
    min-height: 42px;
    padding: 8px;
    position: relative;
    text-decoration: none;
    transition: .2s ease-in-out color, .2s ease-in-out background-color;

    @media (min-width: $mobile-nav-breakpoint) {
        .mainnav-small & {
            padding: 9px;
        }

        .mainnav-small &:after {
            background-color: rgba(#fff, .1);
            border-radius: 5px;
            content: "";
            height: 0;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            transition: .1s ease-in-out height, .1s ease-in-out width;
            width: 0;
        }
    }

    &:focus {
        color: $white;
        text-decoration: none;

        .mainnav-user-online {
            color: theme-color(primary);
        }
    }

    &:hover,
    &-active {
        background-color: rgba(#fff, .1);
        color: $white;
        text-decoration: none;

        .mainnav-user-online {
            color: theme-color(primary);
        }

        @media (min-width: $mobile-nav-breakpoint) {
            .mainnav-small & {
                background-color: transparent;

                &:after {
                    height: 100%;
                    width: 100%;
                }
            }
        }

        .mainnav-label {
            color: map-get($grays, 100);;
        }

        .mainnav-tooltip-big {
            display: block;
            opacity: 1;
        }
    }
}

.mainnav-icon,
.mainnav-label {
    display: inline-block;
    line-height: 22px;
}

.mainnav-icon {
    font-size: 24px !important;
    margin: 0 15px 0 0;
    transition: .1s ease-in-out color;

    @media (min-width: $mobile-nav-breakpoint) {
        flex: 0 0;

        .mainnav-small & {
            left: 50%;
            margin: 0;
            position: absolute;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }

    .mainnav-link-active &,
    .mainnav-link:hover & {
        color: theme-color(primary);
    }
}

.mainnav-image-icon {
    height: auto;
    margin-top: -2px;
    min-width: 24px;
    width: 100%;

    &-small {
        margin-top: 0;
    }
}

.mainnav-label {
    @include google-chrome-font-offset-fix;

    @media (min-width: $mobile-nav-breakpoint) {
        flex: 1 0;

        .mainnav-small & {
            display: none;
        }
    }
}

.mainnav-toggler {
    background: map-get($grays, 700);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    margin: 0;
    min-height: 42px;
    outline: none !important;
    padding: 0;
    position: absolute;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
    transition: background .25s ease-in-out, min-height .2s ease-in-out;;
    width: 16px;

    i {
        color: map-get($grays, 100);;
        transition: transform .25s ease-in-out, color .25s ease-in-out
    }

    &:hover {
        background: color(gray);
        min-height: 72px;
    }

    &-open {

        i {
            transform: rotate(180deg);
        }
    }

    @media (min-width: $mobile-nav-breakpoint) {
        display: block;
    }
}

.mainnav-icon-user-count {
    display: inline-block;
    position: relative;
}

.mainnav-user-online {
    font-size: 12px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    transition: color .2s ease-in-out;
}

.mainnav-tooltip-big {
    background: map-get($grays, 800);
    border-radius: 5px;
    bottom: 0;
    display: none;
    opacity: 0;
    padding: 10px;
    position: absolute;
    transition: .25s opacity ease-in-out;

    &:after {
        border-color: transparent map-get($grays, 800) transparent transparent;
        border-style: solid;
        border-width: 5px 5px 5px 0;
        bottom: 15px;
        content: "";
        left: -5px;
        position: absolute;
    }

    tbody {
        color: map-get($grays, 100);;
        th {
            border-bottom: 1px solid map-get($grays, 100);;
            line-height: 20px;
            margin-bottom: 15px;
        }
        th, td {
            min-width: 180px;
            padding: 10px 0;
            text-align: left;

            &:last-of-type {
                min-width: 150px;
            }
            &:first-of-type {
                padding-left: 5px;
            }
        }

        tr {
            padding: 10px;
            &.mainnav-tooltip-big-green {
                color: $green;
            }

            &.mainnav-tooltip-big-red {
                color: $red;
            }

            &.mainnav-tooltip-big-gray {
                color: map-get($grays, 600);
            }
        }
    }
}