.mainnav {
    background: map_get($mainnav-colors, 'background');
    color: map_get($mainnav-colors, 'color');
    display: flex;
    flex: 0 0 200px;
    flex-direction: column;
    height: 100%;
    padding: 5px 10px 10px;
    position: relative;
    width: 200px;

    &-small {
        flex: 0 0 62px;
        width: 62px;
    }
    user-select: none;
}

.mainnav-modules {
    flex: 1 0;

    overflow: auto;
    overflow: -moz-scrollbars-none; // Firefox
    &::-webkit-scrollbar {
        display: none; // Safari and Chrome
    }
    -ms-overflow-style: none; // IE 10+
}

.mainnav-static {
    flex: 0 0;
}

.mainnav-list {
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;
}

.mainnav-entry {
    margin-top: 5px;

    .mainnav-small & {
        text-align: center;
    }
}

.mainnav-link {
    border-radius: 5px;
    color: $gray-light;
    cursor: pointer;
    display: flex;
    min-height: 42px;
    padding: 9px;
    position: relative;
    text-decoration: none;
    transition: .2s ease-in-out color, .2s ease-in-out background-color;

    .mainnav-small &:after {
        background-color: rgba(#fff, .1);
        border-radius: 5px;
        content: "";
        height: 0;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: .1s ease-in-out height, .1s ease-in-out width;
        width: 0;
    }

    &:focus {
        color: map_get($mainnav-colors, 'color');
        text-decoration: none;
    }

    &:hover,
    &-active {
        background-color: rgba(#fff, .1);
        color: $brand-primary;
        text-decoration: none;

        .mainnav-small & {
            background-color: transparent;

            &:after {
                height: 100%;
                width: 100%;
            }
        }

        .mainnav-tooltip-big {
            display: block;
            opacity: 1;
        }
    }
}

.mainnav-icon,
.mainnav-label {
    display: inline-block;
    height: 24px;
    line-height: 24px;
}

.mainnav-icon {
    flex: 0 0;
    font-size: 24px !important;
    margin: 0 15px 0 0;

    .mainnav-small & {
        left: 50%;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

.mainnav-image-icon {
    height: auto;
    margin-top: -2px;
    min-width: 24px;
    width: 100%;

    &-small {
        margin-top: 0;
    }
}

.mainnav-label {
    flex: 1 0;
    @include google-chrome-font-offset-fix;

    .mainnav-small & {
        display: none;
    }
}

.mainnav-user-online {
    position: absolute;
    padding-top: 2px;

    font-size: 13px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.mainnav-tooltip-big {
    position: absolute;
    display: none;
    opacity: 0;
    left: 55px;
    background: $gray-dark;
    border-radius: 5px;
    bottom: 0;
    transition: .25s opacity ease-in-out;
    padding: 10px;

    &:after {
        content: "";
        border-style: solid;
        border-width: 5px 5px 5px 0;
        border-color: transparent $gray-dark transparent transparent;
        position: absolute;
        left: -5px;
        bottom: 15px;
    }

    tbody {
        color: $gray-light;
        th {
            line-height: 20px;
            border-bottom: 1px solid $gray-light;
            margin-bottom: 15px;
        }
        th, td {
            min-width: 180px;
            text-align: left;
            padding: 10px 0;

            &:last-of-type {
                min-width: 150px;
            }
            &:first-of-type {
                padding-left: 5px;
            }
        }

        tr {
            padding: 10px;
            &.mainnav-tooltip-big-green {
                color: $green;
            }

            &.mainnav-tooltip-big-red {
                color: $red;
            }

            &.mainnav-tooltip-big-gray {
                color: $gray;
            }
        }
    }
}