.material-icons {
    display: inline-block;
    vertical-align: middle;
    font-size: 1em;
    line-height: 1em;

    + span {
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
    }

    .btn-sm & {
        font-size: 16px;
    }
}