.modal {
    background-color: rgba(0, 0, 0, .7);

    &.show {
        display: block;
    }
}

.modal-body-gray {
    background-color: map-get($grays, 100);;
}

.modal-xl {
    max-width: 100%;
    margin: 30px 50px;
}