.modal {
    background-color: rgba(0, 0, 0, .7);

    &.show {
        display: block;
        transform: none;

        .modal-dialog {
            transform: none;
        }
    }
}

.modal-body-gray {
    background-color: map-get($grays, 100);
}

.modal-body h1 {
    margin-bottom: 25px;
}

.modal-body .modal-footer {
    margin: 15px -15px -15px -15px;
}

.modal-xl {
    margin: 30px 50px;
    max-width: 100%;
}

.modal-header {
    .close {
        cursor: pointer;
        position: relative;
    }
}

.modal-esc {
    color: $gray-500;
    cursor: pointer;
    font-size: 14px;
    left: -35px;
    line-height: 1.5rem;
    padding-right: 10px;
    position: absolute;
    top: 0;
}
