.modal {
    background-color: rgba(0, 0, 0, .7);

    &.show {
        display: block;
        transform: none;

        .modal-dialog {
            transform: none;
        }
    }
}

.modal-body-gray {
    background-color: map-get($grays, 100);
}

.modal-xl {
    margin: 30px 50px;
    max-width: 100%;
}


.modal-header {
    .close {
        position: relative;
        cursor: pointer;
    }
}

.modal-esc {
    position: absolute;
    top: 0;
    left:-35px;
    font-size: 14px;
    line-height: 1.5rem;
    padding-right: 10px;
    color: $gray-500;
    cursor: pointer;
}
