.modulenav {
    background: $gray-300;
    display: block;
    flex: 0 0;
    font-size: 14px;
    padding: $content-padding-y $content-padding-x;
    width: 100%;

    @media (min-width: $mobile-nav-breakpoint) {
        display: block;
        padding: 0;
        background: transparent;
    }
}

.modulenav-group {
    display: block;

    &:first-of-type {
        margin-top: 0;

        ul {
            margin-top: 0;

            li {
                margin-top: 0;
            }
        }
    }
    &:not(:first-child) {
        margin-top: 30px;
    }
}

.modulenav-group-title {
    color: map-get($grays, 600);
    display: block;
    padding-left: 8px;
    width: 100%;
}

.modulenav-list {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
}

.modulenav-item {
    display: block;
    margin-top: 5px;
}

.modulenav-link {
    border: 1px solid transparent;
    border-radius: $border-radius;
    color: color('gray');
    cursor: pointer;
    display: block;
    padding: 5px 5px 5px 30px;
    position: relative;
    transition: .25s ease-in-out background-color, .25s ease-in-out border-color;

    &:focus {
        text-decoration: none;
    }

    &-active,
    &:hover {
        // background-color: $card-cap-bg;
        border-color: $card-border-color;
        text-decoration: none;
    }

    &-active {
        i {
            color: theme-color(primary);
        }
    }
}

.modulenav-icon,
.modulenav-label {
    display: inline-block;
    line-height: 24px;
    margin: 0;
    vertical-align: middle;
}

.modulenav-icon {
    font-size: 20px !important;
    left: 5px;
    position: absolute;
    top: 4px;
}

.modulenav-label {
    line-height: 20px;
    margin-left: 3px;
}

.modulenav-mobile {
    background: $gray-400;
    color: theme-color(dark);
    max-width: 100%;
    padding: 0 $content-padding-x;
    position: relative;

    @media (min-width: $mobile-nav-breakpoint) {
        display: none;
    }

    &-hidden {

        @media (min-width: $mobile-nav-breakpoint) {
            display: block;
        }
        display: none;
    }
}

.modulenav-toggler-icon {
    cursor: pointer;
    font-size: 28px;
    text-align: right;
}

.modulenav-mobile-title {
    font-size: 14px;
    left: 10px;
    position: absolute;
    top: 50%;

    transform: translateY(-50%);
}
