.modulenav {
    display: block;
    flex: 0 0 100%;
    font-size: 14px;
    width: 100%;
}

.modulenav-group {
    display: block;

    &:first-child {
        margin-top: 14px;
    }
    &:not(:first-child) {
        margin-top: 30px;
    }
}

.modulenav-group-title {
    color: map-get($grays, 600);
    display: block;
    padding-left: 32px;
    width: 100%;
}

.modulenav-list {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
}

.modulenav-item {
    display: block;
    margin-top: 5px;
}

.modulenav-link {
    border-radius: 5px;
    color: color('gray');
    cursor: pointer;
    display: block;
    padding: 5px 5px 5px 30px;
    position: relative;
    transition: .25s ease-in-out background-color;

    &:focus {
        text-decoration: none;
    }

    &-active,
    &:hover {
        color: theme-color(primary);
        text-decoration: none;
    }
}

.modulenav-icon,
.modulenav-label {
    display: inline-block;
    line-height: 24px;
    margin: 0;
    vertical-align: middle;
}

.modulenav-icon {
    font-size: 20px !important;
    left: 0;
    position: absolute;
}

.modulenav-label {
    line-height: 20px;
    margin-left: 3px;
}