.nav-wrapper {
    padding-#{$navbar__search--position}: 60px;
    min-height: 64px;

    .material-icons {
        line-height: 64px;
    }
}

.navbar__button {
    cursor: pointer;
    max-height: 64px;
    padding: 0 10px;
    // transition: 0.25s ease background-color;


    &:hover, a:hover {
        background-color: color("blue", "darken-1");

        .icon__spawn-text {
            opacity: 1;
        }

        i,
        strong,
        .icon__spawn-text,
        .navbar__button__circle-usercount {
            color: color("shades", "white");
        }
    }
}

.navbar__item {
    // background-color: color("grey", "lighten-3");
    &.navbar__item--active {
        background-color: color("blue", "darken-2");
        color: color("shades", "white");
        .navbar__link {
            color: color("shades", "white");
        }
    }
}

.navbar__button__anchor {
    padding: 0;
}

.navbar__right {
    li {
        max-height: 64px;
    }
}


.navbar__button__circle-usercount {
    margin-top: -19px;
    text-align: center;
    font-size: 13px;
}


//MY END

/**
 * #NAVBAR__LINK
 */
.navbar__link {
    cursor: pointer;
    font-size: 0.9rem;

    .navbar__icon.left {
        font-size: 1.3rem;
    }
}

/**
 * #NAVBAR__ICON
 */
.navbar__icon {
    float: left;
    margin-right: 10px;
    margin-top: -1px;

    &.right {
        float: right;
        margin-left: 10px;
    }
}

/**
 * #NAVBAR__SEARCH
 */
.navbar__search-wrapper {
    height: 56px;
    position: absolute;
    transition: 0.25s ease position, 0.25s ease width, 0.25s ease background-color;
    width: 60px;
    z-index: 800;
    #{$navbar__search--position}: 0;

    &.navbar__search-wrapper--wide {
        position: absolute;
        width: $navbar__search--width-mobile;

        @media (min-width: 600px) {
            width: $navbar__search--width;
        }
    }
    &:hover {
        background-color: color("blue", "darken-1");
    }

    @media (min-width: 600px) {
        height: 64px;
    }
}

.navbar__search {
    display: inline-block;
    height: 100%;
    position: relative;
    width: 100%;
}

.navbar__search-input {
    background-color: transparent;
    box-sizing: border-box !important;
    height: 100%;
    margin: 0 !important;
    max-width: 100%;
    outline: none;
    padding: 0 !important;
    transition: 0.4s 0.25s ease color, 0.4s 0.25s ease background-color !important;
    width: 100% !important;

    & + label i {
        color: color("shades", "white") !important;
    }

    .navbar__search--open & {
        background-color: color("shades", "white") !important;
        border: 0 !important;
        box-shadow: none !important;
        color: color("grey", "darken-3") !important;
        padding: 0 60px !important;
        transition: 0.25s ease width, 0.25s ease color, 0.25s ease background-color !important;

        & + label i,
        & + label + i {
            color: color("grey", "darken-3") !important;
        }
    }

    .navbar__search:not(.navbar__search--open) &:focus {
        background-color: inherit !important;
        color: inherit !important;

        & + label i {
            color: color("shades", "white") !important;
        }
        & + label + i {
            color: transparent !important;
        }
    }
}

.navbar__search-label {
    cursor: pointer !important;
    font-size: inherit !important;
    left: 0 !important;
    position: absolute;
    text-align: center;
    transform: translateY(0) !important;
    width: 100% !important;
    z-index: 1;

    i {
        display: inline-block !important;
    }

    .navbar__search--open & {
        left: 1rem !important;
        width: auto !important;
    }
}

.navbar__search-icon {
    opacity: 0;
    position: absolute;
    right: 15px;
    top: 0;
    transition: 0.25s 0.25s ease opacity;

    .navbar__search--open & {
        cursor: pointer;
        opacity: 1;
    }
}
