.pagination {
    display: block;
    line-height: 0;
    text-align: center;
    width: 100%;
    user-select: none;

    .dropdown-menu {
        max-height: 150px;
        overflow: auto;
    }
}

.pagination-list {
    align-items: center;
    border-radius: 0;
    display: inline-block;
    justify-content: center;
    line-height: 1em;
    list-style: none;
    margin: 0;
    padding: 0;

    .table + & {
        margin-top: 30px;
    }
    .tab-pane .table + & {
        margin-bottom: -15px;
    }

    &-small {
        display: none;
    }
    &.not-enough-space {
        display: none;

        & + .pagination-list-small {
            display: inline-block;
        }
    }
}

.page-item {
    float: left;

    &:not(:first-of-type) {
        margin-left: 1px;
    }
}

.page-link {
    cursor: pointer;

    &:hover {
        color: theme-color(primary) !important;
    }

    .active > & {
        background-color: theme-color(primary) !important;
        color: color(white) !important;
    }
    .active > &:hover {
        color: color(white) !important;
    }
}

.page-item-icon .page-link {
    font-size: 20px;
    padding: 3px 8px 6px 8px;

    .material-icons {
        margin-top: -2px;
    }
}