.pagination {
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    border-radius: 0;

    .table + & {
        margin-top: 30px;
    }
    .tab-pane .table + & {
        margin-bottom: -15px;
    }
}

.page-link {
    cursor: pointer;

    &:hover {
        color: theme-color(primary) !important;
    }

    .active > & {
        background-color: theme-color(primary) !important;
        color: color(white) !important;
    }
    .active > &:hover {
        color: color(white) !important;
    }
}

.page-item-icon .page-link {
    font-size: 20px;
    padding-top: 3px;
    padding-bottom: 6px;

    .material-icons {
        margin-top: -2px;
    }
}