.switch {
    position: relative;
    cursor: pointer;
    width:inherit;
    min-width: 90px;
    user-select: none;
    display: inline-block;
    margin-bottom: 0;
    min-height: 30px;

    &-right {
        padding-right: 65px;
        .switch-switch {
            right: 0;
        }
    }
    &-left {
        padding-left: 65px;
        .switch-switch {
            left: 0;
        }
    }
}

.switch-switch {
    position: absolute;
    height: 30px;
    vertical-align: top;
    width: 50px;
    right: 0;
    top: 0;
}

.switch-label {
    position: relative;
    min-height: 30px;
    top: 5px;

    i {
        position: relative;
        top:-2px;
        font-size: 20px;
    }
}


.switch-checkbox {
    display: none;
}

.switch-control {
    background-color: #c0c0c0;
    border-radius: 7.5px;
    display: block;
    height: 15px;
    margin: 7.5px 0;
    position: relative;
    transition: .4s ease-in-out background-color;
    width: 100%;

    &:after {
        background-color: $white;
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgba($black, .2);
        content: "";
        height: 25px;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: .25s ease-in-out left;
        width: 25px;
    }

    .switch-checkbox:checked + & {
        background-color: $green;

        &:after {
            left: calc(100% - 20px - 5px);
        }
    }
}
