.toasts-toast {
    position: absolute;
    bottom: 10px;
    left: 80px;

    display: block;
    z-index: z-index(modal-toast);
    transition: .25s ease-in-out transform;

    .alert {
        margin-bottom: 5px;
    }
}

.toasts {
    position: absolute;
    min-width: 320px;
    max-width: 100%;
    z-index: z-index(modal-toast);

    @media (min-width: $mobile-nav-breakpoint) {
        min-width: 480px;
    }
}