.toasts {
    position: absolute;
    min-width: 320px;
    max-width: 100%;
    z-index: z-index(modal-toast);

    @media (min-width: $mobile-nav-breakpoint) {
        min-width: 480px;
    }
}

.toasts-toast {
    position: fixed;
    bottom: 11px;
    left: 15px;
    display: block;
    z-index: z-index(modal-toast);
    transition: .25s ease-in-out transform;

    @media (min-width: $mobile-nav-breakpoint) {

        left: 218px;

        .toasts--mainnav-small & {
            left: 80px;
        }
    }

    .alert {
        position: relative;
        margin-bottom: 5px;
        padding: $content-padding-x $content-padding-y $content-padding-x 20px;
    }

    &-icon {
        position: absolute;
        left: 5px;
        top: 13px;
    }

    &-close {
        position: absolute;
        right: 1px;
        top: 3px;
        font-size: 12px;
        opacity: .3;
    }
}