.tooltip {
    margin: 0;
    opacity: 1;
    position: fixed;
    z-index: z-index(tooltip);

    &-right {
        margin-left: 3px;
        padding-left: 5px;
    }
    &-left {
        margin-right: 3px;
        padding-right: 5px;
    }
    &-top {
        margin-bottom: 3px;
        padding-bottom: 5px;
    }
    &-bottom {
        margin-top: 3px;
        padding-top: 5px;
    }
}

.tooltip-inner {
    box-shadow: $tooltip-box-shadow;

    .tooltip-image & {
        max-width: 100%;
    }
}

.tooltip-arrow {
    height: 0;
    position: absolute;
    width: 0;

    .tooltip-right & {
        border-bottom: 5px solid transparent;
        border-right: 5px solid $black;
        border-top: 5px solid transparent;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .tooltip-left & {
        border-bottom: 5px solid transparent;
        border-left: 5px solid $black;
        border-top: 5px solid transparent;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .tooltip-top & {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $black;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .tooltip-bottom & {
        border-bottom: 5px solid $black;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }
}

.tooltip-big-activity {
    background-color: theme-color(dark);
    padding: 3px;
    vertical-align: middle;
    color: $white;
    border-radius: $border-radius;
    cursor: pointer;


    &.green {
        color: theme-color(success);
    }
    &.grey {
        color: theme-color(secondary);
    }
    &.red {
        color: theme-color(danger);
    }

}