zaa-file-array-upload {
    & + .flag {
        margin-right: 70px;
    }
}

.zaa-file-array-upload {

    .form-group {
        margin: 0;
    }
}

.zaa-file-array-upload-description {
    display: block;
    width: 100%;
}