.zaaselect {
    display: block;
    position: relative;
    width: 100%;
    user-select: none;
}

.zaaselect-select {
    display: none;
}

.zaaselect-selected {
    background-color: $white;
    border: 1px solid map-get($grays, 600);
    cursor: pointer;
    display: block;
    padding: 0;
    position: relative;
    width: 100%;
}

.zaaselect-selected-text {
    display: block;
    padding: 7px 30px 6px 14px;
    width: 100%;
}

.zaaselect-dropdown-icon {
    font-size: 30px;
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);

    .zaaselect.open & {
        transform: translateY(-50%) rotate(180deg);
    }
    .zaaselect.selected & {
        right: 4px;
    }
}

.zaaselect-clear-icon {
    display: none;
    font-size: 25px;
    margin-top: 0;
    position: absolute;
    right: 36px;
    top: 50%;
    transform: translateY(-50%);

    .zaaselect.selected & {
        display: block;
    }
}

.zaaselect-dropdown {
    background-color: $white;
    border: 1px solid map-get($grays, 600);
    border-top: none;
    bottom: 2px;
    display: none;
    left: 0;
    padding: 5px 12px 10px;
    position: absolute;
    right: 0;
    transform: translateY(100%);
    z-index: z-index(dropdown);

    .zaaselect.open & {
        display: block;
    }
}

.zaaselect-overflow {
    max-height: 500px;
    overflow: auto;
}

.zaaselect-search {
    display: block;
    margin: 0 0 10px 0;
    width: 100%;
}

.zaaselect-search-input {
    background-color: map-get($grays, 100);;
    border: 1px solid map-get($grays, 600);
    display: block;
    outline: 0;
    padding: 5px 10px;
    width: 100%;
}

.zaaselect-item {
    padding: 5px 10px;

    &:hover {
        background-color: theme-color(primary);
        color: $white;
        cursor: pointer;
    }
}