zaa-image-array-upload {
    & + .flag {
        margin-right: 70px;
    }
}

.form-i18n zaa-image-array-upload.is-empty {
    .alert {
        margin-right: 45px;
    }

    & + .flag {
        margin-right: 0;
    }
}