.zaa-datetime {
    .input-group {
        float: left;
    }

    .input-group-addon .material-icons {
        font-size: 1.3em;
    }

    .hour-selection {
        margin-left: 25px;
    }
    
}

.zaa-datetime-time-colon {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    margin: 0 0 0 -4px;
    padding: 0;
    z-index: z-index(above-content);
}

.zaa-datetime-hour-input {
    border-right: 0;
}

.zaa-datetime-minute-input {
    border-left: 0;
}

.zaa-datetime-hour-input,
.zaa-datetime-minute-input {
    max-width: 45px;
    text-align: center;
    width: 100%;
}