header, main, footer {
    padding-left: 240px;
 }

 @media only screen and (max-width : 992px) {
   header, main, footer {
     padding-left: 0;
   }
 }
 
/* luya custom css */
 
body {
	background-color:#F5F5F5;
}

.sort-btn {
	padding:2px; cursor:pointer;
}

.sort-btn:hover {
	background-color:#F0F0F0;
}