/**
 * Base colors
 */

$white: #fff;
$black: #000;
$grey: #f5f5f5;
$grey--darken: darken($grey, 10);
$grey--dark: darken($grey, 30);
$grey--darker: darken($grey, 60);

$bluegrey--lighten-2:       #CFD8DC;
$bluegrey--lighten-3:       #B0BEC5;

$red:               #f44336;

$deeporange:        #FF5722;

$blue:                      #2196F3;
$light-blue-accent-3:       #00b0ff;
$blue--lighten-5:           #e1f5fe;

$teal:              #009688;
$teal--lighten-2:   #B2DFDB;

$lime:              #CDDC39;

$purple--lighten-2: #ba68c8;
$pink--accent-3:	#f50057;
$pink--accent-4:	#c51162;

$green:				#4caf50;
$green--lighten-3:  #A5D6A7;
$green--accent-4:	#00c853;
$green--darken-3:	#2e7d32;

/**
 * Page settings
 */
$page--background: 							$white;
$page__header--background:					$grey;
$page__header--color:						$black;

/**
 * Accordion
 */
$accordion__header-bg:                      #4E4E4E;
$accordion__header-bg--lighten:				#9E9E9E;

/**
 * Collapsible
 */
$collapsible__header--background:			#4E4E4E;
$collapsible__header--color:				$white;
$collapsible--background:					#E0E0E0;

/**
 * Blocks
 */
$block--background:							lighten($grey, 2.5);
$block--active-background:					$white;
$block--hidden-background:					$white;
$block--background-is-dirty:				#b3e5fc;

$block__toolbar--height:					37px;
$block__toolbar--background:				$teal;
$block--hidden__toolbar-background:			$grey;
$block__toolbar--color:						$white;

$block__toolbar__icon:                      $white;
$block__toolbar__icon--hover:               $lime;
$block__toolbar__icon--active:              $lime;

$block__configs--background:				$grey;

$container-block--colors: (
    1: "#0D47A1",
    2: "#1976D2",
    3: "#2196F3",
    4: "#64B5F6"
);

$page__drop-zone--background:				$green--accent-4;
