# netbeans
/nbproject

# composer vendor dir
/vendor

# composer itself
composer.phar

# mac DS_Store files
.DS_Store

/bin

# public files
#/public_html/assets
#/public_html/storage

# project config
/configs/local.php
/configs/server.php

/config/local.php
/config/server.php

# eclipse
.buildpath
.project
.settings