# netbeans
/nbproject

# PHPStorm
.idea/

# eclipse
.buildpath
.project
.settings

# general folders and files
/vendor
/bin
/luya
composer.phar
.DS_Store

# project config
/configs/env-local-db.php
/configs/env.php

# SASS
/resources/.sass-cache