* {
    font-family: 'Open Sans', sans-serif;
}

#content {
   margin-top:20px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #ff9058;
}

.footer .text-muted {
    margin:20px 0px; color:white;
}

.footer .text-muted a {
   color:white; text-decoration:underline;
}

.active a {
    background-color: #ff9058 !important;
    color:white !important;
}