<?php

defined('YII_DEBUG') or define('YII_DEBUG', true);
defined('YII_ENV') or define('YII_ENV', 'dev');

$config = [
    'id' => 'testenv', // For best interoperability it is recommended that you use only alphanumeric characters when specifying an application ID
    'siteTitle' => 'Test-Env', // The name of your site, will be display on the login screen
    'basePath' => dirname(__DIR__),
    'defaultRoute' => 'cms', // set the default module
	'modules' => [
        // locale
        'ngresttest' => 'ngresttest\Module',
        
        // modules folder
        'cms' => 'luya\cms\frontend\Module',
        'cmsadmin' => 'luya\cms\admin\Module',
        'admin' => 'luya\admin\Module',
        'account' => 'luya\account\frontend\Module',
        'accountadmin' => 'luya\account\admin\Module',
        'crawler' => [
            'class' => 'luya\crawler\frontend\Module',
            'baseUrl' => 'http://luya.io',
        ],
        'crawleradmin' => 'luya\crawler\admin\Module',
        'exporter' => 'luya\exporter\Module',
        'news' => 'luya\news\frontend\Module',
        'newsadmin' => 'luya\news\admin\Module',
        
        // yii2
        'gii' => 'yii\gii\Module',
        'debug' => 'yii\debug\Module',
    ],
    'components' => [
    	'mail' => [
    	],
    	'errorHandler' => [
            'transferException' => false,
        ],
        'db' => [
            'class' => 'yii\db\Connection',
            'dsn' => 'mysql:host=localhost;dbname=DB_NAME',
            // 'dsn' => 'mysql:host=localhost;dbname=DB_NAME;unix_socket=/Applications/MAMP/tmp/mysql/mysql.sock', // OSX MAMP
            // 'dsn' => 'mysql:host=localhost;dbname=DB_NAME;/Applications/XAMPP/xamppfiles/var/mysql/mysql.sock', // OSX XAMPP
            'username' => '',
            'password' => '',
            'charset' => 'utf8'
        ],
        'assetManager' => [
		    'class' => 'luya\web\AssetManager',
		    'linkAssets' => true,
		],
    ],
    'bootstrap' => [
        'cms', 'debug'
    ]
];

return $config;
