<?php

define('YII_DEBUG', true);
define('YII_ENV', 'dev');

return [
    'id' => 'testenv', // For best interoperability it is recommended that you use only alphanumeric characters when specifying an application ID
    'siteTitle' => 'Test-Env', // The name of your site, will be display on the login screen
    'basePath' => dirname(__DIR__),
    'defaultRoute' => 'cms', // set the default module
    'modules' => [
        // locale
        'ngresttestadmin' => 'ngresttest\Module',
        // modules folder
        'cms' => 'luya\cms\frontend\Module',
        'cmsadmin' => [
            'class' => 'luya\cms\admin\Module',
        ],
        'admin' => [
            'class' => 'luya\admin\Module',
            'interfaceLanguage' => 'ru',
            'secureLogin' => false,
        ],
        'debug' => 'yii\debug\Module',
    ],
    'components' => [
        'mail' => [
            'password' => 'HalloZephir2015!',
        ],
        'errorHandler' => [
            'transferException' => false,
        ],
        'db' => [
            'class' => 'yii\db\Connection',
            'dsn' => 'mysql:host=localhost;dbname=luya_envs_dev',
            // 'dsn' => 'mysql:host=localhost;dbname=DB_NAME;unix_socket=/Applications/MAMP/tmp/mysql/mysql.sock', // OSX MAMP
            // 'dsn' => 'mysql:host=localhost;dbname=DB_NAME;/Applications/XAMPP/xamppfiles/var/mysql/mysql.sock', // OSX XAMPP
            'username' => 'root',
            'password' => 'defaultPassword',
            'charset' => 'utf8'
        ],
        'cache' => [
            'class' => 'yii\caching\DummyCache',
        ],
        'assetManager' => [
             'class' => 'luya\web\AssetManager',
             'linkAssets' => true,
        ],
    ],
    'bootstrap' => [
        'debug', 'luya\cms\frontend\Bootstrap', // 'nord\yii\account\Bootstrap',
    ]
];