// Internet Explorer

// IE 10
body[class*='internet-explorer-'] {

    /**
     * ====================
     * LUYA Wrappers
     * ====================
     */

    // Main / Mainnav

    .luya-main-wrapper {
        max-width: calc(100% - #{$mainnav-width});
    }

    .luya-mainnav-small + .luya-main-wrapper {
        max-width: calc(100% - #{$mainnav-width-small});
    }

    // Subnav

    .luya-subnav.overlaying {
        @media (min-width: $mobile-nav-breakpoint) {
            transform: translateX(-80%);

            &:hover {
                transform: translateX(0);
            }
        }
    }

    /**
     * ====================
     * Mainnav
     * ====================
     */

    .mainnav {
        display: block;
        overflow: visible;
        -ms-overflow-style: none; // IE 10+
    }

    .mainnav-static {
        height: auto;
    }

    .mainnav-modules {
        height: auto;
    }

    .mainnav-toggler {
        z-index: 1000;
    }

    .mainnav-label {
        margin-left: 20px;
        margin-top: 3px;
    }

    .mainnav-user-online {
        left: 13px;
    }

    /**
     * ====================
     * CRUD
     * ====================
     */

    .crud-buttons-column {
        padding: 0;
    }

    .crud-buttons {
        background-color: transparent;
        display: block;
        overflow: hidden;
        position: relative;
        vertical-align: middle;
    }

    .crud-buttons-toggler {
        display: none;
    }

    .crud-buttons-pan {
        background-color: transparent;
        bottom: auto;
        display: block;
        font-size: 0;
        left: auto;
        opacity: 1;
        padding: 0;
        position: relative;
        text-align: right;
        top: auto;
        transform: none;
        white-space: nowrap;
        z-index: 10;

        &:before {
            display: none;
        }
    }

    .crud-buttons-button {
        color: color(gray);

        &:hover {
            color: $white;
        }
    }

    /**
     * ====================
     * ZAA
     * ====================
     */
    .zaa-datetime .hour-selection .input-group-addon,
    .zaa-datetime-hour-input,
    .zaa-datetime-minute-input {
        height: 39px;
    }

    .zaa-datetime ._720kb-datepicker-calendar {
        position: absolute;
        left: 0;
    }
}