body[class*='safari'] {
    .mainnav {
        @media (min-width: $mobile-nav-breakpoint) {
            min-height: 100vh;
            height: 100%;
            width: $mainnav-width;

            &-small {
                flex: 0 0 $mainnav-width-small;
                width: $mainnav-width-small;
            }
            user-select: none;
        }
    }
    .mainnav-link {
        display: block;
    }
}

body[class*='safari-8'],
body[class*='safari-7'],
body[class*='safari-6'],
body[class*='safari-6'] {
    .material-icons {
        display: none;
    }
}