/**
 * HTML, body
 * Set height and width to 100%
 */
html,
body {
    // Dimensions
    height: 100%;
    width: 100%;
}

::selection {
    background: color("blue", "base");
    color: color("shades", "white");
}

*, *:before, *:after {
    box-sizing: border-box;
}

.clickable {
    cursor: pointer;
    user-select: none;
}

.selectable {
    user-select: initial;
}

.clearfix:after {
    clear: both;
    content: "";
    display: table;
}