

h1, h2, h3, h4, h5, h6 {
    line-height: 110%;
    margin: 15px 0;
    letter-spacing: normal;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.6rem;
}
h3 {
    font-size: 2.3rem;
}
h4 {
    font-size: 1.8rem;
}
h5 {
    font-size: 1.6rem;
}
h6 {
    font-size: 1.3rem;
}

